html{
    height: 100%;
}
body{
    position: relative;
    height: 100%;
    min-width: 960px;
    background: #f1f5f5;
}
.ConWrap{
    margin-bottom: 70px;
    background: #f1f5f5;
}
.containerBox{
    padding: 0 5px;
}


/*固定侧边导航*/
/*.header,.ConWrap,.footer {*/
    /*padding-left: 280px;*/
/*}*/
/*@media only screen and (max-width : 992px) {*/
    /*.header, .ConWrap {*/
        /*padding-left: 0;*/
    /*}*/
/*}*/
.no-marBottom{
    margin-bottom: 0;
}
.no-mp{
    margin: 0;
}
/*.no-pm{*/
    /*padding-left: 0;*/
/*}*/
/*侧边导航样式调整*/

.side-nav{
    background: #1c2127;
    color: white;
}
.side-nav a{
    color: white;
}

.nav-logo {
    /*color: #fff;*/
    height: 64px;
}
.userBox{
    margin-bottom: 0;
    cursor: pointer;
}

.side-nav .divider{
    margin: 0;
}
.side-nav li.active{
    background: red;
}
/*.side-nav .collapsible-header{*/
/*padding:0 32px ;*/
/*}*/
.side-nav a{
    padding: 0 16px;
}
.first-N i{
    font-size: 1.6rem;
}
.slider_nav_box a{
    padding: 0;
}
.side-nav .collapsible-body li:hover{
    background: green;
}
/*.side-nav>.bold:hover{*/
    /*background: paleturquoise;*/
/*}*/

    /*加载遮罩层*/
.shadeDowWrap{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 10000000000;
}
.shadeDow{
    width: 100%;
    height: 100%;
}
.preloader-wrapper.big{
    width: 200px;
    height: 200px;
}



/*固定底部样式*/
.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px;
    background: #667481;
    z-index: 10;
}
.footer-msg{
    color: white;
    padding-right: 20px;
    font-size: 20px;
}



/*车辆管理样式*/
/*home*/
.gm-1,.gm-2,.gm-3{
    /*height:330px;*/
    margin-top: 60px;
}
.gm1-left .gm1-leftBoxWrap{
    /*height: 145px;*/
}

.gm1-leftBoxWrap .gm1-leftBox{
    height: 145px;
    /*margin: 20px;*/
}
.gm1-right{
    height: 310px;
}
/*.gm1-right div{*/
/*height: 100%;*/
/*}*/
/*各种车辆类别数量*/
.category-T{
    margin-top: 10px;
}
.category-T i{
    font-size: 2.5rem;
}
.category-TMsg{
    font-size: 13px;
    margin-left: 15px;
}
.category-TNum{
    font-size: 40px;
}
.category-F{
    margin-top: 40px;
}
.category-F-divider{
    /*margin: 0 10px;*/
}
.gm1-rightT{
    margin: 20px;
    font-size: 2rem;
}
.gm1-rightTMsg{
    font-size: 1rem;
}
.gm1-rightTNum{
    margin: 20px 0;
    font-size: 40px;
}
.gm-2{
    /*height: 150px;*/
}
.gm-2Box{
    height: 90px;
    background: white;
    margin: 20px 0;
    font-size: 40px;
}
.gm-2BoxLine{
    border-right: 1px solid #d5d5d5;
}

.gm-2BoxWrap{
    margin: 0 auto;
}
.gm-2BoxTitle{
    font-size: 20px;
    margin: 0 10px;
}
.gm-2BoxNum{
    /*margin-left: 5px;*/
}
.gm-3{
    /*height: 160px;*/
}
.gm-3box{
    height: 160px;
    background: #f88282;
    color: white;
}
.gm-3Title{
    font-size: 25px;
}
.gm-3Msg{
    font-size: 14px;
}
.gm-3Num{
    font-size: 100px;
}

/*carMsg*/
/*.CarMsgWrap .select-dropdown{*/
/*margin: 0;*/
/*}*/


/*顶部搜索样式*/
.searchBoxWrap{
    background: #f1f5f6;
}
.searchBoxWrap input{
    margin: 0;
}
#LookCompany input{
    margin: 0;
}
.searchBoxWrap .input-field{
    margin: 0;
}
.searchBox{
    position: relative;
    margin-bottom: 20px;

}
input[type=text]{
    margin: 0;
}

.operation {
    font-size: 20px;
}
.operation span{
    cursor: pointer;
    margin-right: 10px;
}
.search{
    width: auto;

    margin: 0;
}
.hSearch{
    background: rgba(0,0,0,0.1);
}
.searchIcon{
    font-size: 20px;
    cursor: pointer;
    height: auto;
}



/*切换选项卡*/
.PublicTabs{
    height: 50px;
}
.PublicTabs div{
    height: 100%;
    cursor: pointer;
    border-right: 1px solid white;
}
.PublicTabs .active{
    background: white;
    border-bottom: 1px solid black;
}

/*日期选择组件*/
.dateBox{
    position: relative;
}
.dataIcon{
    position: absolute;
    right: 0;
    bottom: 10px;
}

/*模态弹出层*/

.modal-content p{
    margin: 0;
}
.modal{
    min-width: 1040px;
}
/*自定义form验证*/
.has-error input{
    border-bottom: 1px solid red;
}
.has-error select{
    border: 1px solid red;
}
.has-error textarea{
    border: 1px solid red;
}
.has-inputError{
    border: 1px solid red;

}
.form_box{
    position: relative;
}
.form-tips{
    position: absolute;
    right: 0;
    top: 0;
}

/*系统用户界面*/
.users_chip{
    height: 100px;
    line-height: 100px;
    font-size: 35px;
    padding: 0 20px;
    border-radius: 60px;
    border: 1px solid #00bcd4;
    background: white;
    color: #00bcd4;
    cursor: pointer;
}
.usersWrap .active{
    border: 1px solid #00bcd4;
    background: #00bcd4;
    color: white;
}
.sexBox{
    font-size: 40px;
}
.sexBox i{
    cursor: pointer;
}
.sexBox .sex{
    color:#00bcd4 ;
}
/*分割条样式*/
.a1_divider{
    background: #00bcd4; height: 2px;
}
.blue_divider{
    background: #2196F3 !important; height: 2px;
}
/*增加品牌*/
.add_Brand_Icon{
    font-size: 25px;
    cursor: pointer;
}
.Brand_box input[readonly]{
    border-bottom: none;
}
.remark_brand_box{
    margin-bottom: 20px;
}
.car_model{
    background: gainsboro;
}
.car_model input{
    margin-bottom: 5px;
}
.selfBrand_operation{
    display: none;
}
.okCar_model{
    background: white;
}

/*新增入库车辆*/
/*最小宽度*/
.min-width{
    min-width:98px;
}