<ul id="slide-out" class="side-nav blue-grey darken-4">
    <li class="nav-logo valign-wrapper " style="border-bottom: 1px solid #182024">
        <div class="  userBox">
            <!--<div class="col s3 valign-wrapper">-->
            <img src="../../assets/images/office.jpg" alt="" class=" responsive-img left logo_img" style="height: 50px"> <!-- notice the "circle" class -->
            <!--</div>-->
            <div class=" userBoxMsg left">
              <span class="white-text">
                操作员:
              </span>
                <span class="white-text" ng-bind="userName">

                </span>
            </div>
        </div>
    </li>
    <li class="bold side_navigator">
        <a href="#!"   ui-sref="user_info"   class="waves-effect waves-light first-N" ><i class="white-text mdi mdi-account-card-details"></i>用户信息</a>
    </li>
    <li class="bold side_navigator">
        <a href="#!"   ui-sref="car_demand"  class="waves-effect waves-light first-N" ><i class="white-text mdi mdi-magnify"></i>车辆查询</a>
    </li>

</ul>