<!-- 主菜单：信用证 -> 详情信息 画面 -->
<div class="credit_car_detail">
    <div class="modal-content grey-text text-darken-2">

        <!-- 返回前画面 按钮 -->
        <div class="storage_storeTitle vc-center ">
            <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="return()">
                <i class="mdi mdi-arrow-left-bold"></i>
            </a>
            <h4 class="center-align cyan-text text-lighten-1">信用证详情</h4>
        </div>

        <!-- 车辆信息画面 主体内容 -->
        <div class="row no-marBottom" ul-tabs>
            <!-- 功能选项卡 -->
            <div class="col s12 p0">
                <ul class="tabWrap grey lighten-4 ">
                    <li class="tab col s6 vc-center lookMsg" ng-click="showMsgInfo()">基本信息</li>
                    <li class="tab col s6 vc-center lookLinkCar" ng-click="showLinkCar()">关联车辆</li>
                </ul>
            </div>

            <!-- 基本信息 显示区域 -->
            <div id="lookMsg" class="col s12 tab_box " >

                <!--未完结-->
                <div class="row col s12" ng-if="baseInfoList.credit_status==1">
                    <!-- 第一行：状态 -->
                    <div class="input-field col s12 right-align red-text" >{{statusList[baseInfoList.credit_status-1].name}}</div>

                    <!-- 第二行：信用证基本内容 -->
                    <div class="row" >
                        <!-- 信用证编码 -->
                        <div class="input-field col s3" >
                            <input type="text" id="putCreditId" ng-model="baseInfoList.credit_number">
                            <label for="putCreditId"><span class="red-text">*</span>信用证编码</label>
                        </div>

                        <!-- 委托方性质 -->
                        <div class="input-field col s3">
                            <select material-select watch id="putEntrustType" ng-model="baseInfoList.entrust_type" ng-change="getEntrustInfo(baseInfoList.entrust_type,'委托方')">
                                <option value="" disabled>请选择</option>
                                <option ng-repeat="el in entrustTypeList" ng-value="el.entrust_type">{{el.name}}</option>
                            </select>
                            <label for="putEntrustType">委托方性质</label>
                        </div>

                        <!--委托方-->
                        <div class="input-field col s3">
                            <select  id="putEntrustSelect" style="width: 100%">
                                <option value="" ></option>
                                <option ng-repeat="el in putEntrustList" ng-value="el.id">{{el.short_name}}</option>
                            </select>
                        </div>

                        <div class="input-field col s3">
                            <input type="text" id="putInvoiceNumber" ng-model="baseInfoList.invoice_number">
                            <label for="putInvoiceNumber">发票号码</label>
                        </div>

                        <!-- 信用证金额(美元) -->
                        <div class="input-field col s3">
                            <input type="text" id="putCreditMoney" ng-model="baseInfoList.credit_money" maxlength="8" valid-money ng-change="setDifference()">
                            <label for="putCreditMoney"><span class="red-text">*</span>信用证金额(美元)</label>
                        </div>

                        <!-- 接证金额(美元) -->
                        <div class="input-field col s3">
                            <input type="text" id="putAcceptFee" ng-model="baseInfoList.receive_card_money" maxlength="8" valid-money  ng-change="setActualMoney()">
                            <label for="putAcceptFee" class="active"><span class="red-text">*</span>接证金额(美元)</label>
                        </div>

                        <!-- 实际到款金额(美元) -->
                        <div class="input-field col s3" >
                            <input type="text" id="putActualMoney" ng-model="baseInfoList.actual_money" disabled>
                            <label for="putActualMoney"><span class="red-text">*</span>实际到款金额(美元)</label>
                        </div>
                    </div>

                    <!-- 第三行：信用证扣费项目 -->
                    <div class="row left cyan-text" style="margin-bottom: 5px;padding-left:10px;padding-right: 10px;">
                        信用证扣费项目
                    </div>
                    <div class="row" style="margin-bottom: 10px;padding-left:10px;padding-right: 10px;">
                        <div class="col s12" style="border:1px solid grey;padding-bottom: 5px;">
                            <!-- 新增條件：快递费(美元) -->
                            <div class="input-field col s3">
                                <input type="text" id="expressFee" valid-money maxlength="8" ng-model="baseInfoList.express_fee" ng-change="setActualMoney()">
                                <label for="expressFee" class="active">快递费(美元)</label>
                            </div>

                            <!-- 新增條件：通知费(美元) -->
                            <div class="input-field col s3">
                                <input type="text" id="advisingCharges" valid-money maxlength="8" ng-model="baseInfoList.inform_fee" ng-change="setActualMoney()">
                                <label for="advisingCharges" class="active">通知费(美元)</label>
                            </div>

                            <!-- 新增條件：修改通知费(美元) -->
                            <div class="input-field col s3">
                                <input type="text" id="againAdvisingCharges" valid-money maxlength="8" ng-model="baseInfoList.update_inform_fee" ng-change="setActualMoney()">
                                <label for="againAdvisingCharges" class="active">修改通知费(美元)</label>
                            </div>

                            <!-- 新增條件：手续费(美元) -->
                            <div class="input-field col s3">
                                <input type="text" id="serviceCharge" valid-money maxlength="8" ng-model="baseInfoList.proce_fee" ng-change="setActualMoney()">
                                <label for="serviceCharge" class="active">手续费(美元)</label>
                            </div>

                            <!-- 新增條件：离岸汇款手续费(美元) -->
                            <div class="input-field col s3">
                                <input type="text" id="offshoreServiceCharge" valid-money maxlength="8" ng-model="baseInfoList.leave_shore_fee" ng-change="setActualMoney()">
                                <label for="offshoreServiceCharge" class="active">离岸汇款手续费(美元)</label>
                            </div>

                            <!-- 新增條件：美国收款手续费(美元) -->
                            <div class="input-field col s3">
                                <input type="text" id="ashoreReceivablesServiceCharge" valid-money maxlength="8" ng-model="baseInfoList.us_receipts_fee" ng-change="setActualMoney()">
                                <label for="ashoreReceivablesServiceCharge" class="active">美国收款手续费(美元)</label>
                            </div>

                            <!-- 新增條件：美国汇款手续费(美元) -->
                            <div class="input-field col s3">
                                <input type="text" id="ashoreRemittanceServiceCharge" valid-money maxlength="8" ng-model="baseInfoList.us_remit_fee" ng-change="setActualMoney()">
                                <label for="ashoreRemittanceServiceCharge" class="active">美国汇款手续费(美元)</label>
                            </div>

                            <!-- 新增條件：差额(美元) -->
                            <div class="input-field col s3">
                                <input type="text" id="difference" ng-model="baseInfoList.difference_fee" disabled>
                                <label for="difference" class="active">差额(美元)</label>
                            </div>
                        </div>
                    </div>

                    <!--第四行：信用证相关日期-->
                    <div class="row left cyan-text" style="margin-bottom: 5px;padding-left:10px;padding-right: 10px;">
                        相关日期
                    </div>
                    <div class="row" style="margin-bottom: 10px;padding-left:10px;padding-right: 10px;">
                        <div class="col s12" style="border:1px solid grey;padding-bottom: 5px;">
                            <!-- 预计回款日期 -->
                            <div class="input-field col s3">
                                <input type="text" id="putPlanReturnDate" ng-model="baseInfoList.plan_return_date" class="datepicker" date>
                                <i class="mdi dataIcon mdi-table-large"></i>
                                <label for="putPlanReturnDate">预计回款日期</label>
                            </div>
                            <!--接证日期-->
                            <div class="input-field col s3">
                                <input id="putReceiveCardDate" type="text" ng-model="baseInfoList.receive_card_date" class="datepicker" date>
                                <i class="mdi dataIcon mdi-table-large"></i>
                                <label for="putReceiveCardDate">接证日期</label>
                            </div>

                            <!-- 交单日期 -->
                            <div class="input-field col s3">
                                <input type="text" id="putDocumentsDate" ng-model="baseInfoList.documents_date" class="datepicker" date>
                                <i class="mdi dataIcon mdi-table-large"></i>
                                <label for="putDocumentsDate">交单日期</label>
                            </div>

                            <!--实际回款日期-->
                            <div class="input-field col s3">
                                <input id="putActualReturnDate" type="text" ng-model="baseInfoList.actual_return_date" class="datepicker" date>
                                <i class="mdi dataIcon mdi-table-large"></i>
                                <label for="putActualReturnDate">实际回款日期</label>
                            </div>

                            <!--文件发出日期-->
                            <div class="input-field col s3">
                                <input id="putDocumentsSendDate" type="text" ng-model="baseInfoList.documents_send_date" class="datepicker" date>
                                <i class="mdi dataIcon mdi-table-large"></i>
                                <label for="putDocumentsSendDate">文件发出日期</label>
                            </div>

                            <!--开户行文件接收日期-->
                            <div class="input-field col s3">
                                <input id="putDocumentsReceiveDate" type="text" ng-model="baseInfoList.documents_receive_date" class="datepicker" date>
                                <i class="mdi dataIcon mdi-table-large"></i>
                                <label for="putDocumentsReceiveDate">开户行文件接收日期</label>
                            </div>

                            <!--实际汇款日期-->
                            <div class="input-field col s3">
                                <input id="putActualRemitDate" type="text" ng-model="baseInfoList.actual_remit_date" class="datepicker" date>
                                <i class="mdi dataIcon mdi-table-large"></i>
                                <label for="putActualRemitDate">实际汇款日期</label>
                            </div>
                        </div>
                    </div>

                    <!--第五行-->
                    <div class="row col s12">

                        <div class="input-field col s12" style="margin-top: 20px;padding-bottom:10px;color: grey;border-bottom: 1px dotted #ccc" ng-if="baseInfoList.repayment_id==0">关联还款编号:无</div>
                        <div class="input-field col s12" style="margin-top: 20px;padding-bottom:10px;color: grey;border-bottom: 1px dotted #ccc" ng-if="baseInfoList.repayment_id!==0">关联还款编号:{{baseInfoList.repayment_id}}</div>
                    </div>

                    <!--第六行-->
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" id="putRemarkText" ng-model="baseInfoList.remark">
                            <label for="putRemarkText">备注</label>
                        </div>
                    </div>

                    <!-- 最终行 -->
                    <div class="row">
                        <div class="input-field col s12 right-align">录入时间：{{baseInfoList.created_on |date:'yyyy-MM-dd hh-mm'}}</div>
                    </div>

                    <div class="row" style="margin: 40px 0 15px 0" ng-if="baseInfoList.credit_status == 1">
                        <div class="col s4 offset-s8">
                            <div class="col s6">
                                <a ng-click="putCurrentBaseInfo()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                                    保存
                                </a>
                            </div>
                            <div class="col s6">
                                <a ng-click="endOfProcessing()" style="width: 100%;background-color:#f0ad4e;" class="waves-light waves-effect lighten-1 btn">
                                    完结
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--已完结-->
                <div class="row col s12" ng-if="baseInfoList.credit_status!==1">
                    <!--第一行-->
                    <div class="row cyan-text" style="margin-top:15px;">
                        <div class="input-field col s6 left-align bold fz20">
                            信用证号:{{baseInfoList.credit_number}}
                        </div>
                        <div class="input-field col s6 right-align bold">{{statusList[baseInfoList.credit_status-1].name}}</div>
                    </div>

                    <!--第二行-->
                    <div class="row" style="padding-left:10px;padding-right: 10px;">
                        <div class="col s12 white bold cyan-text" style="border:1px solid #ccc;height: 60px;line-height: 30px;">
                            <div class="col s3 input-field">委托方：{{baseInfoList.short_name}}({{entrustTypeList[baseInfoList.entrust_type-1].name}})</div>
                            <div class="col s3 input-field">信用证金额(美元)：<span class="red-text">{{baseInfoList.credit_money}}</span></div>
                            <div class="col s3 input-field">接证金额(美元)：<span class="red-text">{{baseInfoList.receive_card_money}}</span></div>
                            <div class="col s3 input-field right-align">实际到款金额(美元)：<span class="red-text">{{baseInfoList.actual_money}}</span></div>
                        </div>
                    </div>

                    <!-- 信用证扣费项目 -->
                    <div class="row left cyan-text" style="margin-bottom: 5px;padding-left:10px;padding-right: 10px;">
                        信用证扣费项目
                    </div>
                    <div class="row grey-text lighten-1" style="padding-left:10px;padding-right: 10px;">
                        <div class="col s12 white" style="border:1px solid #ccc;height: 100px;line-height: 40px;padding-top:10px;">
                            <div class="col s3">快递费(美元)：{{baseInfoList.express_fee|number:2}}</div>
                            <div class="col s3">通知费(美元)：{{baseInfoList.inform_fee|number:2}}</div>
                            <div class="col s3">修改通知费(美元)：{{baseInfoList.update_inform_fee|number:2}}</div>
                            <div class="col s3">手续费(美元)：{{baseInfoList.proce_fee|number:2}}</div>

                            <div class="col s3">离岸汇款手续费(美元)：{{baseInfoList.leave_shore_fee|number:2}}</div>
                            <div class="col s3">美国收款手续费(美元)：{{baseInfoList.us_receipts_fee|number:2}}</div>
                            <div class="col s3">美国汇款手续费(美元)：{{baseInfoList.us_remit_fee|number:2}}</div>
                            <div class="col s3">差额(美元)：{{baseInfoList.difference_fee|number:2}}</div>
                        </div>
                    </div>

                    <!-- 信用证相关日期 -->
                    <div class="row cyan-text" style="margin-bottom: 5px;padding-left:10px;padding-right: 10px;">
                        相关日期
                    </div>
                    <div class="row grey-text lighten-1" style="padding-left:10px;padding-right: 10px;">
                        <div class="col s12 white" style="border:1px solid #ccc;height: 100px;line-height: 40px;padding-top:10px;">
                            <div class="col s3">接证日期：{{baseInfoList.receive_card_date|date:'yyyy-MM-dd'}}</div>
                            <div class="col s3">交单日期：{{baseInfoList.documents_date |date:'yyyy-MM-dd'}}</div>
                            <div class="col s3">文件发出日期：{{baseInfoList.documents_send_date|date:'yyyy-MM-dd'}}</div>
                            <div class="col s3">开户行文件接收日期：{{baseInfoList.documents_receive_date|date:'yyyy-MM-dd'}}</div>

                            <div class="col s3">预计回款日期：{{baseInfoList.plan_return_date|date:'yyyy-MM-dd'}}</div>
                            <div class="col s3">实际回款日期：{{baseInfoList.actual_return_date|date:'yyyy-MM-dd'}}</div>
                            <div class="col s3">实际汇款日期：{{baseInfoList.actual_remit_date|date:'yyyy-MM-dd'}}</div>
                        </div>
                    </div>

                    <!-- 其他信息 -->
                    <div class="row cyan-text" style="margin-bottom: 5px;padding-left:10px;padding-right: 10px;">
                        其他信息
                    </div>
                    <div class="row grey-text lighten-1" style="padding-left:10px;padding-right: 10px;">
                        <div class="col s12 white" style="border:1px solid #ccc;height: 140px;line-height: 40px;padding-top:10px;">
                            <div class="col s6">发票号：{{baseInfoList.invoice_number}}</div>
                            <div class="col s6 right-align">关联还款编号：{{baseInfoList.repayment_id}}</div>
                            <div class="col s12">备注：{{baseInfoList.remark}}</div>

                            <div class="col s6">录入时间：{{baseInfoList.created_on|date:'yyyy-MM-dd HH:mm'}}</div>
                            <div class="col s6 right-align">完结时间：{{baseInfoList.credit_end_date|date:'yyyy-MM-dd HH:mm'}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 关联车辆 显示区域 -->
            <div id="lookLinkCar" class="col s12 tab_box" style="width: 95%; margin:0 2%;">

                <!--未完結-->
                <div class="row col s12" ng-show="baseInfoList.credit_status==1">
                    <!--上部分：查询功能-->
                    <div class="row col" style="width: 100%;position: relative">

                        <div class="input-field col s12">
                            <input type="text" id="autocomplete-input" placeholder="模糊查询至少需要6位vin" ng-change="shortSearch(creditVin)" ng-model="creditVin" style="margin: 0 0 20px 0" class="autocomplete">
                            <label for="autocomplete-input" class="label-active">VIN</label>
                        </div>
                        <button class="btn btn-floating btn-small waves-effect cyan lighten-1" ng-if="addCarInfoFlg" ng-click="addLinkCar()"  style="position: absolute;top: 15px;right: 10px;">
                            <i class="mdi white-text mdi-plus fz30"></i>
                        </button>
                        <button class="btn btn-floating btn-small waves-effect cyan lighten-1" ng-if="!addCarInfoFlg" disabled style="position: absolute;top: 15px;right: 10px;">
                            <i class="mdi white-text mdi-plus fz30"></i>
                        </button>
                    </div>
                    <!--表格部分：查询结果-->
                    <div class="col s12" ng-if="getLinkCarList.length!==0" ng-repeat="linkCar in getLinkCarList" style="height:270px">
                        <div class="row blue-grey lighten-5" style="width:98%;border:1px solid #bdbdbd">
                            <!-- header -->
                            <div class="col s12 lighten-1 cyan-text vc-center left-align" style="height:50px;">
                                <div class="col" style="width:68%;padding-right: 0;">
                                    VIN：{{linkCar.vin}}
                                    <!-- 金融车(0：不是金融车， 1 金融车) -->
                                    <span ng-show="linkCar.purchase_type==1" class="mdi mdi-cash-usd fz18" style="margin-left: 30px;color: #f0ad4e"></span>
                                    <span ng-show="linkCar.purchase_type!=1" class="mdi mdi-cash-usd fz18 grey-text" style="margin-left: 30px"></span>

                                    <!-- 抵押车(1：未抵押，2：抵押) -->
                                    <span ng-show="linkCar.mortgage_status==2" class="mdi mdi-lock fz18 cyan-text" style="margin-left: 20px"></span>
                                    <span ng-show="linkCar.mortgage_status!=2" class="mdi mdi-lock fz18 grey-text" style="margin-left: 20px"></span>
                                    <!-- 车辆：品牌/型号 颜色 -->
                                    <span class="grey-text" style="margin-left:40px;">{{linkCar.make_name}} /{{linkCar.model_name}}</span>
                                    <span class="z-depth-1" style="margin-left: 20px;display:inline-block;height: 20px;width: 20px;background-color: {{'#'+linkCar.colour}};"></span>
                                    <!-- 车辆：估值 -->
                                    <span style="margin-left:40px;">
                                        估值：<span class="red-text">{{linkCar.valuation| currency }}</span>
                                    </span>
                                </div>

                                <div class="col" style="width:25%;padding-left:0;padding-right: 0;">
                                    <!-- Lc Handling Fee -->
                                    LC：<span class="red-text">{{((linkCar.lc_handling_fee == null || linkCar.lc_handling_fee ==='') ? 0 : linkCar.lc_handling_fee)| currency }}</span>
                                    <!-- Bank Services Fee -->
                                    <span style="margin-left:30px;">
                                        BANK：<span class="red-text">{{((linkCar.bank_services_fee == null || linkCar.bank_services_fee ==='') ? 0 : linkCar.bank_services_fee)| currency }}</span>
                                    </span>
                                </div>

                                <!-- 操作按钮 编辑车辆服务费，删除关联车辆 -->
                                <div class="col right-align" style="width:7%;font-size: 20px;padding-right: 5px;">
                                    <i class="col s6 mdi mdi-currency-usd cyan-text" style="cursor: pointer;" title="修改车辆费用"
                                       ng-click="openEditCarServiceFeeDiv(linkCar.credit_id,linkCar.car_id,linkCar.lc_handling_fee,linkCar.bank_services_fee)"></i>
                                    <i class="col s6 mdi mdi-close  red-text" style="cursor: pointer;" title="删除关联车辆" ng-click="deleteLinkCar(linkCar.car_id)"></i>
                                </div>
                            </div>

                            <!-- body -->
                            <div class="col s12 lighten-1 white grey-text vc-center fz13 left-align" style="height:40px;">
                                <div class="input-field col s4">始发港口：{{linkCar.start_port_name}}</div>
                                <div class="input-field col s4">目的港口：{{linkCar.end_port_name}}</div>
                                <div class="input-field col s4">开船日期：{{linkCar.start_ship_date | date:'yyyy-MM-dd' }}</div>
                            </div>
                            <div class="col s12 white">
                                <div class="s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;border: 1px dotted #ccc"></div>
                            </div>
                            <!-- body -->
                            <div class="col s12 lighten-1 white grey-text vc-center fz13 left-align" style="height:40px;">
                                <div class="input-field col s4">船公司：{{linkCar.ship_company_name}}</div>
                                <div class="input-field col s4">船名：{{linkCar.ship_name}}</div>
                                <div class="input-field col s4">到港日期：{{linkCar.end_ship_date | date:'yyyy-MM-dd'}}</div>
                            </div>
                            <div class="col s12 white">
                                <div class="s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;border: 1px dotted #ccc"></div>
                            </div>
                            <!-- body -->
                            <div class="col s12 lighten-1 white grey-text vc-center fz13 left-align" style="height:40px;">
                                <div class="input-field col s4">货柜：{{linkCar.container}}</div>
                                <div class="input-field col s4">booking：{{linkCar.booking}}</div>
                                <div class="input-field col s4">封签：{{linkCar.tab}}</div>
                            </div>

                            <div class="col s12 white">
                                <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;"></div>
                            </div>

                            <div class="col s12 lighten-1 white grey-text vc-center fz13 left-align" style="height:40px;">
                                <div class="col s12">备注：{{linkCar.remark}}</div>
                            </div>
                        </div>
                    </div>

                    <!--关联车辆为o情况下-->
                    <div class="row col s12" ng-if="getLinkCarList.length==0">

                        <div class="vc-center grey-text fz26" style="margin-top:100px; width: 100%;height: 100px;">
                            <i class="mdi mdi-alert-circle-outline" style="color: red;font-size: 30px"></i>
                            <span style="margin-left: 10px;">暂无关联车辆</span>
                        </div>
                    </div>

                    <!--下部分：完结-->
                    <div class="row col s12" ng-if="getLinkCarList.length!==0" style="margin: 40px 0 15px 0">
                        <div class="col s2 offset-s10">
                            <div class="col s12">
                                <a ng-click="endOfProcessing()" style="width: 100%;background-color:#f0ad4e;" class="waves-light waves-effect lighten-1 btn">
                                    完结
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--已完結-->
                <div class="row col s12" ng-show="baseInfoList.credit_status!==1">
                    <div class="row col s12" style="margin-top: 50px"></div>
                    <div class="col s12" ng-repeat="linkCar in getLinkCarList" style="height:270px;">
                        <div class="row blue-grey lighten-5" style="width:90%;border:1px solid #bdbdbd">
                            <!-- header -->
                            <div class="col s12 lighten-1 cyan-text vc-center" style="height:55px;">
                                <div class="input-field col s4"> VIN：{{linkCar.vin}}</div>
                                <div class="input-field col s6">
                                    <!-- 金融车(0：不是金融车， 1 金融车) -->
                                    <div class="col s1">
                                        <span ng-show="linkCar.purchase_type==1" class="mdi mdi-cash-usd fz18" style="margin-right:10px;color: #f0ad4e" title="金融车"></span>
                                    </div>

                                    <!-- 抵押车(1：未抵押，2：抵押) -->
                                    <div class="col s1">
                                        <span ng-show="linkCar.mortgage_status==2" class="mdi mdi-lock fz18 cyan-text" title="抵押车"></span>
                                    </div>

                                    <div class="col s10">
                                        <div class="col s6 grey-text right-align"> {{linkCar.make_name}} /{{linkCar.model_name}}</div>
                                        <div class="col s2" ng-if="linkCar.colour==''"></div>
                                        <div class="col s2 z-depth-1" ng-if="linkCar.colour!=''"  style="width:20px;height:20px; background-color: {{'#' + linkCar.colour}}"></div>
                                    </div>

                                </div>
                                <div class="input-field col s2 right-align red-text"> {{linkCar.valuation| currency }}</div>
                            </div>

                            <!-- body -->
                            <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:40px;">
                                <div class="input-field col s4">
                                    始发港口：{{linkCar.start_port_name}}
                                </div>
                                <div class="input-field col s4">
                                    目的港口：{{linkCar.end_port_name}}
                                </div>
                                <div class="input-field col s4">
                                    开船日期：{{linkCar.start_ship_date | date:'yyyy-MM-dd' }}
                                </div>
                            </div>
                            <div class="col s12 white">
                                <div class="s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;border: 1px dotted #ccc"></div>
                            </div>
                            <!-- body -->
                            <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:40px;">
                                <div class="input-field col s4">
                                    船公司：{{linkCar.ship_company_name}}
                                </div>
                                <div class="input-field col s4">
                                    船名：{{linkCar.ship_name}}
                                </div>
                                <div class="input-field col s4">
                                    到港日期：{{linkCar.end_ship_date | date:'yyyy-MM-dd'}}
                                </div>
                            </div>
                            <div class="col s12 white">
                                <div class="s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;border: 1px dotted #ccc"></div>
                            </div>
                            <!-- body -->
                            <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:40px;">
                                <div class="input-field col s4">
                                    货柜：{{linkCar.container}}
                                </div>
                                <div class="input-field col s4">
                                    booking：{{linkCar.booking}}
                                </div>
                                <div class="input-field col s4">
                                    封签：{{linkCar.tab}}
                                </div>
                            </div>

                            <div class="col s12 white">
                                <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;"></div>
                            </div>

                            <div class="col s12 lighten-1 white grey-text vc-center fz13 left-align" style="height:50px;">
                                <div class="col s12">
                                    备注：{{linkCar.remark}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 模态画面【修改车辆手续费】 模态框 -->
<div id="editCarServiceFeeDiv" class="modal modal-fixed-footer row" style="max-height: 336px;">

    <!-- Header -->
    <div class="modal_title center-align cyan white-text">修改车辆手续费</div>

    <!-- Body -->
    <div class="modal-content" style="max-height: 220px;">

        <!-- 显示画面【修改车辆手续费】 Body -->
        <div class="col" style="width:95%; margin-left: 20px;">

            <div class="col s12">
                <!-- LC Fee -->
                <div class="input-field col s12">
                    <input type="text" id="lcFee" maxlength="8" valid-money ng-model="editLcFee">
                    <label id="lcFeeLabel" for="lcFee"><span class="red-text">*</span> Lc Handling Fee</label>
                </div>
            </div>

            <div class="col s12" style="margin-top: 30px;">
                <!-- Bank Service Fee -->
                <div class="input-field col s12">
                    <input type="text" id="bankServiceFee" maxlength="8" valid-money ng-model="editBankServicesFee">
                    <label id="bankServiceFeeLabel" for="bankServiceFee"><span class="red-text">*</span> Bank Services Fee</label>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="modal-footer right-align">
        <a class="btn-floating waves-effect waves-light btn cyan lighten-1" style="width:38px;height:38px; margin-right: 50px;"
           ng-click="editCarServiceFee()">
            <i class="mdi mdi-check"></i>
        </a>
        <a class="btn-floating waves-effect waves-light btn modal-close grey" style="width:38px;height:38px; margin-right: 20px;">
            <i class="mdi mdi-close"></i>
        </a>
    </div>
</div>
