<!-- 主菜单：信用证 -> 详情信息 画面 -->
<div class="credit_car_detail">
    <div class="modal-content grey-text text-darken-2">

        <!-- 返回前画面 按钮 -->
        <div class="storage_storeTitle vc-center ">
            <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="return()">
                <i class="mdi mdi-arrow-left-bold"></i>
            </a>
            <h4 class="center-align cyan-text text-lighten-1">信用证详情</h4>
        </div>

        <!-- 车辆信息画面 主体内容 -->
        <div class="row no-marBottom" ul-tabs>
            <!-- 功能选项卡 -->
            <div class="col s12 p0">
                <ul class="tabWrap grey lighten-4 ">
                    <li class="tab col s6 vc-center lookMsg" ng-click="showMsgInfo()">基本信息</li>
                    <li class="tab col s6 vc-center lookLinkCar" ng-click="showLinkCar()">关联车辆</li>
                </ul>
            </div>

            <!-- 基本信息 显示区域 -->
            <div id="lookMsg" class="col s12 tab_box " style="width: 80%; margin:0 10% ;">

                <!--未完结-->
                <div class="row col s12" ng-if="baseInfoList.credit_status==1">
                    <!--第一行-->
                    <div class="input-field col s12 right-align red-text" >{{statusList[baseInfoList.credit_status-1].name}}</div>

                    <!--第二行-->
                    <div class="row col s12" >
                        <!-- 信用证编码 -->
                        <div class="input-field col s4" >
                            <input type="text" id="putCreditId" ng-model="baseInfoList.credit_number">
                            <label for="putCreditId"><span class="red-text">*</span>信用证编码</label>
                        </div>

                        <!-- 委托方性质 -->
                        <div class="input-field col s4">
                            <select material-select watch id="putEntrustType" disabled ng-model="baseInfoList.entrust_type" ng-change="getEntrustInfo(baseInfoList.entrust_type,'委托方')">
                                <option value="" disabled>请选择</option>
                                <option ng-repeat="el in entrustTypeList" ng-value="el.entrust_type">{{el.name}}</option>
                            </select>
                            <label for="putEntrustType">委托方性质</label>
                        </div>

                        <!--委托方-->
                        <div class="input-field col s4">
                            <select  id="putEntrustSelect" style="width: 100%" disabled>
                                <option value="" ></option>
                                <option ng-repeat="el in putEntrustList" ng-value="el.id">{{el.short_name}}</option>
                            </select>
                        </div>
                    </div>

                    <!--第三行-->
                    <div class="row col s12">
                        <!-- 新增條件：信用证金额(美元) -->
                        <div class="input-field col s4">
                            <input type="text" id="putCreditMoney" ng-model="baseInfoList.credit_money" maxlength="10" valid-money>
                            <label for="putCreditMoney"><span class="red-text">*</span>信用证金额(美元)</label>
                        </div>

                        <!-- 新增條件：实际到款金额(美元) -->
                        <div class="input-field col s4" >
                            <input type="text" id="putActualMoney" ng-model="baseInfoList.actual_money" maxlength="10" valid-money>
                            <label for="putActualMoney"><span class="red-text">*</span>实际到款金额(美元)</label>
                        </div>

                        <!-- 预计回款日期 -->
                        <div class="input-field col s4">
                            <input type="text" id="putPlanReturnDate" ng-model="baseInfoList.plan_return_date" class="datepicker" date>
                            <i class="mdi dataIcon mdi-table-large"></i>
                            <label for="putPlanReturnDate">预计回款日期</label>
                        </div>
                    </div>

                    <!--第四行-->
                    <div class="row col s12">
                        <!--接证日期-->
                        <div class="input-field col s4">
                            <input id="putReceiveCardDate" type="text" ng-model="baseInfoList.receive_card_date" class="datepicker" date>
                            <i class="mdi dataIcon mdi-table-large"></i>
                            <label for="putReceiveCardDate">接证日期</label>
                        </div>

                        <!-- 交单日期 -->
                        <div class="input-field col s4">
                            <input type="text" id="putDocumentsDate" ng-model="baseInfoList.documents_date" class="datepicker" date>
                            <i class="mdi dataIcon mdi-table-large"></i>
                            <label for="putDocumentsDate">交单日期</label>
                        </div>

                        <!--实际回款日期-->
                        <div class="input-field col s4">
                            <input id="putActualReturnDate" type="text" ng-model="baseInfoList.actual_return_date" class="datepicker" date>
                            <i class="mdi dataIcon mdi-table-large"></i>
                            <label for="putActualReturnDate">实际回款日期</label>
                        </div>
                    </div>

                    <!--第五行-->
                    <div class="row col s12">
                        <!--文件发出日期-->
                        <div class="input-field col s4">
                            <input id="putDocumentsSendDate" type="text" ng-model="baseInfoList.documents_send_date" class="datepicker" date>
                            <i class="mdi dataIcon mdi-table-large"></i>
                            <label for="putDocumentsSendDate">文件发出日期</label>
                        </div>

                        <!--开户行文件接收日期-->
                        <div class="input-field col s4">
                            <input id="putDocumentsReceiveDate" type="text" ng-model="baseInfoList.documents_receive_date" class="datepicker" date>
                            <i class="mdi dataIcon mdi-table-large"></i>
                            <label for="putDocumentsReceiveDate">开户行文件接收日期</label>
                        </div>

                        <!--实际汇款日期-->
                        <div class="input-field col s4">
                            <input id="putActualRemitDate" type="text" ng-model="baseInfoList.actual_remit_date" class="datepicker" date>
                            <i class="mdi dataIcon mdi-table-large"></i>
                            <label for="putActualRemitDate">实际汇款日期</label>
                        </div>
                    </div>

                    <!--第六行-->
                    <div class="row col s12">
                        <div class="input-field col s4">
                            <input type="text" id="putInvoiceNumber" ng-model="baseInfoList.invoice_number">
                            <label for="putInvoiceNumber">发票号码</label>
                        </div>
                        <div class="input-field col s4" style="margin-top: 40px;color: grey;border-bottom: 1px dotted #ccc" ng-if="baseInfoList.repayment_id==0">关联还款编号:无</div>
                        <div class="input-field col s4" style="margin-top: 40px;color: grey;border-bottom: 1px dotted #ccc" ng-if="baseInfoList.repayment_id!==0">关联还款编号:{{baseInfoList.repayment_id}}</div>
                    </div>

                    <!--第七行-->
                    <div class="row col s12">
                        <div class="input-field col s12">
                            <input type="text" id="putRemarkText" ng-model="baseInfoList.remark">
                            <label for="putRemarkText">备注</label>
                        </div>
                    </div>

                    <!--第八行-->
                    <div class="row col s12">
                        <div class="input-field col s12 right-align">录入时间：{{baseInfoList.created_on |date:'yyyy-MM-dd hh-mm'}}</div>
                    </div>

                    <div class="row col s12" style="margin: 40px 0 15px 0" ng-if="baseInfoList.credit_status == 1">
                        <div class="col s4 offset-s8">
                            <div class="col s6">
                                <a ng-click="putCurrentBaseInfo()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">
                                    保存
                                </a>
                            </div>
                            <div class="col s6">
                                <a ng-click="endOfProcessing()" style="width: 100%;background-color:#f0ad4e;" class="waves-light waves-effect lighten-1 btn">
                                    完结
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--已完结-->
                <div class="row col s12" ng-if="baseInfoList.credit_status!==1">

                    <!--第一行-->
                    <div class="row col s12 cyan-text" >
                        <div class="input-field col s6 left-align bold fz20">
                            信用证号:{{baseInfoList.credit_number}}
                        </div>
                        <div class="input-field col s6 right-align bold">{{statusList[baseInfoList.credit_status-1].name}}</div>
                    </div>

                    <!--第二行-->
                    <div class="row col s12 white cyan-text fz18 bold" style="border:1px solid #ccc;height: 80px;line-height: 50px">
                        <div class="col s4 input-field">委托方：{{baseInfoList.short_name}}({{entrustTypeList[baseInfoList.entrust_type-1].name}})</div>
                        <div class="col s4 input-field center-align">信用金额(美元)：<span class="red-text">{{baseInfoList.credit_money}}</span></div>
                        <div class="col s4 input-field right-align">实际到款金额(美元)：<span class="red-text">{{baseInfoList.actual_money}}</span></div>
                    </div>

                    <!--第三行-->
                    <div class="row col s12 lighten-1 grey-text vc-center" style="height:40px;">
                        <div class="col s4">
                            接证日期：{{baseInfoList.receive_card_date|date:'yyyy-MM-dd'}}
                        </div>
                        <div class="col s4">
                            交单日期：{{baseInfoList.documents_date |date:'yyyy-MM-dd'}}
                        </div>
                        <div class="col s4">
                            文件发出日期：{{baseInfoList.documents_send_date|date:'yyyy-MM-dd'}}
                        </div>
                    </div>
                    <div class="row col s12">
                        <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;"></div>
                    </div>

                    <div class="row col s12 lighten-1 grey-text vc-center" style="height:40px;">
                        <div class="col s4">
                            开户行文件接收日期：{{baseInfoList.documents_receive_date|date:'yyyy-MM-dd'}}
                        </div>
                        <div class="col s4">
                            预计回款日期：{{baseInfoList.plan_return_date|date:'yyyy-MM-dd'}}
                        </div>
                        <div class="col s4">
                            实际回款日期：{{baseInfoList.actual_return_date|date:'yyyy-MM-dd'}}

                        </div>
                    </div>
                    <div class="row col s12">
                        <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;"></div>
                    </div>

                    <div class="row col s12 lighten-1 grey-text vc-center" style="height:40px;">
                        <div class="col s4">
                            实际汇款日期：{{baseInfoList.actual_remit_date|date:'yyyy-MM-dd'}}
                        </div>
                        <div class="col s4">
                            发票号：{{baseInfoList.invoice_number}}
                        </div>
                        <div class="col s4">
                            关联还款编号：{{baseInfoList.repayment_id}}
                        </div>
                    </div>
                    <div class="row col s12">
                        <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;"></div>
                    </div>

                    <div class="row col s12 lighten-1 grey-text vc-center" style="height:40px;">
                        <div class="col s12">
                            备注：{{baseInfoList.remark}}
                        </div>
                    </div>
                    <div class="row col s12">
                        <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;"></div>
                    </div>

                    <div class="row col s12 lighten-1 grey-text vc-center" style="height:40px;">
                        <div class="col s6">
                            录入时间：{{baseInfoList.created_on|date:'yyyy-MM-dd HH:mm'}}
                        </div>
                        <div class="col s6 right-align">
                            完结时间：{{baseInfoList.credit_end_date|date:'yyyy-MM-dd HH:mm'}}
                        </div>
                    </div>
                </div>
            </div>


            <!-- 关联车辆 显示区域 -->
            <div id="lookLinkCar" class="col s12 tab_box" style="width: 95%; margin:0 2%;">

                <!--未完結-->
                <div class="row col s12" ng-if="baseInfoList.credit_status==1">
                    <!--上部分：查询功能-->
                    <div class="row col" style="width: 100%;position: relative">

                        <div class="input-field col s12">
                            <input type="text" id="autocomplete-input" placeholder="模糊查询至少需要6位vin" ng-change="shortSearch(creditVin)" ng-model="creditVin" style="margin: 0 0 20px 0" class="autocomplete">
                            <label for="autocomplete-input" class="label-active">VIN</label>
                        </div>
                        <button class=" btn btn-floating btn-small waves-effect cyan lighten-1" ng-if="carId!==undefined" ng-click="addLinkCar()"  style="position: absolute;top: 15px;right: 10px;">
                            <i class="mdi white-text mdi-plus fz30"></i>
                        </button>
                        <button class=" btn btn-floating btn-small waves-effect cyan lighten-1" ng-if="carId==undefined" disabled style="position: absolute;top: 15px;right: 10px;">
                            <i class="mdi white-text mdi-plus fz30"></i>
                        </button>
                    </div>


                    <!--表格部分：查询结果-->
                    <div class="col s12" ng-if="getLinkCarList.length!==0" ng-repeat="linkCar in getLinkCarList" style="height:270px">
                        <div class="row blue-grey lighten-5" style="width:98%;border:1px solid #bdbdbd">
                            <!-- header -->
                            <div class="col s12 lighten-1 cyan-text vc-center left-align" style="height:50px;">
                                <div class="col s4">
                                    VIN：{{linkCar.vin}}
                                </div>
                                <div class="col s5 ">
                                    <div class="col s4">
                                        <!--<div class="col s6" ng-if="linkCar.purchase_type!==0"> <i class="mdi mdi-slackware" style="color: #f0ad4e"></i></div>-->
                                        <!--<div class="col s6" ng-if="linkCar.purchase_type==0"> <i class="mdi mdi-slackware grey-text"></i></div>-->
                                        <!--<div class="col s6 right-align" ng-if="linkCar.mortgage_status!==2"><i class="mdi mdi-briefcase grey-text"></i></div>-->
                                        <!--<div class="col s6 right-align" ng-if="linkCar.mortgage_status==2"><i class="mdi mdi-briefcase cyan-text"></i></div>-->
                                        <!-- 金融车(0：不是金融车， 1 金融车) -->
                                        <span ng-show="linkCar.purchase_type==1" class="mdi mdi-cash-usd fz18" style="color: #f0ad4e"></span>
                                        <!-- 抵押车(1：未抵押，2：抵押) -->
                                        <span ng-show="linkCar.mortgage_status==2" class="mdi mdi-lock fz18 cyan-text"></span>

                                    </div>
                                    <div class="col s8">
                                        <div class="col s10 grey-text right-align"> {{linkCar.make_name}} /{{linkCar.model_name}}</div>
                                        <div class="col s2" ng-if="linkCar.colour==''"></div>
                                        <div class="col s2 z-depth-1" ng-if="linkCar.colour!=''"  style="width:20px;height:20px; background-color: {{'#' + linkCar.colour}}"></div>
                                    </div>
                                </div>
                                <div class="col s3 red-text">
                                    <div class="col s9">
                                        {{linkCar.valuation| currency }}
                                    </div>
                                    <div class="col s3" style="cursor: pointer" ng-click="deleteLinkCar(linkCar.car_id)">x</div>
                                </div>

                            </div>

                            <!-- body -->
                            <div class="col s12 lighten-1 white grey-text vc-center fz13 left-align" style="height:40px;">
                                <div class="input-field col s4">
                                    始发港口：{{linkCar.start_port_name}}
                                </div>
                                <div class="input-field col s4">
                                    目的港口：{{linkCar.end_port_name}}
                                </div>
                                <div class="input-field col s4">
                                    开船日期：{{linkCar.start_ship_date | date:'yyyy-MM-dd' }}
                                </div>
                            </div>
                            <div class="col s12 white">
                                <div class="s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;border: 1px dotted #ccc"></div>
                            </div>
                            <!-- body -->
                            <div class="col s12 lighten-1 white grey-text vc-center fz13 left-align" style="height:40px;">
                                <div class="input-field col s4">
                                    船公司：{{linkCar.ship_company_name}}
                                </div>
                                <div class="input-field col s4">
                                    船名：{{linkCar.ship_name}}
                                </div>
                                <div class="input-field col s4">
                                    到港日期：{{linkCar.end_ship_date | date:'yyyy-MM-dd'}}
                                </div>
                            </div>
                            <div class="col s12 white">
                                <div class="s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;border: 1px dotted #ccc"></div>
                            </div>
                            <!-- body -->
                            <div class="col s12 lighten-1 white grey-text vc-center fz13 left-align" style="height:40px;">
                                <div class="input-field col s4">
                                    货柜：{{linkCar.container}}
                                </div>
                                <div class="input-field col s4">
                                    booking：{{linkCar.booking}}
                                </div>
                                <div class="input-field col s4">
                                    封签：{{linkCar.tab}}
                                </div>
                            </div>

                            <div class="col s12 white">
                                <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;"></div>
                            </div>


                            <div class="col s12 lighten-1 white grey-text vc-center fz13 left-align" style="height:40px;">
                                <div class="col s12">
                                    备注：{{linkCar.remark}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--关联车辆为o情况下-->
                    <div class="row col s12" ng-if="getLinkCarList.length==0">

                        <div class="vc-center grey-text fz26" style="margin-top:100px; width: 100%;height: 100px;">
                            <i class="mdi mdi-alert-circle-outline" style="color: red;font-size: 30px"></i>
                            <span style="margin-left: 10px;">暂无关联车辆</span>
                        </div>
                    </div>


                    <!--下部分：完结-->
                    <div class="row col s12" ng-if="getLinkCarList.length!==0" style="margin: 40px 0 15px 0">
                        <div class="col s2 offset-s10">
                            <div class="col s12">
                                <a ng-click="endOfProcessing()" style="width: 100%;background-color:#f0ad4e;" class="waves-light waves-effect lighten-1 btn">
                                    完结
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--已完結-->
                <div class="row col s12" ng-if="baseInfoList.credit_status!==1">
                    <div class="row col s12" style="margin-top: 50px"></div>
                    <div class="col s12" ng-repeat="linkCar in getLinkCarList" style="height:270px;margin-top: 10px">
                        <div class="row blue-grey lighten-5" style="width:60%;border:1px solid #bdbdbd">
                            <!-- header -->
                            <div class="col s12 lighten-1 cyan-text vc-center" style="height:55px;">
                                <div class="input-field col s4"> VIN：{{linkCar.vin}}</div>
                                <div class="input-field col s6">
                                    <div class="col s1" ng-if="linkCar.purchase_type!==0"> <i class="mdi mdi-slackware" style="color: #f0ad4e"></i></div>
                                    <div class="col s1" ng-if="linkCar.purchase_type==0"> <i class="mdi mdi-slackware grey-text"></i></div>
                                    <div class="col s1" ng-if="linkCar.mortgage_status!==2"><i class="mdi mdi-briefcase grey-text"></i></div>
                                    <div class="col s1" ng-if="linkCar.mortgage_status==2"><i class="mdi mdi-briefcase cyan-text"></i></div>
                                    <div class="col s10">
                                        <div class="col s6 grey-text right-align"> {{linkCar.make_name}} /{{linkCar.model_name}}</div>
                                        <div class="col s2" ng-if="linkCar.colour==''"></div>
                                        <div class="col s2 z-depth-1" ng-if="linkCar.colour!=''"  style="width:20px;height:20px; background-color: {{'#' + linkCar.colour}}"></div>
                                    </div>

                                </div>
                                <div class="input-field col s2 right-align red-text"> {{linkCar.valuation| currency }}</div>
                            </div>

                            <!-- body -->
                            <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:40px;">
                                <div class="input-field col s4">
                                    始发港口：{{linkCar.start_port_name}}
                                </div>
                                <div class="input-field col s4">
                                    目的港口：{{linkCar.end_port_name}}
                                </div>
                                <div class="input-field col s4">
                                    开船日期：{{linkCar.start_ship_date | date:'yyyy-MM-dd' }}
                                </div>
                            </div>
                            <div class="col s12 white">
                                <div class="s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;border: 1px dotted #ccc"></div>
                            </div>
                            <!-- body -->
                            <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:40px;">
                                <div class="input-field col s4">
                                    船公司：{{linkCar.ship_company_name}}
                                </div>
                                <div class="input-field col s4">
                                    船名：{{linkCar.ship_name}}
                                </div>
                                <div class="input-field col s4">
                                    到港日期：{{linkCar.end_ship_date | date:'yyyy-MM-dd'}}
                                </div>
                            </div>
                            <div class="col s12 white">
                                <div class="s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;border: 1px dotted #ccc"></div>
                            </div>
                            <!-- body -->
                            <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:40px;">
                                <div class="input-field col s4">
                                    货柜：{{linkCar.container}}
                                </div>
                                <div class="input-field col s4">
                                    booking：{{linkCar.booking}}
                                </div>
                                <div class="input-field col s4">
                                    封签：{{linkCar.tab}}
                                </div>
                            </div>

                            <div class="col s12 white">
                                <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;"></div>
                            </div>

                            <div class="col s12 lighten-1 white grey-text vc-center fz13 left-align" style="height:40px;">
                                <div class="col s12">
                                    备注：{{linkCar.remark}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



















            </div>

        </div>
    </div>
</div>