<div class="finance_index">
    <div class="finance_content" style="width: 95%;margin: 0 auto">
        <div class="row ">

            <div class="col s6" style="font-weight: bold;color: white">
                <div class="center-align cyan-text" style="height: 200px;margin-top: 10px;border:1px solid cornflowerblue">

                    <div class="col s12" style="height: 200px;">
                        <div class="col s2">
                            icon
                        </div>

                        <div class="col s4 cyan-text" style="border-right: 1px solid grey">
                            <div class="col s12">
                                委托方总数
                            </div>
                            <div class="col s12">
                                TODO:{{TODO}}
                            </div>
                        </div>

                        <div class="col s6">
                            <div class="col s12" style="border-bottom: 1px solid grey">
                                <div class="col s6">
                                    TODO:ICON 企业
                                </div>
                                <div class="col s6">
                                    TODO:{{TODO}}
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="col s6">
                                    TODO:ICON 企业
                                </div>
                                <div class="col s6">
                                    TODO:{{TODO}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s6" style="font-weight: bold;color: white">
                <div class="center-align cyan-text" style="height: 200px;margin-top: 10px;border:1px solid cornflowerblue">

                    <div class="col s12" style="height: 200px;">
                        <div class="col s2">
                            icon
                        </div>

                        <div class="col s4 cyan-text" style="border-right: 1px solid grey">
                            <div class="col s12">
                                委托方总数
                            </div>
                            <div class="col s12">
                                TODO:{{TODO}}
                            </div>
                        </div>

                        <div class="col s6">
                            <div class="col s12" style="border-bottom: 1px solid grey">
                                <div class="col s6">
                                    TODO:ICON 企业
                                </div>
                                <div class="col s6">
                                    TODO:{{TODO}}
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="col s6">
                                    TODO:ICON 企业
                                </div>
                                <div class="col s6">
                                    TODO:{{TODO}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

