<!-- 主菜单：财务管理 -> 金融贷入 画面 -->
<div class="row">

    <!-- 上部分：检索条件输入区域 -->
    <div class="row col s12">
        <!-- 左侧：输入区 -->
        <div class="col s10">

            <!-- 查询条件：贷入编号 -->
            <div class="input-field col s6">
                <input type="text" id="loanIdText" ng-model="condLoanId">
                <label for="loanIdText">贷入编号</label>
            </div>

            <!-- 查询条件：贷入日期 -->
            <div class="input-field col s3">
                <input type="text" id="createdOnStartText" ng-model="condLoanIntoStartDateStart" class="datepicker" date>
                <i class="mdi dataIcon mdi-table-large"></i>
                <label for="createdOnStartText">贷入日期(始)</label>
            </div>
            <div class="input-field col s3">
                <input id="createdOnEndText" type="text" ng-model="condLoanIntoStartDateEnd" class="datepicker" date>
                <i class="mdi dataIcon mdi-table-large"></i>
                <label for="createdOnEndText">贷入日期(终)</label>
            </div>

            <!-- 查询条件：贷入公司 -->
            <div class="input-field col s3">
                <select material-select watch ng-model="condLoanCoId">
                    <option value="">贷入公司</option>
                    <option ng-repeat="el in loanInCoList" ng-value="el.id">{{el.company_name}}</option>
                </select>
            </div>

            <!-- 查询条件：贷入状态 -->
            <div class="input-field col s3">
                <select material-select watch ng-model="condLoanStatus">
                    <option value="">贷入状态</option>
                    <option ng-repeat="el in loanStatus" ng-value="el.id">{{el.name}}</option>
                </select>
            </div>

            <!-- 查询条件：完结日期 -->
            <div class="input-field col s3">
                <input type="text" id="loanEndDateStartText" ng-model="condLoanEndDateStart" class="datepicker" date>
                <i class="mdi dataIcon mdi-table-large"></i>
                <label for="loanEndDateStartText">完结日期(始)</label>
            </div>
            <div class="input-field col s3">
                <input id="loanEndDateEndText" type="text" ng-model="condLoanEndDateEnd" class="datepicker" date>
                <i class="mdi dataIcon mdi-table-large"></i>
                <label for="loanEndDateEndText">完结日期(终)</label>
            </div>
        </div>

        <!-- 右侧：按钮区 -->
        <div class="col s2" style="margin-top:45px;">
            <!-- 查询按钮-->
            <div class="col s6 center">
                <a class="btn-floating btn-large waves-light waves-effect red lighten-2 btn" ng-click="queryFinanceLoanInfo()">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>
            <!-- 新增按钮 -->
            <div class="col s6 center">
                <a class=" btn-floating btn-large waves-light waves-effect cyan lighten-1 btn"
                   ng-click="openNewFinanceLoanDiv()">
                    <i class="mdi mdi-plus"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- 下部分：检索结果显示区域 -->
    <div class="col s12">
        <div class="divider" style="background: #4e84cb;height: 2px;"></div>
        <table class=" bordered striped">
            <thead class="blue-grey lighten-5">
            <tr class="grey-text text-darken-2">
                <th>贷入编号</th>
                <th>贷入公司</th>
                <th>贷入金额</th>
                <th>贷入时间</th>
                <th>已还总金额(美元)</th>
                <th>未还本金(美元)</th>
                <th>完结时间</th>
                <th>状态</th>
                <th style="padding-left: 15px;">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="el in financeLoanList" class="grey-text text-darken-1">
                <!-- 贷入编号 -->
                <td ng-bind="el.id"></td>
                <!-- 贷入公司 -->
                <td ng-bind="el.company_name"></td>
                <!-- 贷入金额 -->
                <td class="red-text" ng-bind="el.loan_into_money | number"></td>
                <!-- 贷入时间 -->
                <td ng-bind="el.loan_into_start_date|date:'yyyy-MM-dd HH:mm'"></td>
                <!-- 已还总金额(美元) -->
                <td class="red-text">{{el.repayment_total_money==null ? 0 : el.repayment_total_money | number}}</td>
                <!-- 未还本金(美元) -->
                <td class="red-text" ng-bind="el.not_repayment_money | number"></td>
                <!-- 完结时间 -->
                <td ng-bind="el.loan_into_end_date|date:'yyyy-MM-dd HH:mm'"></td>
                <!-- 状态 -->
                <td ng-class="{'red-text':el.loan_into_status == 1}">{{loanStatus[el.loan_into_status - 1].name}}</td>
                <!--操作-->
                <td class="operation">
                    <!-- 详情 -->
                    <a href="#" ui-sref="finance_loan_in_detail({id:el.id,from:'finance_loan_in'})" style="margin-left: 15px;">
                        <i class="mdi mdi-file-outline look_icon cyan-text lighten-1"></i>
                    </a>
                </td>
            </tr>
            <tr class="grey-text text-darken-1" ng-if="financeLoanList.length == 0">
                <td colspan="9" style="letter-spacing: 2px;text-align: center;">暂无数据</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- 上下页按钮 -->
    <div class="paging_box col s12">
        <div class="right">
            <a class="waves-light waves-effect cyan lighten-1 btn" id="pre" ng-click="preBtn()">
                上一页
            </a>
            <a class="waves-light waves-effect cyan lighten-1 btn " id="next" ng-click="nextBtn()">
                下一页
            </a>
        </div>
    </div>
</div>

<!-- 模态画面【新增贷入订单】 模态框 -->
<div id="newFinanceLoanDiv" class="modal modal-fixed-footer row" style="max-height: 506px;">

    <!-- Header -->
    <div class="modal_title center-align cyan white-text">新增贷入订单</div>

    <!-- Body -->
    <div class="modal-content" style="max-height: 400px;">

        <!-- 显示画面【新增贷入订单】 Body -->
        <div class="col" style="width:95%; margin-left: 20px;">
            <!-- 贷入订单信息 -->
            <div class="col s12" style="margin-top: 20px;">
                <!-- 贷入公司 -->
                <div class="input-field col s6">
                    <select material-select watch ng-model="loanInfo.loanCo">
                        <option value="" disabled>贷入公司</option>
                        <option ng-repeat="el in loanInCoList" ng-value="el.id">{{el.company_name}}</option>
                    </select>
                </div>

                <!-- 贷入金额 -->
                <div class="input-field col s6">
                    <input type="text" id="loanMoneyText" maxlength="8" valid-money ng-model="loanInfo.loanMoney">
                    <label for="loanMoneyText"><span class="red-text">*</span> 贷入金额</label>
                </div>
            </div>

            <!-- 贷入备注 -->
            <div class="col s12" style="margin-top: 20px;">
                <div class="input-field col s12">
                    <textarea id="remarkText" class="materialize-textarea" style="padding: 10px 0 0 0;" maxlength="200" ng-model="loanInfo.remark"></textarea>
                    <label for="remarkText">贷入备注</label>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="modal-footer right-align">
        <a class="btn-floating waves-effect waves-light btn cyan lighten-1" style="width:38px;height:38px; margin-right: 50px;"
           ng-click="addFinanceLoan()">
            <i class="mdi mdi-check"></i>
        </a>
        <a class="btn-floating waves-effect waves-light btn modal-close grey" style="width:38px;height:38px; margin-right: 20px;">
            <i class="mdi mdi-close"></i>
        </a>
    </div>
</div>
