<!-- 主菜单：财务管理 -> 发票管理（发票详情） 画面 -->

<!-- 返回前画面 按钮 -->
<div class="row valign-wrapper">
    <a class="btn-floating btn waves-effect cyan lighten-1 waves-light" ng-click="return()">
        <i class="mdi mdi-arrow-left-bold"></i>
    </a>
    <h5 class="col s12 cyan-text lighten-1 center-align">发票详情</h5>
</div>
<div class="row">
    <div class="col s12 p0" style="border-bottom: 1px solid #407BC7;border-top: 2px solid #407BC7">
        <ul class="tabWrap grey lighten-4 ">
            <li class="tab col s3 vc-center invoiceDiv"   ng-click="lookInvoiceInfo()">发票信息</li>
            <li class="tab col s3 vc-center lookRelatedOrder" ng-click="lookRelatedOrder()">关联仓储订单</li>
            <li class="tab col s3 vc-center invoiceShipOrderDiv" ng-click="lookShipTransOrder()">关联海运订单</li>
            <li class="tab col s3 vc-center paymentDiv" ng-click="lookPayment()">关联还款</li>
        </ul>
    </div>
</div>

<!-- 主画面 -->
<div class="row no-marBottom" ul-tabs>
    <!-- 发票信息 -->
    <div id="invoiceDiv" class="col s12 tab_box" style="width: 90%; margin:0 5% ">
        <!--未发状态下-->
        <div ng-show='invoiceInfo.invoiceStatus==1'>
            <div class="modal-content">
                <div class="row col s12 bold" style="color:#4e84cb ;margin-top: 20px;">
                    <div class="col s6"></div>
                    <div class="col s6 right-align" ng-class="{'red-text':invoiceInfo.invoiceStatus==1}">{{invoiceStatus[invoiceInfo.invoiceStatus-1].name}}</div>
                </div>
                <div class="row col s12">
                    <!-- 发票编号 -->
                    <div class="input-field col s6">
                        <input type="text" id="invoiceNoText" ng-model="invoiceInfo.invoiceNum">
                        <label for="invoiceNoText"><span class="red-text">*</span>发票编号</label>
                    </div>

                    <!-- 发票金额(美元) -->
                    <div class="input-field col s6">
                        <input type="text" id="invoiceMoneyText" maxlength="8" valid-money ng-model="invoiceInfo.invoiceMoney">
                        <label for="invoiceMoneyText"><span class="red-text">*</span>发票金额(美元)</label>
                    </div>
                </div>
                <div class="row col s12">
                    <!-- 委托方性质 -->
                    <div class="input-field col s6">
                        <select material-select watch ng-model="invoiceInfo.entrustType" ng-change="clearSelectEntrust()">
                            <option value="" disabled>委托方性质</option>
                            <option ng-repeat="el in entrustTypeList" ng-value="el.entrust_type">{{el.name}}</option>
                        </select>
                    </div>

                    <!-- 委托方 -->
                    <div class="input-field col s6">
                        <select id="entrustSelect" style="width: 100%;"></select>
                    </div>
                </div>
                <!-- 备注 -->
                <div class="row col s12">
                    <div class="input-field col s12">
                        <textarea id="remarkText" class="materialize-textarea" style="padding: 10px 0 0 0;" maxlength="200" ng-model="invoiceInfo.remark"></textarea>
                        <label for="remarkText">备注</label>
                    </div>
                </div>
                <div class="row col s12" style="margin-bottom: 35px;color:grey;">
                    <div class="col s6 ">开票人: {{invoiceInfo.invoiceUserName}}</div>
                    <div class="col s6 right-align">开票时间: {{invoiceInfo.createdOn |date:'yyyy-MM-dd HH:mm'}}</div>
                </div>
            </div>
            <div class="row col s12" style="margin-top: 30px">
                <div class="col s2 offset-s3">
                    <a ng-click="updateInvoiceInfo()" style="width: 100%" class="waves-light waves-effect cyan lighten-2 btn">保存</a>
                </div>
                <div class="col s2 offset-s2">
                    <a ng-click="updateInvoiceStatus()" style="width: 100%;background-color:#f0ad4e;" class="waves-light waves-effect  lighten-1 btn">发放</a>
                </div>
            </div>
        </div>
        <!--已发状态下-->
        <div  ng-show='invoiceInfo.invoiceStatus==2'>
            <div class="modal-content">
                <div class="row col s12 bold" style="color:#4e84cb ;margin-top: 20px;">
                    <div class="col s12">
                        <div class="col s6">发票编号: {{invoiceInfo.invoiceNum}}</div>
                        <div class="col s6 right-align">{{invoiceStatus[invoiceInfo.invoiceStatus-1].name}}</div>
                    </div>
                </div>
                <!--实分割线-->
                <div  class="row col s12" style="height:2px;border-bottom: 1px solid #ccc;width:96%;margin-left: 2%"></div>

                <!-- 应开发票金额 实开发票金额-->
                <div class="row col s12">
                    <div class="col s6 left-align">
                        <div class="col s12">
                            应开发票金额(美元): <span class="red-text">{{totalStorageMoney + totalShipTransMoney + totalPaymentMoney | number}}</span>
                        </div>
                    </div>
                    <div class="col s6 valign-wrapper">
                        <div class="col s12 left-align">
                            实开发票金额(美元): <span class="red-text">{{invoiceInfo.invoiceMoney | number}}</span>
                        </div>
                    </div>
                </div>

                <!--虚分割线-->
                <div  class="row col s12" style="height:1px;border-bottom: 1px dotted #ccc;width:96%;margin-left: 2%"></div>

                <!-- 委托方性质 委托方-->
                <div class="row col s12">
                    <div class="col s12 valign-wrapper">
                        <div class="col s12 left-align">
                            委托方: {{invoiceInfo.entrustNm}}
                        </div>
                    </div>
                </div>

                <!--虚分割线-->
                <div  class="row col s12" style="height:1px;border-bottom: 1px dotted #ccc;width:96%;margin-left: 2%"></div>

                <!-- 备注-->
                <div class="row col s12">
                    <div class="col s6 left-align">
                        <div class="col s12">
                            备注: {{invoiceInfo.remark}}
                        </div>
                    </div>
                </div>
                <!--实分割线-->
                <div  class="row col s12" style="height:2px;border-bottom: 1px solid #ccc;width:96%;margin-left: 2%"></div>

            </div>
        </div>
    </div>

    <!--关联仓储订单的详细信息-->
    <div id="lookRelatedOrder" class="col s12 tab_box" style="width: 100%;">
        <!--条件分支 未发-->
        <div ng-show='invoiceInfo.invoiceStatus==1'>
            <!-- 发票金额 应开发票总额 -->
            <div class="col s12 fz14" style="margin-bottom: 20px;">
                <div class="col s12 cyan-text">
                    <div class="col s6 left-align blue-grey lighten-5" style="height:50px; padding-top: 15px; border: 1px solid lightgrey;border-right: 0">
                        发票金额(美元): <span class="red-text">{{invoiceInfo.invoiceMoney | currency}}</span>
                    </div>
                    <div class="col s6 right-align blue-grey lighten-5" style="height:50px; padding-top: 15px; border: 1px solid lightgrey;border-left: 0">
                        应开发票总额(美元): <span class="red-text">{{totalStorageMoney + totalShipTransMoney + totalPaymentMoney | currency}}</span>
                    </div>
                </div>
            </div>

            <!-- 委托方已支付未开发票订单 无订单 -->
            <div class="col s6" ng-show="storageOrderList.length==0">
                <div  class="col s12 left">
                    <div class="card" style="border: 2px solid #ccc">
                        <div class="card-content bold cyan-text fz18 left-align grey lighten-4" style="border-bottom: 2px solid #ccc">
                            委托方已支付未开发票订单
                        </div>
                        <div class="card-content">
                            <div style="height:200px;line-height: 200px;text-align: center">
                                <i class="mdi  mdi-alert-circle-outline red-text fz30"></i>
                                <span class="bold grey-text fz22">委托方暂无已支付未开发票订单</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 委托方已支付未开发票订单 有订单 -->
            <div class="col s6" ng-show="storageOrderList.length!==0">
                <div  class="col s12 left">
                    <div class="card" style="border: 2px solid #ccc;height:auto">
                        <div class="card-content bold cyan-text fz18 left-align grey lighten-4" style="border-bottom: 2px solid #ccc">
                            委托方已支付未开发票订单
                        </div>
                        <div class="card-content">
                            <table class="bordered centered" style="width: 100%;">
                                <thead>
                                <tr class="grey-text text-darken-2">
                                    <th data-field="">订单编号</th>
                                    <th data-field="">VIN</th>
                                    <th data-field="">日期范围</th>
                                    <th data-field="">天数</th>
                                    <th data-field="">支付(美元)</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="el in storageOrderList" class="grey-text text-darken-1" style="height:30px">
                                    <td ng-bind="el.id"></td>
                                    <td ng-bind="el.vin"></td>
                                    <td>{{el.enter_time |date:'yyyy-MM-dd'}} 至 {{el.real_out_time |date:'yyyy-MM-dd'}}</td>
                                    <td>{{el.day_count}}</td>
                                    <td class="red-text">{{el.actual_fee|currency}}</td>

                                    <!-- 显示画面按钮 -->
                                    <td class="operation">
                                        <a  ng-click="addInvoiceStorageOrderRel(el.id)" class="col s2 left" style="cursor: pointer">
                                            <i class="mdi mdi-plus-circle look_icon cyan-text lighten-1 fz25"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--本次开发票订单 无订单-->
            <div class="col s6"  ng-show="invoiceStorageOrderRelList.length==0">
                <div  class="col s12 right">
                    <div class="card" style="border: 2px solid #ccc">
                        <div class="card-content bold cyan-text fz18 left-align grey lighten-4" style="border-bottom: 2px solid #ccc">
                            本次开发票订单
                        </div>
                        <div class="card-content">
                            <div style="height:200px;line-height: 200px;text-align: center">
                                <i class="mdi  mdi-alert-circle-outline red-text fz30"></i>
                                <span class="bold grey-text fz22">委托方暂无本次开发票订单</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--本次开发票订单 有订单-->
            <div class="col s6"  ng-show="invoiceStorageOrderRelList.length!==0">
                <div  class="col s12 right">
                    <div class="card" style="border: 2px solid #ccc">
                        <div class="card-content bold cyan-text fz18 left-align grey lighten-4" style="border-bottom: 2px solid #ccc">
                            本次开发票订单
                        </div>
                        <div class="card-content">
                            <table class="bordered centered" style="width: 100%;">
                                <thead>
                                <tr class="grey-text text-darken-2">
                                    <th data-field="">订单编号</th>
                                    <th data-field="">VIN</th>
                                    <th data-field="">日期范围</th>
                                    <th data-field="">天数</th>
                                    <th data-field="">支付(美元)</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="el in invoiceStorageOrderRelList" class="grey-text text-darken-1" style="height:30px">
                                    <td ng-bind="el.storage_order_id"></td>
                                    <td ng-bind="el.vin"></td>
                                    <td>{{el.enter_time |date:'yyyy-MM-dd'}} 至 {{el.real_out_time |date:'yyyy-MM-dd'}}</td>
                                    <td>{{el.day_count}}</td>
                                    <td class="red-text">{{el.actual_fee|currency}}</td>

                                    <!-- 显示画面按钮 -->
                                    <td class="operation">
                                        <a  ng-click="deleteInvoiceStorageOrderRel(el.storage_order_id)" class="col s2 left" style="cursor: pointer">
                                            <i class="mdi mdi-do-not-disturb look_icon red-text lighten-1 fz25"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="right-align" style="padding-right: 25px;padding-bottom: 15px;">应开发票金额(美元): <span class="red-text">{{totalStorageMoney | currency}}</span></div>
                    </div>
                </div>
            </div>
        </div>

        <!--条件分支 已完结-->
        <div ng-show='invoiceInfo.invoiceStatus==2'>
            <!--条件分支 无订单-->
            <div  ng-show="invoiceStorageOrderRelList.length==0" >
                <div style="height:400px;line-height: 400px;text-align: center">
                    <i class="mdi  mdi-alert-circle-outline red-text fz30"></i>
                    <span class="bold grey-text fz22">委托方暂无本次开发票订单</span>
                </div>
            </div>

            <div ng-show='invoiceStorageOrderRelList.length!==0'>
                <div class="card" style="border: 2px solid #ccc;width:90%;margin:0 auto">
                    <div class="card-content bold cyan-text fz18 left-align grey lighten-4" style="border-bottom: 2px solid #ccc">
                        本次开发票订单
                    </div>
                    <div class="card-content">

                        <table class="bordered centered" style="width: 100%;">
                            <thead>
                            <tr class="grey-text text-darken-2">
                                <th data-field="">订单编号</th>
                                <th data-field="">VIN</th>
                                <th data-field="">日期范围</th>
                                <th data-field="">天数</th>
                                <th data-field="">支付(美元)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="el in invoiceStorageOrderRelList" class="grey-text text-darken-1" style="height:30px">
                                <td ng-bind="el.storage_order_id"></td>
                                <td ng-bind="el.vin"></td>
                                <td>{{el.enter_time |date:'yyyy-MM-dd'}} 至 {{el.real_out_time |date:'yyyy-MM-dd'}}</td>
                                <td>{{el.day_count}}</td>
                                <td class="red-text">{{el.actual_fee|currency}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="right-align" style="padding-right: 25px;padding-bottom: 15px;">总金额(美元): <span class="red-text">{{totalStorageMoney | currency}}</span></div>
                </div>
            </div>
        </div>
    </div>

    <!--关联海运订单的详细信息-->
    <div id="invoiceShipOrderDiv" class="col s12 tab_box" style="width: 100%;">
        <!--条件分支 未完结-->
        <div ng-show='invoiceInfo.invoiceStatus==1'>

            <!-- 发票金额 应开发票总额 -->
            <div class="col s12 fz14" style="margin-bottom: 20px;">
                <div class="col s12 cyan-text">
                    <div class="col s6 left-align blue-grey lighten-5" style="height:50px; padding-top: 15px; border: 1px solid lightgrey;border-right: 0">
                        发票金额(美元): <span class="red-text">{{invoiceInfo.invoiceMoney | currency}}</span>
                    </div>
                    <div class="col s6 right-align blue-grey lighten-5" style="height:50px; padding-top: 15px; border: 1px solid lightgrey;border-left: 0">
                        应开发票总额(美元): <span class="red-text">{{totalStorageMoney + totalShipTransMoney + totalPaymentMoney | currency}}</span>
                    </div>
                </div>
            </div>

            <!--委托方未结仓海运订单 无订单-->
            <div class="col s6" ng-show="shipTransOrderList.length==0">
                <div  class="col s12 left">
                    <div class="card" style="border: 2px solid #ccc">
                        <div class="card-content bold cyan-text fz18 left-align grey lighten-4" style="border-bottom: 2px solid #ccc">
                            委托方已支付未开发票订单
                        </div>
                        <div class="card-content">
                            <div style="height:200px;line-height: 200px;text-align: center">
                                <i class="mdi  mdi-alert-circle-outline red-text fz30"></i>
                                <span class="bold grey-text fz22">委托方暂无已支付未开发票订单</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--委托方未结仓储订单 有订单-->
            <div class="col s6" ng-show="shipTransOrderList.length!==0">
                <div  class="col s12 left">
                    <div class="card" style="border: 2px solid #ccc;height:auto">
                        <div class="card-content bold cyan-text fz18 left-align grey lighten-4" style="border-bottom: 2px solid #ccc">
                            委托方已支付未开发票订单
                        </div>
                        <div class="card-content">
                            <table class="bordered centered" style="width: 100%;">
                                <thead>
                                <tr class="grey-text text-darken-2">
                                    <th data-field="">订单编号</th>
                                    <th data-field="">VIN</th>
                                    <th data-field="">海运线路</th>
                                    <th data-field="">开船日期</th>
                                    <th data-field="">到港日期</th>
                                    <th data-field="">运费(美元)</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="el in shipTransOrderList" class="grey-text text-darken-1" style="height:30px">
                                    <!-- 订单编号 -->
                                    <td ng-bind="el.id"></td>
                                    <!-- VIN -->
                                    <td ng-bind="el.vin"></td>
                                    <!-- 海运线路 -->
                                    <td>{{el.start_port_name}} - {{el.end_port_name}}</td>
                                    <!-- 开船日期 -->
                                    <td>{{el.actual_start_date |date:'yyyy-MM-dd'}}</td>
                                    <!-- 到港日期 -->
                                    <td>{{el.actual_end_date |date:'yyyy-MM-dd'}}</td>
                                    <!-- 运费(美元) -->
                                    <td class="red-text">{{el.ship_trans_fee|currency}}</td>
                                    <!-- 显示画面按钮 -->
                                    <td class="operation">
                                        <a  ng-click="addShipTransOderRel(el.id)" class="col s2 left" style="cursor: pointer">
                                            <i class="mdi mdi-plus-circle look_icon cyan-text lighten-1 fz25"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--本次开发票订单 无订单-->
            <div class="col s6"  ng-show="invoiceShipOrderRelList.length==0">
                <div  class="col s12 right">
                    <div class="card" style="border: 2px solid #ccc">
                        <div class="card-content bold cyan-text fz18 left-align grey lighten-4" style="border-bottom: 2px solid #ccc">
                            本次开发票订单
                        </div>
                        <div class="card-content">
                            <div style="height:200px;line-height: 200px;text-align: center">
                                <i class="mdi  mdi-alert-circle-outline red-text fz30"></i>
                                <span class="bold grey-text fz22">委托方暂无本次开发票订单</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--本次开发票订单 有订单-->
            <div class="col s6"  ng-show="invoiceShipOrderRelList.length!==0">
                <div  class="col s12 right">
                    <div class="card" style="border: 2px solid #ccc">
                        <div class="card-content bold cyan-text fz18 left-align grey lighten-4" style="border-bottom: 2px solid #ccc">
                            本次开发票订单
                        </div>
                        <div class="card-content">
                            <table class="bordered centered" style="width: 100%;">
                                <thead>
                                <tr class="grey-text text-darken-2">
                                    <th data-field="">订单编号</th>
                                    <th data-field="">VIN</th>
                                    <th data-field="">海运线路</th>
                                    <th data-field="">开船日期</th>
                                    <th data-field="">到港日期</th>
                                    <th data-field="">运费(美元)</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="el in invoiceShipOrderRelList" class="grey-text text-darken-1" style="height:30px">
                                    <!-- 订单编号 -->
                                    <td ng-bind="el.ship_trans_order_id"></td>
                                    <!-- VIN -->
                                    <td ng-bind="el.vin"></td>
                                    <!-- 海运线路 -->
                                    <td>{{el.start_port_name}} - {{el.end_port_name}}</td>
                                    <!-- 开船日期 -->
                                    <td>{{el.actual_start_date |date:'yyyy-MM-dd'}}</td>
                                    <!-- 到港日期 -->
                                    <td>{{el.actual_end_date |date:'yyyy-MM-dd'}}</td>
                                    <!-- 运费(美元) -->
                                    <td class="red-text">{{el.ship_trans_fee|currency}}</td>
                                    <!-- 显示画面按钮 -->
                                    <td class="operation">
                                        <a  ng-click="deleteShipTransOderRel(el.ship_trans_order_id)" class="col s2 left" style="cursor: pointer">
                                            <i class="mdi mdi-do-not-disturb look_icon red-text lighten-1 fz25"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="right-align" style="padding-right: 25px;padding-bottom: 15px;">应开发票金额(美元): <span class="red-text">{{totalShipTransMoney | currency}}</span></div>
                    </div>
                </div>
            </div>
        </div>

        <!--条件分支 已完结-->
        <div ng-show='invoiceInfo.invoiceStatus==2'>
            <!--条件分支 无订单-->
            <div  ng-show="invoiceShipOrderRelList.length==0" >
                <div style="height:400px;line-height: 400px;text-align: center">
                    <i class="mdi  mdi-alert-circle-outline red-text fz30"></i>
                    <span class="bold grey-text fz22">委托方暂无本次开发票订单</span>
                </div>
            </div>

            <div ng-show='invoiceShipOrderRelList.length!==0'>
                <div class="card" style="border: 2px solid #ccc;width:90%;margin:0 auto">
                    <div class="card-content bold cyan-text fz18 left-align grey lighten-4" style="border-bottom: 2px solid #ccc">
                        本次开发票订单
                    </div>
                    <div class="card-content">

                        <table class="bordered centered" style="width: 100%;">
                            <thead>
                            <tr class="grey-text text-darken-2">
                                <th data-field="">订单编号</th>
                                <th data-field="">VIN</th>
                                <th data-field="">海运线路</th>
                                <th data-field="">开船日期</th>
                                <th data-field="">到港日期</th>
                                <th data-field="">运费(美元)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="el in invoiceShipOrderRelList" class="grey-text text-darken-1" style="height:30px">
                                <!-- 订单编号 -->
                                <td ng-bind="el.ship_trans_order_id"></td>
                                <!-- VIN -->
                                <td ng-bind="el.vin"></td>
                                <!-- 海运线路 -->
                                <td>{{el.start_port_name}} - {{el.end_port_name}}</td>
                                <!-- 开船日期 -->
                                <td>{{el.actual_start_date |date:'yyyy-MM-dd'}}</td>
                                <!-- 到港日期 -->
                                <td>{{el.actual_end_date |date:'yyyy-MM-dd'}}</td>
                                <!-- 运费(美元) -->
                                <td class="red-text">{{el.ship_trans_fee|currency}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="right-align" style="padding-right: 25px;padding-bottom: 15px;">总金额(美元): <span class="red-text">{{totalShipTransMoney | currency}}</span></div>
                </div>
            </div>
        </div>
    </div>

    <!--TAB [关联还款] 详细信息-->
    <div id="paymentDiv" class="col s12 tab_box" style="width: 100%;">
        <!--条件分支 未完结-->
        <div ng-show='invoiceInfo.invoiceStatus==1'>

            <!-- 发票金额 应开发票总额 -->
            <div class="col s12 fz14" style="margin-bottom: 20px;">
                <div class="col s12 cyan-text">
                    <div class="col s6 left-align blue-grey lighten-5" style="height:50px; padding-top: 15px; border: 1px solid lightgrey;border-right: 0">
                        发票金额(美元): <span class="red-text">{{invoiceInfo.invoiceMoney | currency}}</span>
                    </div>
                    <div class="col s6 right-align blue-grey lighten-5" style="height:50px; padding-top: 15px; border: 1px solid lightgrey;border-left: 0">
                        应开发票总额(美元): <span class="red-text">{{totalStorageMoney + totalShipTransMoney + totalPaymentMoney | currency}}</span>
                    </div>
                </div>
            </div>

            <!--委托方未结仓海运订单 无订单-->
            <div class="col s6" ng-show="loanRepaymentList.length==0">
                <div  class="col s12 left">
                    <div class="card" style="border: 2px solid #ccc">
                        <div class="card-content bold cyan-text fz18 left-align grey lighten-4" style="border-bottom: 2px solid #ccc">
                            委托方已支付未开发票订单
                        </div>
                        <div class="card-content">
                            <div style="height:200px;line-height: 200px;text-align: center">
                                <i class="mdi  mdi-alert-circle-outline red-text fz30"></i>
                                <span class="bold grey-text fz22">委托方暂无已支付未开发票订单</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--委托方未结仓储订单 有订单-->
            <div class="col s6" ng-show="loanRepaymentList.length!==0">
                <div  class="col s12 left">
                    <div class="card" style="border: 2px solid #ccc;height:auto">
                        <div class="card-content bold cyan-text fz18 left-align grey lighten-4" style="border-bottom: 2px solid #ccc">
                            委托方已支付未开发票订单
                        </div>
                        <div class="card-content">
                            <table class="bordered centered" style="width: 100%;">
                                <thead>
                                <tr class="grey-text text-darken-2">
                                    <th data-field="">还款编号</th>
                                    <th data-field="">贷出金额(美元)</th>
                                    <th data-field="">利率/天</th>
                                    <th data-field="">日期范围</th>
                                    <th data-field="">天数</th>
                                    <th data-field="">利息(美元)</th>
                                    <th data-field="">手续费(美元)</th>
                                    <th data-field="">总额(美元)</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="el in loanRepaymentList" class="grey-text text-darken-1" style="height:30px">
                                    <!-- 还款编号 -->
                                    <td ng-bind="el.id"></td>
                                    <!-- 贷出金额(美元) -->
                                    <td class="red-text">{{el.loan_money|currency}}</td>
                                    <!-- 利率/天 -->
                                    <td>{{el.rate}}%</td>
                                    <!-- 日期范围 -->
                                    <td>{{el.loan_start_date |date:'yyyy-MM-dd'}} 至 {{el.created_on |date:'yyyy-MM-dd'}}</td>
                                    <!-- 天数 -->
                                    <td ng-bind="el.day_count"></td>
                                    <!-- 利息(美元) -->
                                    <td class="red-text">{{el.interest_money|currency}}</td>
                                    <!-- 手续费(美元) -->
                                    <td class="red-text">{{el.fee|currency}}</td>
                                    <!-- 总额(美元) -->
                                    <td class="red-text">{{(el.repayment_money==null ? 0 : el.repayment_money) + (el.interest_money==null ? 0 : el.interest_money) + (el.fee==null ? 0 : el.fee) | currency}}</td>
                                    <!-- 显示画面按钮 -->
                                    <td class="operation">
                                        <a  ng-click="addInvoiceLoanRepRel(el.id)" class="col s2 left" style="cursor: pointer">
                                            <i class="mdi mdi-plus-circle look_icon cyan-text lighten-1 fz25"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--本次开发票订单 无订单-->
            <div class="col s6"  ng-show="invoiceLoanRepRelList.length==0">
                <div  class="col s12 right">
                    <div class="card" style="border: 2px solid #ccc">
                        <div class="card-content bold cyan-text fz18 left-align grey lighten-4" style="border-bottom: 2px solid #ccc">
                            本次开发票订单
                        </div>
                        <div class="card-content">
                            <div style="height:200px;line-height: 200px;text-align: center">
                                <i class="mdi  mdi-alert-circle-outline red-text fz30"></i>
                                <span class="bold grey-text fz22">委托方暂无本次开发票订单</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--本次开发票订单 有订单-->
            <div class="col s6"  ng-show="invoiceLoanRepRelList.length!==0">
                <div  class="col s12 right">
                    <div class="card" style="border: 2px solid #ccc">
                        <div class="card-content bold cyan-text fz18 left-align grey lighten-4" style="border-bottom: 2px solid #ccc">
                            本次开发票订单
                        </div>
                        <div class="card-content">
                            <table class="bordered centered" style="width: 100%;">
                                <thead>
                                <tr class="grey-text text-darken-2">
                                    <th data-field="">还款编号</th>
                                    <th data-field="">贷出金额(美元)</th>
                                    <th data-field="">利率/天</th>
                                    <th data-field="">日期范围</th>
                                    <th data-field="">天数</th>
                                    <th data-field="">利息(美元)</th>
                                    <th data-field="">手续费(美元)</th>
                                    <th data-field="">总额(美元)</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="el in invoiceLoanRepRelList" class="grey-text text-darken-1" style="height:30px">
                                    <!-- 还款编号 -->
                                    <td ng-bind="el.repayment_id"></td>
                                    <!-- 贷出金额(美元) -->
                                    <td class="red-text">{{el.loan_money|currency}}</td>
                                    <!-- 利率/天 -->
                                    <td>{{el.rate}}%</td>
                                    <!-- 日期范围 -->
                                    <td>{{el.loan_start_date |date:'yyyy-MM-dd'}} 至 {{el.repayment_date |date:'yyyy-MM-dd'}}</td>
                                    <!-- 天数 -->
                                    <td ng-bind="el.day_count"></td>
                                    <!-- 利息(美元) -->
                                    <td class="red-text">{{el.interest_money|currency}}</td>
                                    <!-- 手续费(美元) -->
                                    <td class="red-text">{{el.fee|currency}}</td>
                                    <!-- 总额(美元) -->
                                    <td class="red-text">{{(el.repayment_money==null ? 0 : el.repayment_money) + (el.interest_money==null ? 0 : el.interest_money) + (el.fee==null ? 0 : el.fee) | currency}}</td>
                                    <!-- 显示画面按钮 -->
                                    <td class="operation">
                                        <a  ng-click="deleteInvoiceLoanRepRel(el.repayment_id)" class="col s2 left" style="cursor: pointer">
                                            <i class="mdi mdi-do-not-disturb look_icon red-text lighten-1 fz25"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="right-align" style="padding-right: 25px;padding-bottom: 15px;">应开发票金额(美元): <span class="red-text">{{totalPaymentMoney | currency}}</span></div>
                    </div>
                </div>
            </div>
        </div>

        <!--条件分支 已完结-->
        <div ng-show='invoiceInfo.invoiceStatus==2'>
            <!--条件分支 无订单-->
            <div  ng-show="invoiceLoanRepRelList.length==0" >
                <div style="height:400px;line-height: 400px;text-align: center">
                    <i class="mdi  mdi-alert-circle-outline red-text fz30"></i>
                    <span class="bold grey-text fz22">委托方暂无本次开发票订单</span>
                </div>
            </div>

            <div ng-show='invoiceLoanRepRelList.length!==0'>
                <div class="card" style="border: 2px solid #ccc;width:90%;margin:0 auto">
                    <div class="card-content bold cyan-text fz18 left-align grey lighten-4" style="border-bottom: 2px solid #ccc">
                        本次开发票订单
                    </div>
                    <div class="card-content">

                        <table class="bordered centered" style="width: 100%;">
                            <thead>
                            <tr class="grey-text text-darken-2">
                                <th data-field="">订单编号</th>
                                <th data-field="">贷出金额(美元)</th>
                                <th data-field="">利率/天</th>
                                <th data-field="">日期范围</th>
                                <th data-field="">天数</th>
                                <th data-field="">利息(美元)</th>
                                <th data-field="">手续费(美元)</th>
                                <th data-field="">总额(美元)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="el in invoiceLoanRepRelList" class="grey-text text-darken-1" style="height:30px">
                                <!-- 订单编号 -->
                                <td ng-bind="el.repayment_id"></td>
                                <!-- 贷出金额(美元) -->
                                <td class="red-text">{{el.loan_money|currency}}</td>
                                <!-- 利率/天 -->
                                <td>{{el.rate}}%</td>
                                <!-- 日期范围 -->
                                <td>{{el.loan_start_date |date:'yyyy-MM-dd'}} 至 {{el.repayment_date |date:'yyyy-MM-dd'}}</td>
                                <!-- 天数 -->
                                <td ng-bind="el.day_count"></td>
                                <!-- 利息(美元) -->
                                <td class="red-text">{{el.interest_money|currency}}</td>
                                <!-- 手续费(美元) -->
                                <td class="red-text">{{el.fee|currency}}</td>
                                <!-- 总额(美元) -->
                                <td class="red-text">{{(el.repayment_money==null ? 0 : el.repayment_money) + (el.interest_money==null ? 0 : el.interest_money) + (el.fee==null ? 0 : el.fee) | currency}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="right-align" style="padding-right: 25px;padding-bottom: 15px;">总金额(美元): <span class="red-text">{{totalPaymentMoney | currency}}</span></div>
                </div>
            </div>
        </div>
    </div>







</div>