
<nav class="row cyan lighten-1 z-depth-2 header">
    <div class="nav-wrapper " >
        <ul class="left" >
            <li >
                <a id="menu_link" style="margin-left: 0;display: block" data-activates="slide-out" class="button-collapse "><i class="mdi mdi-menu mdi-36px"></i></a>
            </li>
        </ul>

        <a href="#" class="brand-logo ">Logo</a>
        <ul class="right">
            <!--<li>-->
               <!--<div class="row valign-wrapper hSearch">-->
                   <!--<input class="col s9  search" style="margin: 0" type="text">-->
                   <!--<i  class="col s3 mdi mdi-magnify searchIcon" style="font-size: 45px"></i>-->
               <!--</div>-->
            <!--</li>-->
            <li>
                <a class="right-align" onclick="toggleFullScreen()"><i class="mdi mdi-fullscreen mdi-36px"></i>

                </a>
            </li>
            <li>
                <a class="right-align"><i class="mdi mdi-bell mdi-36px"></i>
                </a>
            </li>
            <li>
                <a><i class="mdi mdi-account-circle mdi-36px"></i></a>
            </li>
            <li ng-click="logOut()">
                <a><i class="mdi mdi-exit-to-app mdi-36px"></i></a>
            </li>
        </ul>
    </div>
</nav>