
<nav class="row purple darken-3 z-depth-2 header">
    <div class="nav-wrapper col s10 offset-l1" >
        <ul class="left">
            <li>
                <a id="menu_link" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi mdi-menu mdi-36px"></i></a>
            </li>
        </ul>

        <a href="#" class="brand-logo ">Logo</a>
        <ul class="right">
            <li>
                <a class="right-align" onclick="toggleFullScreen()"><i class="mdi mdi-fullscreen mdi-36px"></i>
                </a>
            </li>
            <li>
                <a class="right-align"><i class="mdi mdi-bell mdi-36px"></i>
                </a>
            </li>
            <li>
                <a><i class="mdi mdi-account-circle mdi-36px"></i></a>
            </li>
            <li ng-click="logOut()">
                <a><i class="mdi mdi-exit-to-app mdi-36px"></i></a>
            </li>
        </ul>
    </div>
</nav>