<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <div class="background">
                <img src="/assets/images/office.jpg">
            </div>
            <a ><img class="circle" src="/assets/images/avatar.jpeg"></a>
            <a ><span class="white-text name">John Doe</span></a>
            <a ><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
    </li>
    <li><div class="divider"></div></li>
    <li >
        <a class="waves-effect waves-purple" href="#!/" onclick="Materialize.toast('收到即时消息', 4000,'rounded');"><i class="mdi mdi-view-dashboard "></i>主页</a>
    </li>
    <li>
    <a class="waves-effect waves-purple" href="#!/setting"><i class="mdi mdi-settings "></i>设置</a>
    </li>
    <li><div class="divider"></div></li>
    <li >
        <a class="waves-effect waves-purple" href="#!/data" ><i class="mdi mdi-database-plus"></i>数据</a>
    </li>


</ul>