<div class="row homeWrap">
    <div class="col s3 homeWrapList ">
        <div class="red lighten-2">
            <div class="s8">
                <div class="s6 s_index_icon white">
                    <i class="mdi mdi-car"></i>
                </div>
                <div class="s6"></div>
            </div>
            <div class="s4"></div>

        </div>
    </div>
    <div class="col s3 homeWrapList ">
        <div class="red lighten-2">

        </div>
    </div>
    <div class="col s3 homeWrapList ">
        <div class="red lighten-2">

        </div>
    </div>
    <div class="col s3 homeWrapList ">
        <div class="red lighten-2">

        </div>
    </div>
</div>