<!-- 主菜单：委托方 画面 -->
<div class="client"  >
    <div class="row">

        <!-- 上部分：检索条件输入区域 -->
        <div class="row  grey-text text-darken-1" style="margin-bottom: 70px;margin-top: 20px">
            <div class="col s10">
                <!-- 查询条件：委托方性质 -->
                <div class="input-field col s3">
                    <select material-select watch ng-model="entrustType" ng-change="getEntrustInfo(entrustType)">
                        <option value=""  >委托方性质</option>
                        <option ng-repeat="el in entrustTypeList" ng-value="el.entrust_type">{{el.name}}</option>
                    </select>
                </div>

                <!-- 查询条件：委托方 -->
                <div class="input-field col s3" >
                    <select id="entrustSelect"  style="width: 100%">
                        <option value="" ></option>
                        <option ng-repeat="el in entrustList" ng-value="el.id">{{el.short_name}}</option>
                    </select>
                </div>

                <!-- 查询条件：联系人 -->
                <div class="input-field col s3">
                    <input  id="contactsName"  ng-model="contactsName" type="text"  >
                    <label for="contactsName" >联系人</label>
                </div>

                <!-- 查询条件：联系电话 -->
                <div class="input-field col s3">
                    <input  id="contactsTel"  ng-model="contactsTel" type="text"  >
                    <label for="contactsTel" >联系电话</label>
                </div>
            </div>

            <!-- 查询按钮 -->
            <div class="col s2  flex flex-round">
                <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center" style="margin-right: 10px"  ng-click="searchClient()">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>
        </div>

        <!-- 下部分：检索结果显示区域 -->
        <div class="col s12" >
            <div class="divider" style="background: #407BC7;height: 2px;"></div>
            <table class=" bordered striped centered">
                <thead class="blue-grey lighten-5">
                <tr class="grey-text text-darken-2">
                    <th data-field="">委托方</th>
                    <th data-field="">性质</th>
                    <th data-field="">在库车辆</th>
                    <th data-field="">库值(美元)</th>
                    <th data-field="">非MSO车辆</th>
                    <th data-field="">非MSO资产(美元)</th>
                    <th data-field="">联系人</th>
                    <th data-field="">联系电话</th>
                    <th data-field="">登记时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="el in clientArray" class="grey-text text-darken-1">
                    <td ng-bind="el.short_name"></td>
                    <td ng-if="el.entrust_type==1">个人</td>
                    <td ng-if="el.entrust_type==2">企业</td>
                    <td ng-bind="el.car_count"></td>
                    <td>${{el.valuation}}.00</td>
                    <td ng-bind="el.not_mso_count"></td>
                    <td>${{el.not_mso_valuation}}.00</td>
                    <td ng-bind="el.contacts_name"></td>
                    <td ng-bind="el.tel"></td>
                    <td ng-bind="el.created_on |date:'yyyy-MM-dd '"></td>
                    <!-- 显示【仓储车辆信息】画面按钮 -->
                    <td class="operation">
                        <a  ui-sref="client_info_detail({id:el.id,from:'client_info'})" class=""><i class="mdi mdi-file-outline look_icon cyan-text lighten-1  " ></i></a>
                    </td>
                </tr>
                <tr class="grey-text text-darken-1" ng-if="clientArray.length == 0">
                    <td colspan="10" style="letter-spacing: 2px;text-align: center;">暂无数据</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 上下页按钮 -->
        <div class="paging_box col s12">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn  "  id="pre"   ng-click="preBtn()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn " id="next"  ng-click="nextBtn()">
                    下一页
                </a>
            </div>
        </div>
    </div>
</div>