<div class="client_info_detail" >
    <div class="" >
        <!--车辆信息模态框-->
        <div id="carDataModel" class="modal modal-fixed-footer" style="width: 60%">
            <div class="modal-content center fz20" style="font-weight: 500;padding: 0">
                <div class="row col s12 vc-center fz22" style="font-weight: bold;height: 80px;background-color:rgb(63,185,193)">
                    <div class="col s12 white-text">
                        <p style="letter-spacing: 2px">设置车辆当前位置</p>
                    </div>
                </div>
                <div class="row col s12" style="margin-top: -20px">
                    <div class="input-field col s4 offset-s4">

                        <select class="js-example-basic-single" name="state" style="width:100%" ng-model="currentCityId">
                            <option value=""></option>
                            <option ng-repeat="city in allCityList" ng-value="city.id">{{city.city_name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="modal-footer vc-center">
                <button ng-click="closePositionModel()" class="btn waves-light waves-effect grey lighten-1" type="button" style="margin-left: 56px" >
                    取消
                </button>
                <button ng-click="savePositionInfo()" class="btn waves-light waves-effect cyan lighten-1" type="button" style="margin-left: 56px" >
                    确定
                </button>
            </div>
        </div>
        <!--头部详情信息-->
        <div class="row col s12">
            <div class="grey-text text-darken-1 vc-center" style="height: 100px;line-height: 100px;text-align: center">
                <!--企业性质-->
                <h3 class="col s1 left" ng-if="clientList.entrust_type==1"  style="color: #4dd0e1;"><i class="mdi mdi-account"></i></h3>
                <h3 class="col s1 left" ng-if="clientList.entrust_type==2"  style="color: #4dd0e1;"><i class="mdi mdi-domain"></i></h3>
                <!--企业名字（全称/简称）-->
                <div class="col s6 left fz18" style="position: relative;height: 70%">
                    <h4 ng-bind="clientList.short_name" style="position: absolute;top:-40%;left: 3%;color: #26c6da"></h4>
                    <span ng-bind="clientList.entrust_name" style="position: absolute;top: 5%;left: 3%"></span>
                    <div>
                        <i class="mdi mdi-map-marker" style="color:  #26c6da;position: absolute;top:5%;left: 60%;"></i>
                        <span  ng-bind="clientList.address" style="position: absolute;top: 5%;left: 63%"></span>
                    </div>
                    <div>
                        <i class="mdi mdi-file-outline" style="color:  #26c6da;position: absolute;top:60%;left: 3%;"></i>
                        <span  ng-bind="clientList.remark" style="position: absolute;top: 60%;left: 6%"></span>
                    </div>
                </div>
                <!--联系人/创建时间-->
                <div class="col s5 offset-s2 fz20"  style="height: 70%;border-right: 1px solid #ccc;position: relative">
                    <div style="position: absolute;top: -40%;right: 15%;">
                        <i class="mdi mdi-account" style="color: #26c6da"></i>
                        <span  ng-bind="clientList.contacts_name" ></span>
                    </div>
                    <div  style="position: absolute;top: 5%;right: 15%;">
                        <i class="mdi mdi-phone" style="color: #26c6da"></i>
                        <span  ng-bind="clientList.tel"></span>
                    </div>
                    <div style="position: absolute;top: 50%;right: 15%;">
                        <i class="mdi mdi-clock" style="color: #26c6da"></i>
                        <span  ng-bind="clientList.created_on | date:'yyyy-MM-dd HH:mm:ss'" ></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="grey-text text-darken-1 vc-center" style="border-bottom: 1px solid #ccc;height: 30px;line-height: 30px;text-align: center">
        </div>
        <!--列表-->
        <div class="modal-content grey-text text-darken-2">
            <div class="row no-marBottom" ul-tabs>
                <div class="col s12 p0">
                    <ul class="tabWrap grey lighten-4">
                        <li class="tab col s4 inventoryRecord vc-center active"  ng-click="inventoryRecord()">库存记录</li>
                        <li class="tab col s4 relStatus vc-center" ng-click="relStatus()">在库车辆</li>
                        <li class="tab col s4 mosStatus vc-center" ng-click="mosStatus()">非MOS车辆</li>
                    </ul>
                </div>
                <div id="inventoryRecord" class="col s12 tab_box">
                    <!-- 上部分：检索条件输入区域 -->
                    <div class="row  grey-text text-darken-1" style="margin-bottom: 20px;margin-top: 10px">
                        <div class="col s10">
                            <!--车辆状态-->
                            <div class="input-field col s3">
                                <select material-select watch ng-model="getRelStatus">
                                    <option value=""  >请选择</option>
                                    <option ng-repeat="el in relStatus" ng-value="el.s_num">{{el.status_text}}</option>
                                </select>
                                <label>车辆状态</label>
                            </div>
                            <!-- 查询条件：vin -->
                            <div class="input-field col s3">
                                <input name="search_vin" id="search_vin" type="text" ng-model="search_vin">
                                <label for="search_vin">vin码</label>
                            </div>
                            <!--所在仓库-->
                            <div class="input-field col s3">
                                <select material-select watch ng-model="search_storage" ng-change="getStorageId(search_storage)">
                                    <option value=""  selected>所在仓库</option>
                                    <option ng-if="el.storage_status==1" ng-repeat="el in storageName" ng-value="el.id">{{el.storage_name}}</option>
                                </select>
                            </div>
                            <!--是否MSO-->
                            <div class="input-field col s3">
                                <select material-select watch id="getMOS" name="getMOS"  ng-model="getMOS" >
                                    <option value="" disabled selected>是否MSO</option>
                                    <option value="2">是</option>
                                    <option value="1">否</option>
                                </select>
                            </div>

                            <!--入库时间（始）-->
                            <div class="input-field col s3">
                                <input id="get_enterTime_start" type="text" ng-model="search_enterTime_start"  class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                                <label for="get_enterTime_start">入库时间（始）</label>
                            </div>
                            <!--入库时间（终）-->
                            <div class="input-field col s3">
                                <input id="get_enterTime_end" type="text" ng-model="search_enterTime_end"  class="datepicker" autocomplete="off"  required   date><i class="mdi dataIcon mdi-table-large"></i>
                                <label for="get_enterTime_end">入库时间（终）</label>
                            </div>
                            <!--实际出库时间（始）-->
                            <div class="input-field col s3">
                                <input id="search_outTime_start" type="text" ng-model="search_outTime_start"  class="datepicker" autocomplete="off"  required   date><i class="mdi dataIcon mdi-table-large"></i>
                                <label for="search_outTime_start">实际出库时间（始）</label>
                            </div>
                            <!--实际出库时间（终）-->
                            <div class="input-field col s3">
                                <input id="search_outTime_end" type="text" ng-model="search_outTime_end" class="datepicker" autocomplete="off" required   date><i class="mdi dataIcon mdi-table-large"></i>
                                <label for="search_outTime_end">实际出库时间（终）</label>
                            </div>

                        </div>
                        <!-- 查询按钮 -->
                        <div class="col s2 center">
                            <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center" style="margin-right: 10px;margin-top: 20px"  ng-click="getClient()">
                                <i class="mdi mdi-magnify"></i>
                            </a>
                        </div>
                    </div>

                    <!-- 下部分：检索结果显示区域 -->
                    <div class="col s12" >
                        <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                        <table class=" bordered striped centered">
                            <thead class="blue-grey lighten-5">
                            <tr class="grey-text text-darken-2">
                                <th data-field="">vin码</th>
                                <th data-field="">制造商</th>
                                <th data-field="">型号</th>
                                <th data-field="">估值(美元)</th>
                                <th data-field="">MOS车辆</th>
                                <th data-field="">存放位置</th>
                                <th data-field="">入库时间</th>
                                <th data-field="">出库时间</th>
                                <th data-field="">状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="el in storageCar" class="grey-text text-darken-1">
                                <td ng-bind="el.vin"></td>
                                <td ng-if="el.entrust_type==1">个人</td>
                                <td ng-if="el.entrust_type==2">企业</td>
                                <td ng-bind="el.car_count"></td>
                                <td ng-bind="el.valuation"></td>
                                <td ng-bind="el.not_mos_count"></td>
                                <td ng-bind="el.not_mos_valuation"></td>
                                <td ng-bind="el.contacts_name"></td>
                                <td ng-bind="el.tel"></td>
                                <td ng-bind="el.created_on |date:'yyyy-MM-dd '"></td>
                                <!-- 显示【仓储车辆信息】画面按钮 -->
                                <td class="operation">
                                    <a  ui-sref="client_info_detail({id:el.id,from:'client_info'})" class=""><i class="mdi mdi-file-outline look_icon cyan-text lighten-1  " ></i></a>
                                </td>
                            </tr>
                            <tr class="grey-text text-darken-1" ng-if="getClientList.length == 0">
                                <td colspan="10" style="letter-spacing: 2px;text-align: center;">暂无数据</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 上下页按钮 -->
                    <div class="paging_box col s12">
                        <div class="right">
                            <a class="waves-light waves-effect cyan lighten-1 btn  "  id="pre"   ng-click="preBtn()">
                                上一页
                            </a>
                            <a class="waves-light waves-effect cyan lighten-1 btn " id="next"  ng-click="nextBtn()">
                                下一页
                            </a>
                        </div>
                    </div>
                </div>
                <div id="relStatus" class="col s12 tab_box" >
                    <div class="col s12" >
                        <div class="col s12 cyan white-text vc-center fz18" style="height: 60px;border-bottom: 1px solid  #26c6da;border-top:1px solid  #fff" >
                            <div class="col s6 left-align ">在库车辆:{{1111}}</div>
                            <div class="col s6 right-align">估值(美元):{{1111}}</div>
                        </div>
                        <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                        <table class=" bordered striped centered">
                            <thead class="blue-grey lighten-5">
                            <tr class="grey-text text-darken-2">
                                <th data-field="">vin码</th>
                                <th data-field="">制造商</th>
                                <th data-field="">型号</th>
                                <th data-field="">估值(美元)</th>
                                <th data-field="">MOS车辆</th>
                                <th data-field="">存放位置</th>
                                <th data-field="">入库时间</th>
                                <th data-field="">出库时间</th>
                                <th data-field="">状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="el in storageCar" class="grey-text text-darken-1">
                                <td ng-bind="el.vin"></td>
                                <td ng-if="el.entrust_type==1">个人</td>
                                <td ng-if="el.entrust_type==2">企业</td>
                                <td ng-bind="el.car_count"></td>
                                <td ng-bind="el.valuation"></td>
                                <td ng-bind="el.not_mos_count"></td>
                                <td ng-bind="el.not_mos_valuation"></td>
                                <td ng-bind="el.contacts_name"></td>
                                <td ng-bind="el.tel"></td>
                                <td ng-bind="el.created_on |date:'yyyy-MM-dd '"></td>
                                <!-- 显示【仓储车辆信息】画面按钮 -->
                                <td class="operation">
                                    <a  ui-sref="client_info_detail({id:el.id,from:'client_info'})" class=""><i class="mdi mdi-file-outline look_icon cyan-text lighten-1  " ></i></a>
                                </td>
                            </tr>
                            <tr class="grey-text text-darken-1" ng-if="getClientList.length == 0">
                                <td colspan="10" style="letter-spacing: 2px;text-align: center;">暂无数据</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 上下页按钮 -->
                    <div class="paging_box col s12">
                        <div class="right">
                            <a class="waves-light waves-effect cyan lighten-1 btn  "  id="pre"   ng-click="preBtn()">
                                上一页
                            </a>
                            <a class="waves-light waves-effect cyan lighten-1 btn " id="next"  ng-click="nextBtn()">
                                下一页
                            </a>
                        </div>
                    </div>
                </div>
                <div id="mosStatus" class="col s12 tab_box" >
                    <div class="col s12" >
                        <div class="col s12 cyan white-text vc-center fz18" style="height: 60px;border-bottom: 1px solid  #26c6da;border-top:1px solid  #fff" >
                            <div class="col s6 left-align ">在库车辆:{{1111}}</div>
                            <div class="col s6 right-align">估值(美元):{{1111}}</div>
                        </div>
                        <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                        <table class=" bordered striped centered">
                            <thead class="blue-grey lighten-5">
                            <tr class="grey-text text-darken-2">
                                <th data-field="">vin码</th>
                                <th data-field="">制造商</th>
                                <th data-field="">型号</th>
                                <th data-field="">估值(美元)</th>
                                <th data-field="">MOS车辆</th>
                                <th data-field="">存放位置</th>
                                <th data-field="">入库时间</th>
                                <th data-field="">出库时间</th>
                                <th data-field="">状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="el in storageCar" class="grey-text text-darken-1">
                                <td ng-bind="el.vin"></td>
                                <td ng-if="el.entrust_type==1">个人</td>
                                <td ng-if="el.entrust_type==2">企业</td>
                                <td ng-bind="el.car_count"></td>
                                <td ng-bind="el.valuation"></td>
                                <td ng-bind="el.not_mos_count"></td>
                                <td ng-bind="el.not_mos_valuation"></td>
                                <td ng-bind="el.contacts_name"></td>
                                <td ng-bind="el.tel"></td>
                                <td ng-bind="el.created_on |date:'yyyy-MM-dd '"></td>
                                <!-- 显示【仓储车辆信息】画面按钮 -->
                                <td class="operation">
                                    <a  ui-sref="client_info_detail({id:el.id,from:'client_info'})" class=""><i class="mdi mdi-file-outline look_icon cyan-text lighten-1  " ></i></a>
                                </td>
                            </tr>
                            <tr class="grey-text text-darken-1" ng-if="getClientList.length == 0">
                                <td colspan="10" style="letter-spacing: 2px;text-align: center;">暂无数据</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 上下页按钮 -->
                    <div class="paging_box col s12">
                        <div class="right">
                            <a class="waves-light waves-effect cyan lighten-1 btn  "  id="pre"   ng-click="preBtn()">
                                上一页
                            </a>
                            <a class="waves-light waves-effect cyan lighten-1 btn " id="next"  ng-click="nextBtn()">
                                下一页
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>