<div class="CarMsgWrap" ng-controller="CompanyController" >
    <div class="row searchBoxWrap valign-wrapper">
        <div class="col s5">
            <div class="row valign-wrapper">
                <div class="col s3 ">
                    公司名称:
                </div>
                <!--<select car-select class="col s8 ">-->
                <!--<option value="" disabled selected>Choose your option</option>-->
                <!--<option value="1">选项 1</option>-->
                <!--<option value="2">选项 2</option>-->
                <!--<option value="3">选项 3</option>-->
                <!--</select>-->
                <div class="input-field col s9">
                    <input placeholder=""  type="text" ng-model="carNum" class="validate">
                </div>
            </div>
            <div class="row valign-wrapper">
                <div class="col s3 ">
                    联系人:
                </div>
                <select car-select class="col s9 browser-default " ng-model="beToType">
                    <option value="" disabled selected>请选择</option>
                    <option value="1">选项 1</option>
                    <option value="2">选项 2</option>
                    <option value="3">选项 3</option>
                </select>
            </div>

        </div>
        <div class="col s4">
            <div class="row valign-wrapper">
                <div class="col s4 ">
                    所属类型:
                </div>
                <!--<select car-select class="col s8 ">-->
                <!--<option value="" disabled selected>Choose your option</option>-->
                <!--<option value="1">选项 1</option>-->
                <!--<option value="2">选项 2</option>-->
                <!--<option value="3">选项 3</option>-->
                <!--</select>-->
                <select car-select class="col s8 browser-default " ng-model="beToType">
                    <option value="" disabled selected>请选择</option>
                    <option value="1">选项 1</option>
                    <option value="2">选项 2</option>
                    <option value="3">选项 3</option>
                </select>
            </div>
            <div class="row valign-wrapper">
                <div class="col s4">
                    所在城市:
                </div>
                <!--<select car-select class="col s8 ">-->
                <!--<option value="" disabled selected>Choose your option</option>-->
                <!--<option value="1">选项 1</option>-->
                <!--<option value="2">选项 2</option>-->
                <!--<option value="3">选项 3</option>-->
                <!--</select>-->
                <div class="input-field col s8">
                    <input placeholder=""  type="text" ng-model="carNum" class="validate">
                </div>
            </div>
        </div>
        <!--<div class="col s3">-->
            <!--<div class="row valign-wrapper ">-->
                <!--<div class="col s5 center-align">-->
                    <!--车检:-->
                <!--</div>-->
                <!--<select car-select class="col s7 browser-default " ng-model="carState" style="margin-bottom: 20px">-->
                    <!--<option value="" disabled selected>请选择</option>-->
                    <!--<option value="1">选项 1</option>-->
                    <!--<option value="2">选项 2</option>-->
                    <!--<option value="3">选项 3</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div class="row valign-wrapper input-field">-->
                <!--<div class="col s5 center-align">-->
                    <!--保险:-->
                <!--</div>-->
                <!--<select car-select class="col s7 browser-default " ng-model="insurance" ng-change="change(x)">-->
                    <!--<option value="" disabled selected>请选择</option>-->
                    <!--<option value="1">选项 1</option>-->
                    <!--<option value="2">选项 2</option>-->
                    <!--<option value="3">选项 3</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <div class="col s1">
            <a style="width: 100%;padding:0  1rem" class="waves-effect waves-light btn-large" ng-click="search()">搜索</a>
        </div>
        <div class="col s2">
            <a style="width: 100%" class="waves-effect waves-light materialize-red lighten-1 btn-large" ng-click="addCompany()">增加公司</a>
            <div id="addCompany" class="modal">
                <div class="modal-content">
                    <h4 class="center-align">增加公司</h4>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="container" style="padding: 20px 0">
                            <div class="row">
                                    <p class="col s3" style="padding: 10px 0.75rem"><span class="red-text">*</span><span style="font-size: 20px">公司名称:</span></p>
                                    <input  type="text" ng-model="addCompanyName" class="col s6 validate">
                            </div>
                            <div class="row ">
                                <div class="col s4">
                                    <p class="left"><span class="red-text">*</span><span >合作性质:</span></p>
                                    <select car-select class="browser-default " ng-model="addOperateType">
                                        <option value="" disabled selected>请选择</option>
                                        <option value="1">自营</option>
                                        <option value="2">供方</option>
                                        <option value="3">外协</option>
                                        <option value="4">承包</option>
                                    </select>
                                </div>
                                <div class="col s4 ">
                                    <p class="left"><span class="red-text">*</span><span >所在城市:</span></p>
                                    <input  type="text" ng-model="addCityId" class="   validate">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s4">
                                    <p class="left"><span class="red-text">*</span><span >合作时间:</span></p>
                                    <div class="dateBox">
                                        <input type="date" class="datepicker" ng-model="addCooperationTime" date><i class="mdi dataIcon mdi-table-large"></i>
                                    </div>
                                </div>
                                <div class="col s4 ">
                                    <p class="left"><span class="red-text">*</span><span >联系人:</span></p>
                                    <input  type="text" ng-model="addContacts" class="validate">
                                </div>
                                <div class="col s4 ">
                                    <p class="left"><span class="red-text">*</span><span >联系电话:</span></p>
                                    <input  type="text" ng-model="addTel" class=" validate">
                                </div>
                            </div>
                            <div class="row">
                                <p class="left"><span >备注:</span></p>
                                <textarea style="height: 80px" ng-model="addMark"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="modal-footer vc-center">
                    <a  class=" modal-action blue white-text waves-effect waves-white btn-flat" ng-click="submit()">提交</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="divider"></div>
        <div class="col s12" >
            <table class="highlight bordered">
                <thead>
                <tr>
                    <th data-field="">公司名称</th>
                    <th data-field="">合作性质</th>
                    <th data-field="">可用车辆(辆)</th>
                    <th data-field="">拥有司机(人)</th>
                    <th data-field="">联系人</th>
                    <th data-field="">公司电话</th>
                    <th data-field="">所属城市</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="el in Company">
                    <td ng-bind="el.company_name"></td>
                    <td ng-bind="el.operate_type"></td>
                    <td>汉</td>
                    <td>张三</td>
                    <td ng-bind="el.contacts"></td>
                    <td ng-bind="el.tel"></td>
                    <td ng-bind="el.city_id"></td>
                    <td class="operation">
                        <span><i class="mdi mdi-eye"  ng-click="LookCompany(el.id)"></i></span>
                        <span><i class="mdi mdi-truck-delivery"></i></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="LookCompany" class="modal">
        <div class="modal-content">
            <h4 class="center-align">公司信息</h4>
            <div class="divider"></div>
            <div class="row">
                <div class="container" style="padding: 20px 0;font-size: 15px">
                    <div class="row ">
                        <p class="col s3" style="padding: 10px 0.75rem"><span class="red-text">*</span><span >公司名称:</span></p>
                        <input  type="text" ng-model="company.company_name" class="col s6 validate">
                    </div>
                    <div class="row ">
                        <div class="col s4">
                            <p class="left"><span class="red-text">*</span><span >合作性质:</span></p>
                            <input  type="text" ng-model="company.operate_type" class="left validate">
                        </div>
                        <div class="col s4 ">
                            <p class="left"><span class="red-text">*</span><span >所在城市:</span></p>
                            <input  type="text" ng-model="company.city_id" class="left  validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4">
                            <p class="left"><span class="red-text">*</span><span >合作时间:</span></p>
                            <div class="dateBox">
                                <input type="date" ng-model="company.cooperation_time" class="datepicker"  date><i class="mdi dataIcon mdi-table-large"></i>
                            </div>
                        </div>
                        <div class="col s4 ">
                            <p class="left"><span class="red-text">*</span><span >联系人:</span></p>
                            <input  type="text" ng-model="company.contacts" class="   validate">
                        </div>
                        <div class="col s4 ">
                            <p class="left"><span class="red-text">*</span><span >公司电话:</span></p>
                            <input  type="text"  ng-model="company.tel" class="  validate">
                        </div>
                    </div>
                    <div class="row">
                        <p class="col s4">
                            拥有头车:
                            <span class="red-text">8辆</span>
                        </p>
                        <p class="col s4">
                            拥有挂车:
                            <span class="red-text">10辆</span>
                        </p>
                        <p class="col s4">
                            拥有司机:
                            <span class="red-text">25人</span>
                        </p>
                    </div>
                    <div class="row">
                        <p class="left"><span >备注:</span></p>
                        <textarea style="height: 80px"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="modal-footer vc-center">
            <a  class=" modal-action blue white-text waves-effect waves-white btn-flat" ng-click="changeCom(company.id)">修改</a>
        </div>
    </div>
</div>