<div class="CarMsgWrap" ng-controller="CompanyController" >
    <div class="row searchBoxWrap valign-wrapper">
        <div class="col s8">
            <div class="row valign-wrapper">
                <div class="col s1-0">
                    公司名称:
                </div>
                <!--<select car-select class="col s8 ">-->
                <!--<option value="" disabled selected>Choose your option</option>-->
                <!--<option value="1">选项 1</option>-->
                <!--<option value="2">选项 2</option>-->
                <!--<option value="3">选项 3</option>-->
                <!--</select>-->
                <div class="input-field col s9-0">
                    <input placeholder=""  type="text" ng-model="S_computer" class="validate">
                </div>
            </div>
            <div class="row ">
                <div class="col s6">
                    <div class="row valign-wrapper">
                        <div class="col s2-0" style="padding: 0">
                            所属类型:
                        </div>
                        <!--<select car-select class="col s8 ">-->
                        <!--<option value="" disabled selected>Choose your option</option>-->
                        <!--<option value="1">选项 1</option>-->
                        <!--<option value="2">选项 2</option>-->
                        <!--<option value="3">选项 3</option>-->
                        <!--</select>-->
                        <select car-select class="col s8-0 browser-default " ng-model="S_type">
                            <option value="" disabled selected>请选择</option>
                            <option value="1">自营</option>
                            <option value="2">供方</option>
                            <option value="3">外协</option>
                            <option value="4">承包</option>
                        </select>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row valign-wrapper">
                        <div class="col s2-0 no-pm">
                            所属城市:
                        </div>
                        <!--<select car-select class="col s8 ">-->
                        <!--<option value="" disabled selected>Choose your option</option>-->
                        <!--<option value="1">选项 1</option>-->
                        <!--<option value="2">选项 2</option>-->
                        <!--<option value="3">选项 3</option>-->
                        <!--</select>-->
                        <select car-select class="col s8-0 browser-default" ng-model="S_city">
                            <option value="" disabled selected>请选择</option>
                            <option value="1">选项 1</option>
                            <option value="2">选项 2</option>
                            <option value="3">选项 3</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="col s1">
            <a style="width: 100%;padding:0  1rem" class="waves-effect waves-light btn-large" ng-click="search()">搜索</a>
        </div>
        <div class="col s2">
            <a style="width: 100%" class="waves-effect waves-light materialize-red lighten-1 btn-large" ng-click="addCompany()">增加公司</a>
            <div id="addCompany" class="modal">
                <div class="modal-content">
                    <h4 class="center-align">增加公司</h4>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="container" style="padding: 20px 0">
                            <div class="row">
                                    <p class="col s2-0" style="padding: 10px 0.75rem"><span class="red-text">*</span><span style="font-size: 20px">公司名称:</span></p>
                                    <input  type="text" ng-model="addCompanyName" class="col s8-0 validate">
                            </div>
                            <div class="row ">
                                <div class="col s6">
                                    <div class="row valign-wrapper no-marBottom">
                                        <p class="col s4-0"><span class="red-text">*</span><span >合作性质:</span></p>
                                        <select car-select class="browser-default col s6-0" ng-model="addOperateType">
                                            <option value="" disabled selected>请选择</option>
                                            <option value="1">自营</option>
                                            <option value="2">供方</option>
                                            <option value="3">外协</option>
                                            <option value="4">承包</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col s6">
                                    <div class="row valign-wrapper no-marBottom">
                                        <p class="col s4-0"><span class="red-text">*</span><span >所在城市:</span></p>
                                        <select car-select class="browser-default col s6-0" ng-model="addCityId">
                                            <option value="" disabled selected>请选择</option>
                                            <option value="{{op.id}}" ng-repeat="op in citys">{{op.city_name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6">
                                    <div class="row valign-wrapper no-marBottom">
                                        <p class="col s4-0"><span class="red-text">*</span><span >联系人:</span></p>
                                        <input  type="text" ng-model="addContacts" class=" col s6-0 validate">
                                    </div>


                                </div>
                                <div class="col s6">
                                    <div class="row valign-wrapper no-marBottom">
                                        <p class="col s4-0"><span class="red-text">*</span><span >联系电话:</span></p>
                                        <input  type="text" ng-model="addTel" class="col s6-0 validate">
                                    </div>
                                </div>
                            </div>
                            <div class="row valign-wrapper ">
                                <p class="col s2-0"><span class="red-text">*</span><span>合作时间:</span></p>
                                <div class="dateBox col s8-0" style="padding:0">
                                    <input type="date" class="datepicker" ng-model="addCooperationTime"  date-filter  date><i class="mdi dataIcon mdi-table-large"></i>
                                </div>
                            </div>
                            <div class="row">
                                <p class="left"><span >备注:</span></p>
                                <textarea style="height: 80px" ng-model="addMark"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="modal-footer vc-center">
                    <a  class=" modal-action blue white-text waves-effect waves-white btn-flat" ng-click="submit()">提交</a>
                    <a  class=" modal-action modal-close blue white-text waves-effect waves-white btn-flat" style="margin-left: 10px" >取消</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="divider"></div>
        <div class="col s12" >
            <table class="highlight bordered">
                <thead>
                <tr>
                    <th data-field="">公司名称</th>
                    <th data-field="">合作性质</th>
                    <th data-field="">可用车辆(辆)</th>
                    <th data-field="">联系人</th>
                    <th data-field="">公司电话</th>
                    <th data-field="">所属城市</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="el in Company">
                    <td ng-bind="el.company_name"></td>
                    <td ng-bind="el.operate_type"></td>
                    <td>汉</td>
                    <td ng-bind="el.contacts"></td>
                    <td ng-bind="el.tel"></td>
                    <td ng-bind="el.city_name"></td>
                    <td class="operation">
                        <span><i class="mdi mdi-eye"  ng-click="LookCompany(el.id)"></i></span>
                        <span><i class="mdi mdi-truck-delivery"></i></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="LookCompany" class="modal">
        <div class="modal-content">
            <h4 class="center-align">公司信息</h4>
            <div class="divider"></div>
            <div class="row">
                <div class="container" style="padding: 20px 0;font-size: 15px">
                    <div class="row ">
                        <p class="col s2-0" style="padding: 10px 0.75rem"><span class="red-text">*</span><span >公司名称:</span></p>
                        <input  type="text" ng-model="company.company_name" class="col s8-0 validate">
                    </div>
                    <!--<div class="row ">-->
                        <!--<div class="col s4">-->
                            <!--<p class="left"><span class="red-text">*</span><span >合作性质:</span></p>-->
                            <!--<input  type="text" ng-model="company.operate_type" class="left validate">-->
                        <!--</div>-->
                        <!--<div class="col s4 ">-->
                            <!--<p class="left"><span class="red-text">*</span><span >所在城市:</span></p>-->
                            <!--<input  type="text" ng-model="company.city_id" class="left  validate">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col s4">-->
                            <!--<p class="left"><span class="red-text">*</span><span >合作时间:</span></p>-->
                            <!--<div class="dateBox">-->
                                <!--<input type="date" ng-model="company.cooperation_time" class="datepicker"  date><i class="mdi dataIcon mdi-table-large"></i>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col s4 ">-->
                            <!--<p class="left"><span class="red-text">*</span><span >联系人:</span></p>-->
                            <!--<input  type="text" ng-model="company.contacts" class="   validate">-->
                        <!--</div>-->
                        <!--<div class="col s4 ">-->
                            <!--<p class="left"><span class="red-text">*</span><span >公司电话:</span></p>-->
                            <!--<input  type="text"  ng-model="company.tel" class="  validate">-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="row ">
                        <div class="col s6">
                            <div class="row valign-wrapper no-marBottom">
                                <p class="col s4-0"><span class="red-text">*</span><span >合作性质:</span></p>
                                <select car-select class="browser-default col s6-0" ng-model="company.operate_type">
                                    <option value="" disabled selected>请选择</option>
                                    <option ng-value="1" >自营</option>
                                    <option ng-value="2">供方</option>
                                    <option ng-value="3">外协</option>
                                    <option ng-value="4">承包</option>
                                </select>
                            </div>

                        </div>
                        <div class="col s6">
                            <div class="row valign-wrapper no-marBottom">
                                <p class="col s4-0"><span class="red-text">*</span><span >所在城市:</span></p>
                                <select car-select class="browser-default col s6-0" ng-model="company.city_id">
                                    <!--<option value="" disabled selected>请选择</option>-->
                                    <option ng-value="op.id"  ng-repeat="op in citys">{{op.city_name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="row valign-wrapper no-marBottom">
                                <p class="col s4-0"><span class="red-text">*</span><span >联系人:</span></p>
                                <input  type="text" ng-model="company.contacts" class=" col s6-0 validate">
                            </div>


                        </div>
                        <div class="col s6">
                            <div class="row valign-wrapper no-marBottom">
                                <p class="col s4-0"><span class="red-text">*</span><span >联系电话:</span></p>
                                <input  type="text" ng-model="company.tel" class="col s6-0 validate">
                            </div>
                        </div>
                    </div>
                    <div class="row valign-wrapper ">
                        <p class="col s2-0"><span class="red-text">*</span><span >合作时间:</span></p>
                        <div class="dateBox col s8-0" style="padding: 0">
                            <input type="date" class="datepicker" ng-model="company.cooperation_time" date><i class="mdi dataIcon mdi-table-large"></i>
                        </div>
                    </div>
                    <div class="row">
                        <p class="col s4">
                            拥有头车:
                            <span class="red-text">8辆</span>
                        </p>
                        <p class="col s4">
                            拥有挂车:
                            <span class="red-text">10辆</span>
                        </p>
                        <p class="col s4">
                            拥有司机:
                            <span class="red-text">25人</span>
                        </p>
                    </div>
                    <div class="row">
                        <p class="left"><span >备注:</span></p>
                        <textarea style="height: 80px"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="modal-footer vc-center">
            <a  class=" modal-action blue white-text waves-effect waves-white btn-flat" ng-click="changeCom(company.id)">修改</a>
            <a  style="margin-left: 10px " class=" modal-action modal-close blue white-text waves-effect waves-white btn-flat" >取消</a>

        </div>
    </div>
</div>