<table class="highlight bordered">
    <thead>
    <tr>
        <th data-field="id">姓名</th>
        <th data-field="name">年龄</th>
        <th data-field="price">民族</th>
        <th data-field="id">姓名</th>
        <th data-field="name">年龄</th>
        <th data-field="price">民族</th>
        <th data-field="id">姓名</th>
        <th data-field="name">年龄</th>
        <th data-field="price">民族</th>
        <th data-field="id">姓名</th>
        <th data-field="name">年龄</th>
        <th data-field="price"></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
    </tr>
    <tr>
        <td>李四</td>
        <td>12</td>
        <td>苗</td>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
    </tr>
    <tr>
        <td>李明</td>
        <td>25</td>
        <td>汉</td>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
        <td>张三</td>
        <td>17</td>
        <td>汉</td>
    </tr>
    </tbody>
</table>

<ul class="pagination">
    <li class="disabled"><a href="#!"><i class=" mdi mdi-chevron-double-left"></i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="mdi mdi-chevron-double-right"></i></a></li>
</ul>
