<div class="usersWrap" ng-controller="usersController" >
    <div class="row BoxWrap valign-wrapper" users-tabs>
        <div class="col s6">
            <div class="chip users_chip active" ui-sref=".operator" >
                <i class="mdi mdi-account"></i>
                操作员设置
            </div>
        </div>
        <div class="col s6">
            <div class="chip users_chip right" ui-sref=".admin" >
                <i class="mdi mdi-wrench"></i>
                管理员设置
            </div>
        </div>
    </div>
  <div ui-view="">

  </div>

</div>