<!-- 追加画面【增加港口/操作记录】 模态框 -->
<div id="savePortDiv" class="modal modal-fixed-footer row" style="max-height: 456px;">

    <!-- Header -->
    <div class="modal_title center-align cyan white-text">{{pageId=='add' ? '增加港口':'港口信息'}}</div>

    <!-- Body -->
    <div class="modal-content" style="max-height: 350px;">

        <!-- 显示画面【增加港口/操作记录】 Body -->
        <div class="col" style="width:95%; margin-left: 20px;">
            <!--添加国家名称-->
            <div class="col s12 input-field" style="margin-top: 20px;">
                <select material-select watch id="addCountry" ng-model="portInfo.country">
                    <option value="" disabled>国家</option>
                    <option ng-repeat="el in countryList" ng-value="el.val">{{el.name}}</option>
                </select>
            </div>

            <!--添加港口名称-->
            <div class="col s12 input-field">
                <input id="addPortName" type="text" ng-model="portInfo.portName">
                <label for="addPortName"><span style="color: red">* </span>港口名称</label>
            </div>

            <!-- 备注 -->
            <div class="col s12 input-field">
                <textarea id="remark" class="materialize-textarea" style="padding: 10px 0 0 0;" maxlength="200" ng-model="portInfo.remark"></textarea>
                <label for="remark">描述</label>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="modal-footer right-align">
        <a class="btn-floating waves-effect waves-light btn cyan lighten-1" style="width:38px;height:38px; margin-right: 50px;"
           ng-click="savePortInfo()">
            <i class="mdi mdi-check"></i>
        </a>
        <a class="btn-floating waves-effect waves-light btn modal-close grey" style="width:38px;height:38px; margin-right: 20px;">
            <i class="mdi mdi-close"></i>
        </a>
    </div>
</div>

<!--主菜单：管理员设置  ---  港口设置  -->
<div class="setting_port">
    <!--搜索条件：国家  港口-->
    <div class="row card" style="height: 100px;width: 90%;margin: 30px auto">
        <div class="col s12" style="margin-top: 20px">
            <!--国家-->
            <div class="input-field col s4">
                <select material-select watch id="country" name="country"  ng-model="condCountryName">
                    <option value="" selected>国家</option>
                    <option ng-repeat="el in countryList" ng-value="el.val">{{el.name}}</option>
                </select>
            </div>
            <!--港口-->
            <div class="input-field col s4">
                <select material-select watch id="port"   ng-model="condPortName">
                    <option value=""  selected>港口</option>
                    <option ng-repeat="el in portList" ng-value="el.id" >{{el.port_name}}</option>
                </select>
            </div>
            <!--搜索按钮  添加按钮-->
            <div class="col s4">
                <div class="col s6 right-align">
                    <a ng-click="searchPort()" class="btn-floating btn-large  btn waves-effect materialize-red lighten-2 waves-light vc-center">
                        <i class="mdi mdi-magnify"></i>
                    </a>
                </div>
                <div class="col s6 center-align">
                    <a  class="btn-floating btn-large  btn waves-effect cyan lighten-1 waves-light vc-center" ng-click="openAddPort()">
                        <i class="mdi mdi-plus"></i>
                    </a>
                </div>
            </div>
        </div>
     </div>
    <!--显示 港口-->
    <div class="row dealerWrap" style="width: 90%;margin: 0 auto">
        <div class="col s4" ng-repeat="el in portArr" style="padding:20px 20px" >
            <div class="card-panel white " style="padding: 0" >
                <div class="row cyan lighten-2 white-text" style="padding: 12px 0 12px 50px;">
                    <div class="fz18" ng-bind="el.port_name"></div>
                </div>
                <a  class="right btn-floating  setting_shipments_btn  btn waves-effect materialize-red  lighten-2 waves-light vc-center"
                    ng-click="openEditPort(el)" style="right:25px;top:-45px"><i class="mdi mdi-pencil"></i>
                </a>
                <div class="row cyan-text lighten-2 white " style="margin-left: 50px">
                    <div class="fz18">{{countryList[el.country_id-1].name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>