<div class="setting_truckWrap container">
    <div class="row">
        <div class="row valign-wrapper">
            <h5 class="col s4 blue-text">
                车辆品牌设置
            </h5>
            <div class="col s8 right-align">
                <a href="" class="btn waves-effect waves-light blue">+品牌</a>
            </div>
        </div>
        <div class="row">
            <ul class="collapsible" data-collapsible="accordion" collapsible>
                <li>
                    <div class="collapsible-header"><i class="mdi mdi-car"></i>一</div>
                    <div class="collapsible-body"><p>人的一生，其实就是一场自己对自己的战争。</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi mdi-car"></i>二</div>
                    <div class="collapsible-body"><p>人的一生，其实就是一场自己对自己的战争。</p></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="mdi mdi-car"></i>三</div>
                    <div class="collapsible-body"><p>人的一生，其实就是一场自己对自己的战争。</p></div>
                </li>
            </ul>
        </div>
    </div>
    <div></div>
</div>