<!-- 主菜单：管理员设置 -> 钥匙柜设置 画面 -->

<!-- 追加画面【增加钥匙柜】 模态框 -->
<div class="row" style="margin: 0">
    <div id="addKeyCabinet" class="modal modal-fixed-footer" style="width: 45%;height: 420px">
        <div class="modal-content center fz20" style="font-weight: 500;padding: 0">

            <!-- 追加画面【增加钥匙柜】 Header -->
            <div class="row col s12 vc-center" style="color: white;letter-spacing:1px;font-weight: bold;height: 50px;background-color:rgb(63,185,193)">
                <p>增加钥匙柜</p>
            </div>

            <!-- 追加画面【增加钥匙柜】 Body -->
            <div class="row col s12">
                <div style="width: 90%;margin: 0 auto">
                    <!-- 钥匙柜名称 -->
                    <div class="col s12 " style="margin-bottom:  40px;">
                        <div class="col s12 input-field">
                            <input type="text" maxlength="50" id="keyCabinetName" ng-model="keyCbinetInfo.keyCabinetName">
                            <label for="keyCabinetName"><span style="color: red">* </span>钥匙柜名称</label>
                        </div>
                    </div>

                    <!-- 备注 -->
                    <div class="col s12">
                        <div class="input-field col s12">
                            <textarea id="remark"  class="materialize-textarea" ng-model="keyCbinetInfo.remark" style="padding: 10px 0 0 0px;" maxlength="200"></textarea>
                            <label for="remark">备注</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 追加画面【新增操作】 Footer -->
        <div class="modal-footer valign-wrapper">
            <div class="col s12">
                <!-- 取消 按钮 -->
                <div class="col s2 offset-s4">
                    <a style="width: 100%" class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">取消</a>
                </div>
                <!-- 确定 按钮 -->
                <div class="col s2">
                    <a ng-click="addKeyCabinet()" style="width: 100%" class="waves-light waves-effect cyan lighten-1 btn">确定</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 主画面：检索部 + 详细信息列表部 -->
<div style="width: 90%;margin: 0 auto">
    <div class="row card" style="height: 115px;margin-bottom: 30px">
        <div class="col s12" style="margin-top: 20px;">

            <!-- 钥匙柜名称 -->
            <div class="col s5 input-field">
                <input id="conditionKeyCabinet" type="text" ng-model="conditionKeyCabinet" >
                <label for="conditionKeyCabinet">钥匙柜名称</label>
            </div>

            <!-- 状态 -->
            <div class=" col s3 input-field">
                <select material-select ng-model="conditionKeyCabinetStatus">
                    <option value="" selected>请选择</option>
                    <option ng-repeat="op in useFlags" ng-value="{{op.id}}">{{op.name}}</option>
                </select>
                <label>状态</label>
            </div>

            <!-- 按钮 -->
            <div class="col s3">
                <!-- 检索 -->
                <div class="col s6 center push-l2">
                    <a class="btn-floating btn-large waves-light waves-effect red lighten-2 btn vc-center" ng-click="searchKeyCabinetList()">
                        <i class="mdi mdi-magnify"></i>
                    </a>
                </div>

                <!-- 追加 -->
                <div class="col s6 center push-l2">
                    <a class="btn-floating btn-large waves-light waves-effect cyan lighten-1 btn vc-center" ng-click="openAddKeyCabinet()">
                        <i class="mdi mdi-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- 钥匙柜 详情 -->
    <div class="row">
        <div class="col s3 " ng-repeat="key in keyCabinetList">

            <!-- 钥匙柜 明细 详情 -->
            <div class="white z-depth-2" ng-class="{ 'blue-grey lighten-5':key.key_cabinet_status==0}" style="margin-bottom: 25px;">

                <!-- 钥匙柜 明细 Header -->
                <div class="valign-wrapper cyan white-text fz25" ng-class="{ 'blue-grey lighten-2':key.key_cabinet_status==0}" style="width: 100%;height: 50px;">

                    <!-- 钥匙柜 名称 -->
                    <div class="col s6 context-ellipsis" style="width: 300px;" ng-bind="key.key_cabinet_name"></div>

                    <!-- 可用/停用 开关 -->
                    <div class="col s6" style="text-align:right;">
                        <span class="switch" ng-click="changeKeyCabinetStatus(key.id,key.key_cabinet_status)" style="height: 30px">
                            <label>
                              <input type="checkbox" ng-checked="key.key_cabinet_status==1">
                              <span class="lever"></span>
                            </label>
                        </span>
                    </div>
                </div>

                <!-- 钥匙柜 明细 Body -->
                <div class="valign-wrapper fz15" style="width: 100%;height: 50px;">
                    <div class="col s4 vc-center black-text text-lighten-2">
                        扇区： <span ng-class="{ 'cyan-text':key.key_cabinet_status==1}" style="display: block">{{key.area_count}}</span>
                    </div>
                    <div class="col s7 vc-center black-text text-lighten-2">
                        存放位置： <span ng-class="{ 'cyan-text':key.key_cabinet_status==1}" style="display: block">{{(key.position_count == undefined || key.position_count == null) ? '0' : key.position_count}}</span>
                    </div>
                    <div class="col s3 vc-center">
                        <a href="#" ui-sref="setting_key_cabinet_detail({id:key.id,status:key.key_cabinet_status,from:'setting_key_cabinet'})"
                           class="right btn-floating  setting_shipments_btn  btn waves-effect cyan  lighten-2 waves-light" ng-class="{ 'blue-grey':key.key_cabinet_status==0}">
                            <i class=" mdi mdi-file-document look_icon white-text  lighten-1" ></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

