<!-- 主菜单：修改VIN -->
<div id="setting_amend_vin" >
    <div class="grey-text text-darken-2" >

        <!--标题：vin码查询-->
        <div class=" vc-center ">
            <h4 class="center-align cyan-text text-lighten-1">vin码查询</h4>
        </div>

        <!--分割线！！！-->
        <div class="divider" style="background: #407BC7;height: 2px;"></div>

        <!--输入vin码并查询-->
        <div class="row " style="width: 70%;margin: 0 auto">
            <div class="row " style="width: 900px;height:50px;margin: 0 auto">
                <div class="col s1 vc-center cyan-text mp-50 text-lighten-1" style="font-size: 25px;min-width: 90px"><span>vin码:</span></div>
                <div class="col s9 vc-center mp-30 valign-wrapper">
                    <div class="input-field col s12">
                        <input type="text" id="autocomplete-input" name="vin" placeholder="模糊查询至少需要6位vin码" ng-change="shortSearch()" ng-model="demandVin" style="margin: 0 0 20px 0" autocomplete="off" class="autocomplete" required minlength="6">
                    </div>
                </div>
                <div  class="col s1 mp-30 valign-wrapper">
                    <button class=" btn btn-floating btn-large waves-effect cyan lighten-1" ng-click="demandCar()" >
                        <i style="font-size: 40px" class="mdi white-text mdi-magnify"></i>
                    </button>
                </div>
            </div>


            <div class="row  mp-50" >
                <p style="display: none;" class="no_car_detail cyan-text text-lighten-1 center-align mp-50 col s12 ">无该VIN码车辆信息</p>
                <div style="width: 80%;height: 30ex;margin: 0 auto">
                    <div style="display: none" class="car_detail mp-50 col s12">
                        <div class="row  blue-grey lighten-5" style="width:90%;border:1px solid #bdbdbd;margin-right: 77px">
                            <!-- header -->
                            <div class="col s12  cyan-text vc-center left-align" style="height:85px;border-bottom :1px solid #bdbdbd">
                                <div class="col s9">
                                    <h5 class="col s3 cyan-text text-lighten-1">Vin码:</h5>
                                    <span class="col s9 grey-text" ng-show="flag==true" style="font-size: 30px">{{vin}}</span>
                                    <input class="col s9 grey-text" ng-show="flag==false"  style="font-size: 30px" type="text" id="amend_vin" ng-model="vin" name="search_vin">
                                </div>
                                <div class="col s3 right-align offset-s4">
                                    <a class="btn  btn-large btn-floating waves-effect cyan" ng-show="flag==true"  ng-click="open_vin_amend()"> <i class="mdi mdi-pencil "></i></a>
                                    <a class="btn  btn-large btn-floating waves-effect cyan" ng-show="flag==false" ng-click="close_vin_amend()" style="margin-right: 10px"> <i class="mdi mdi-close " ></i></a>
                                    <a class="btn  btn-large btn-floating waves-effect cyan" ng-show="flag==false" ng-click="amend_vin(self_car.id,flag)"> <i class="mdi mdi-check "></i></a>
                                </div>
                            </div>
                            <div class="col s12 white" style="height:20px;"></div>
                            <!-- body -->
                            <div class="col s12 white" style="height:70px;">
                                <div class="col s4 input-field">
                                    <input  id="look_engineNum" name="look_engineNum" autocomplete="off" ng-model="self_car.engine_num" type="text"    >
                                    <label for="look_engineNum" >发动机号</label>

                                </div>
                                <div class="col s4 input-field">
                                    <select id="look_makecarName"  material-select watch ng-change="changeMakeId(self_car.make_id)" ng-model="self_car.make_id" >
                                        <option value="" disabled selected>请选择</option>
                                        <option ng-repeat="el in makecarName" ng-value="el.id" >{{el.make_name}}</option>
                                    </select>
                                    <label for="look_makecarName" ><span style="color: red;margin-right: 5px">*</span>品牌</label>
                                </div>
                                <div class="col s4 input-field">
                                    <select material-select watch id="look_model_name"   ng-model="self_car.model_id"  >
                                        <option value="" disabled selected>请选择</option>
                                        <option  ng-repeat="el in carModelName" ng-value="el.id">{{el.model_name}}</option>
                                    </select>
                                    <label for="look_model_name" ><span style="color: red;margin-right: 5px">*</span>型号</label>

                                </div>
                            </div>

                            <div class="col s12 white" style="height:70px;">
                                <div class="col s4 input-field">

                                    <input type="text" id="look_create_time" maxlength="4" valid-num ng-model="self_car.pro_date">
                                    <label for="look_create_time" >年份</label>
                                </div>
                                <div class="col s4 input-field">
                                    <select material-select watch id="look_car_color" name="look_car_color" class="" ng-model="self_car.colour" >
                                        <option value="" disabled selected>请选择</option>
                                        <option ng-repeat="el in colorList" ng-value="el.colorId" >{{el.colorName}}</option>
                                    </select>
                                    <label for="look_car_color" >颜色</label>
                                </div>
                                <div class="col s4 input-field">
                                    <select material-select watch id="entrustId" name="entrustId" ng-model="self_car.entrust_id" >
                                        <option ng-value="" disabled selected>请选择</option>
                                        <option ng-repeat="el in getEntrust"  ng-value="el.id" >{{el.short_name}}</option>
                                    </select>
                                    <label for="entrustId">委托方</label>
                                </div>
                            </div>
                            <div class="col s12 white" style="height:70px;">
                                <!--车辆估值-->
                                <div class="input-field col s4">
                                    <input  id="carValuation" name="carValuation"  ng-model="self_car.valuation" type="number">
                                    <label for="carValuation">车辆估值(美元)</label>
                                </div>
                                <!--MSO车辆-->
                                <div class="input-field col s4">
                                    <select material-select watch id="MSO" name="MSO"  ng-model="self_car.mso_status" >
                                        <option ng-value="" disabled selected>请选择</option>
                                        <option ng-value="2">是</option>
                                        <option ng-value="1">否</option>
                                    </select>
                                    <label for="MSO"><span style="color: red;margin-right: 5px">*</span>是否MSO车辆</label>
                                </div>
                                <div class="input-field col s4">
                                    <select material-select watch ng-model="self_car.purchase_type" id="purchase_type">
                                        <option ng-value="" disabled selected>请选择</option>
                                        <option ng-value="1">是</option>
                                        <option ng-value="0">否</option>
                                       <!-- <option ng-repeat="el in purchaseTypes" ng-value="el.id">{{el.name}}</option>-->
                                    </select>
                                    <label for="purchase_type"><span style="color: red;margin-right: 5px">*</span>是否金融车</label>
                                </div>
                            </div>
                            <div class="col s12 white" style="height:170px;">
                                <p class="col s12 min-width-2 left-align" style="color: #4e84cb" >备注:</p>
                                <div class="col s12 valign-wrapper " style="position: relative">
                                    <p class=" col s12 p0" >
                                        <textarea id="look_remark" style="height: 80px" name="remark" class="col s12" ng-model="self_car.remark"></textarea>
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col s12">
                            <div class="col s12 input-field center-align" style="margin-top: 30px ; margin-bottom: 30px" >
                                <a href="" class="btn waves-effect circle_button cyan" ng-click="putDataItem(self_car.id)">确定</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>