<div class="container" >
    <div class="row">
        <div class="row">
            <h5 class="center-align">重置密码</h5>
        </div>
        <div class="divider"></div>
        <form class="col s12 " style="padding: 20px" name="settingPwForm" ng-submit="settingPswForm(settingPwForm.$valid)" novalidate>
            <div class="row" >
                <div class="col s1-0 vc-center" style="font-size:40px">
                    <i  class="mdi mdi-account"></i>
                </div>
                <div class="input-field col s9-0" ng-class="{ 'has-error' : settingPwForm.primary_code.$invalid&&submitted }">
                    <input id="primary_code" name="primary_code" autocomplete="off" ng-model="primaryCode" placeholder="原始密码" type="text" required >
                </div>
            </div>
            <div class="row">
                <div class="col s1-0 vc-center" style="font-size:40px">
                    <i  class="mdi mdi-lock"></i>
                </div>
                <div class="input-field col s9-0" ng-class="{'has-error':settingPwForm.new_code.$invalid&&submitted}">
                    <input id="new_code" placeholder="重设密码" autocomplete="off" ng-model="newCode"   name="new_code" required type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="col s1-0 vc-center" style="font-size:40px">
                    <i  class="mdi mdi-lock"></i>
                </div>
                <div class="input-field col s9-0" ng-class="{'has-error':settingPwForm.confirm_psw.$invalid&&submitted||newCode!=confirmPsw&&submitted}">
                    <input id="confirm_psw" ng-model="confirmPsw" autocomplete="off"  name="confirm_psw" placeholder="确认密码"  required type="text" class="">
                </div>
            </div>
            <div class="row vc-center">
                <button class="btn waves-light waves-effect" type="submit" name="action" >
                    <i class="mdi mdi-check"></i>
                </button>
            </div>
        </form>
    </div>
</div>