<!-- 模态画面【增加委托方/委托方设置】 模态框 -->
<div id="saveClientDiv" class="modal modal-fixed-footer row" style="max-height: 556px;">

    <!-- Header -->
    <div class="modal_title center-align cyan white-text">{{pageId=='add' ? '增加委托方':'委托方设置'}}</div>

    <!-- 编号 -->
    <div ng-show="pageId=='add'"  class="vc-center fz22" style="height: 50px;"></div>
    <div ng-show="pageId=='edit'" class="vc-center fz22" style="color: #4e84cb;letter-spacing:1px;font-weight: bold;height: 50px;background-color:lightgray">
        <p class="col s2 pull-l10" style="padding-left: 80px;">{{clientInfo.id}}</p>
    </div>

    <!-- Body -->
    <div class="modal-content" style="max-height: 400px;">

        <!-- 显示画面【增加委托方/委托方设置】 Body -->
        <div class="col" style="width:95%; margin-left: 20px;">

            <!-- 第一行 -->
            <div class="col s12">
                <!--性质-->
                <div class="col s3 input-field">
                    <select material-select watch ng-model="clientInfo.entrustType">
                        <option value="" disabled>请选择</option>
                        <option ng-repeat="el in entrustType" ng-value="el.entrust_type">{{el.name}}</option>
                    </select>
                    <label><span class="red-text">* </span>性质</label>
                </div>

                <!--委托方简称-->
                <div class=" col s3 input-field">
                    <input type="text" id="shortNameText" ng-model="clientInfo.shortName">
                    <label for="shortNameText"><span class="red-text">* </span>委托方简称</label>
                </div>

                <!--委托方全称-->
                <div class=" col s6 input-field">
                    <input type="text" id="entrustNameText" ng-model="clientInfo.entrustName">
                    <label for="entrustNameText"><span class="red-text">* </span>委托方全称</label>
                </div>
            </div>

            <!-- 第二行 -->
            <div class="col s12">

                <!--联系人-->
                <div class="col s3 input-field">
                    <input type="text" id="contactsNameText" ng-model="clientInfo.contactsName">
                    <label for="contactsNameText"><span class="red-text">* </span>联系人</label>
                </div>

                <!--邮件-->
                <div class="col s3 input-field">
                    <input type="email" id="email" ng-model="clientInfo.email">
                    <label for="email">邮件</label>
                </div>

                <!--联系电话-->
                <div class="col s6 input-field">
                    <input type="tel" id="tel" style="font-size: 2rem;text-align: right;color: rgb(230,123,123)" ng-model="clientInfo.tel">
                    <label for="tel"><span class="red-text">* </span>联系电话</label>
                </div>
            </div>

            <!--详细地址-->
            <div class="col s12">
                <div class="col s12 input-field">
                    <input type="text" id="addressText" ng-model="clientInfo.address">
                    <label for="addressText">详细地址</label>
                </div>
            </div>

            <!-- 备注 -->
            <div class="col s12" style="margin-top:20px;">
                <div class="col s12 input-field">
                    <textarea id="remark" class="materialize-textarea" style="padding: 10px 0 0 0;" maxlength="200" ng-model="clientInfo.remark"></textarea>
                    <label for="remark">描述</label>
                </div>
            </div>

            <!-- 创建时间 -->
            <div ng-show="pageId=='edit'" class="col s12 right-align fz18 bold">{{clientInfo.createdOn |date:'yyyy-MM-dd HH:mm:ss'}}</div>
        </div>
    </div>

    <!-- Footer -->
    <div class="modal-footer right-align">
        <a class="btn-floating waves-effect waves-light btn cyan lighten-1" style="width:38px;height:38px; margin-right: 50px;"
           ng-click="saveClientInfo()">
            <i class="mdi mdi-check"></i>
        </a>
        <a class="btn-floating waves-effect waves-light btn modal-close grey" style="width:38px;height:38px; margin-right: 20px;">
            <i class="mdi mdi-close"></i>
        </a>
    </div>
</div>

<!-- 主菜单：委托方管理 -->
<div class="usersWrap"  style="width: 70%;margin: 0 auto">
    <div class="row card" style="height: 100px;margin-bottom: 30px">
        <div class="col s12" style="margin-top:10px;">

            <!--按编号查找-->
            <div class="col s3 input-field">
                <input name="showId" id="showId" type="text" ng-model="showId" >
                <label for="showId">编号</label>
            </div>

            <!--按性质查找-->
            <div class="col s3 input-field">
                <select  id="showEntrustType"  ng-model="showEntrustType" material-select watch>
                    <option value="" selected>性质</option>
                    <option value="1" selected>个人</option>
                    <option value="2" selected>企业</option>
                </select>
            </div>

            <!--按委托方查找-->
            <div class="input-field col s3">
                <select  id="entrustSelect"   style="width: 100%">
                    <option value="" ></option>
                    <option ng-repeat="el in entrustList" ng-value="el.id">{{el.short_name}}</option>
                </select>
            </div>


            <!--<div class="col s3 input-field">
                <input name="showShortName" id="showShortName" type="text" ng-model="showShortName" >
                <label for="showShortName">委托方</label>
            </div>-->
            <div class="col s3" style="margin-top:12px ">

                <!--获取列表-->
                <div class="col s4 center push-l2">
                    <a class=" btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center"  ng-click="getClientList()">
                        <i class="mdi mdi-magnify"></i>
                    </a>
                </div>

                <!--添加按钮-->
                <div class="col s4 center push-l2">
                    <a class="btn-floating btn-large waves-light waves-effect cyan lighten-1 btn vc-center"   ng-click="openAddClient()">
                        <i class="mdi mdi-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--列表详情-->
    <ul class="collapsible card row"  data-collapsible="accordion" collapsible>
        <li ng-repeat="el in getClientArray" class="grey-text text-darken-1 vc-center" style="border-bottom: 1px solid #ccc;height: 70px;line-height: 70px;text-align: center">
            <!--序号-->
            <div class="col s1" ng-bind="el.id" style="color: #6192d1;"></div>
            <!--企业性质-->
            <div class="col s1 fz30" ng-if="el.entrust_type==1"  style="color: #6192d1;"><i class="mdi mdi-account"></i></div>
            <div class="col s1 fz30" ng-if="el.entrust_type==2"  style="color: #6192d1;"><i class="mdi mdi-domain"></i></div>
            <!--企业名字（全称/简称）-->
            <div class="col s6" style="position: relative;height: 70%">
                <span  ng-bind="el.short_name" style="position: absolute;top:-40%;left: 7%"></span>
                <span  ng-bind="el.entrust_name" style="position: absolute;top: 5%;left: 7%"></span>
            </div>
            <!--联系人/创建时间-->
            <div class="col s3"  style="height: 70%;border-right: 1px solid #ccc;position: relative">
                <span  ng-bind="el.contacts_name" style="position: absolute;top: -40%;right: 15%;"></span>
                <span  ng-bind="el.created_on | date:'yyyy-MM-dd HH:mm:ss'" style="position: absolute;top: 5%;right: 15%;"></span>
            </div>
            <!--操作-->
            <div class="col s1  right">
                <span><i class="mdi mdi-file-document cyan-text text-lighten-1 fz30" ng-click="openEditClient(el)"></i></span>
            </div>
        </li>
        <!--当搜索结果为空时-->
        <li class="grey-text text-darken-1" ng-if="getClientArray.length == 0" style="border-bottom: 1px solid #ccc;height: 100px;line-height: 100px;text-align: center">
            <div><span style="letter-spacing: 2px">暂无数据</span></div>
        </li>
    </ul>
    <!--翻页 上一页 下一页-->
    <div class="paging_box col s12" >
        <div class="right">
            <a class="waves-light waves-effect cyan lighten-1 btn"  id="pre"   ng-click="previousPage()"> 上一页</a>
            <a class="waves-light waves-effect cyan lighten-1 btn" id="next"  ng-click="nextPage()"> 下一页 </a>
        </div>
    </div>
</div>