<!-- 主菜单：车辆查询 画面 -->
<div class="car_demand">
    <div class="row main_storage_car">

        <!-- 上部分：检索条件输入区域 -->
        <div class="row  grey-text text-darken-1">
            <div class="col s11">

                <!-- 查询条件：第一行 -->

                <!-- 查询条件：车辆状态 -->
                <div class="input-field col" style="width: 20%;">
                    <select material-select watch ng-model="conditionCarStatus">
                        <option value="">车辆状态</option>
                        <option ng-repeat="el in carStatusList" ng-value="el.s_num">{{el.status_text}}</option>
                    </select>
                </div>

                <!-- 查询条件：所在仓库 -->
                <div class="input-field col" style="width: 20%;">
                    <select material-select watch ng-model="conditionStorage" ng-change="changeStorageId(conditionStorage)">
                        <option value="" selected>所在仓库</option>
                        <option ng-if="el.storage_status==1" ng-repeat="el in storageList" ng-value="el.id">
                            {{el.storage_name}}
                        </option>
                    </select>
                </div>

                <!-- 查询条件：车辆VIN码 -->
                <div class="input-field col" style="width: 60%;">
                    <input type="text" id="conditionVin" ng-model="conditionVin">
                    <label for="conditionVin">VIN码</label>
                </div>


                <!-- 查询条件：第二行 -->

                <!-- 查询条件：车辆品牌 -->
                <div class="input-field col" style="width: 20%;">
                    <select material-select watch ng-model="conditionMakeId"
                            ng-change="changeMakerId(conditionMakeId)">
                        <option value="" selected>品牌</option>
                        <option ng-repeat="el in carMakerList" ng-value="el.id">{{el.make_name}}</option>
                    </select>
                </div>

                <!-- 查询条件：车辆型号 -->
                <div class="input-field col" style="width: 20%;">
                    <select material-select watch ng-model="conditionModelId">
                        <option value="" selected>型号</option>
                        <option ng-repeat="el in carModelList" ng-value="el.id">{{el.model_name}}</option>
                    </select>
                </div>

                <!-- 查询条件：委托方 -->
                <div class="input-field col" style="width: 20%;">
                    <select material-select watch id="entrustId" ng-model="conditionEntrustId" style="width: 100%">
                        <option value="" ></option>
                        <option ng-repeat="el in entrustList" ng-value="el.id">{{el.short_name}}</option>
                    </select>
                </div>

                <!-- 查询条件：入库时间 -->
                <div class="col" style="width: 40%;">
                    <div class="col input-field s6">
                        <input id="conditionEnterTimeStart" type="text" ng-model="conditionEnterTimeStart"
                               class="datepicker" autocomplete="off" required date>
                        <label for="conditionEnterTimeStart">入库时间(始)</label>
                        <i class="mdi dataIcon mdi-table-large"></i>

                    </div>
                    <div class="col input-field s6">
                        <input type="text" id="conditionEnterTimeEnd" ng-model="conditionEnterTimeEnd" class="datepicker"
                               autocomplete="off" required date>
                        <label for="conditionEnterTimeEnd">入库时间(终)</label>
                        <i class="mdi dataIcon mdi-table-large"></i>
                    </div>
                </div>

                <!-- 查询条件：第三行 -->

                <!-- 查询条件：是否MSO -->
                <div class="input-field col" style="width: 20%;">
                    <select material-select watch ng-model="conditionMsoId">
                        <option value="" selected>是否MSO</option>
                        <option ng-repeat="mso in msoFlags" ng-value="mso.id">{{mso.name}}</option>
                    </select>
                </div>

                <!-- 查询条件：计划出库时间 -->
                <div class="input-field col" style="width: 40%;">
                    <div class="col input-field s6 no-mp p0">
                        <input type="text" id="conditionPlanTimeStart" ng-model="conditionPlanTimeStart" class="datepicker" autocomplete="off" date>
                        <label for="conditionPlanTimeStart">计划出库时间(始)</label>
                        <i class="mdi dataIcon mdi-table-large"></i>
                    </div>
                    <div class="col input-field s6 no-mp">
                        <input type="text" id="conditionPlanTimeEnd" ng-model="conditionPlanTimeEnd" class="datepicker" autocomplete="off" date>
                        <label for="conditionPlanTimeEnd">计划出库时间(终)</label>
                        <i class="mdi dataIcon mdi-table-large"></i>
                    </div>
                </div>
                <!-- 查询条件：实际出库时间 -->
                <div class="input-field col vc-center" style="width: 40%;">
                    <div class="col input-field s6 no-mp">
                        <input type="text" id="conditionOutTimeStart" ng-model="conditionOutTimeStart" class="datepicker" autocomplete="off" date>
                        <label for="conditionOutTimeStart">实际出库时间(始)</label>
                        <i class="mdi dataIcon mdi-table-large"></i>
                    </div>
                    <div class="col input-field s6 no-mp">
                        <input type="text" id="conditionOutTimeEnd" ng-model="conditionOutTimeEnd" class="datepicker" autocomplete="off" date>
                        <label for="conditionOutTimeEnd">实际出库时间(终)</label>
                        <i class="mdi dataIcon mdi-table-large"></i>
                    </div>
                </div>
            </div>

            <!-- 查询按钮 -->
            <div class="col s1 flex flex-round">
                <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center"
                   style="margin-top: 50px" ng-click="queryCarList()">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>
        </div>

        <!-- 下部分：检索结果显示区域 -->
        <div class="col s12">
            <div class="divider" style="background: #407BC7;height: 2px;"></div>
            <table class=" bordered striped">
                <thead class="blue-grey lighten-5">
                <tr class="grey-text text-darken-2">
                    <th data-field="">VIN码</th>
                    <th data-field="">品牌</th>
                    <th data-field="">型号</th>
                    <th data-field="">委托方</th>
                    <th data-field="">是否MSO</th>
                    <th data-field="">入库时间</th>
                    <th data-field="">仓库</th>
                    <th data-field="">计划出库时间</th>
                    <th data-field="">实际出库时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="el in storageCar" class="grey-text text-darken-1">
                    <td ng-bind="el.vin"></td>
                    <td ng-bind="el.make_name"></td>
                    <td ng-bind="el.model_name"></td>
                    <!-- 委托方 -->
                    <td ng-bind="el.entrust_name"></td>
                    <!-- 是否MSO -->
                    <td>{{msoFlags[el.mso_status-1].name}}</td>
                    <!-- 入库时间 -->
                    <td ng-bind="el.enter_time|date:'yyyy-MM-dd HH:mm:ss'"></td>
                    <!-- 仓库 -->
                    <td>{{el.storage_id==null ? '无' : el.storage_name}}</td>

                    <!--<td ng-if="el.col!=null">{{el.row}}排{{el.col}}列</td>-->
                    <!--<td ng-if="el.col==null">无</td>-->
                    <td ng-bind="el.plan_out_time|date:'yyyy-MM-dd '"></td>
                    <td ng-bind="el.real_out_time|date:'yyyy-MM-dd '"></td>
                    <!-- 显示【车辆信息】画面按钮 -->
                    <td class="operation">
                        <a href="#" ui-sref="car_demand_details({id:el.id,vin:el.vin,from:'car_demand'})" class=""><i
                                class="mdi mdi-file-outline look_icon cyan-text lighten-1  "></i></a>
                    </td>
                </tr>
                <tr class="grey-text text-darken-1" ng-if="storageCar.length == 0">
                    <td colspan="9" style="letter-spacing: 2px;text-align: center;">暂无数据</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 上下页按钮 -->
        <div class="paging_box col s12">
            <div class="right">
                <a class="waves-light waves-effect cyan lighten-1 btn  " id="pre" ng-click="preBtn()">
                    上一页
                </a>
                <a class="waves-light waves-effect cyan lighten-1 btn " id="next" ng-click="nextBtn()">
                    下一页
                </a>
            </div>
        </div>
    </div>
</div>