<!-- 主菜单：app系统 -->

<!-- 追加画面【新增操作/操作记录】 模态框 -->
<div class="row" style="margin: 0">
    <div id="modifyAppDiv" class="modal" style="max-height: 750px;">
        <div class="modal-content center fz20" style="font-weight: 500;padding: 0">

            <!-- 显示画面【新增操作/操作记录】 Header -->
            <div class="col s12 vc-center cyan white-text" style="letter-spacing:1px;font-weight: bold;height: 50px;">
                <p>{{pageId=='add' ? '新增操作':'操作记录'}}</p>
            </div>

            <!-- 显示画面【新增操作/操作记录】 Body -->
            <div class="col" style="width:95%; margin-left: 20px;">
                <!-- 第一行 -->
                <div class="col s12" style="margin-top: 40px;">
                    <!-- 系统 -->
                    <div class="col s6 input-field">
                        <select material-select id="app" ng-model="appInfo.app" style="border-bottom: 1px solid #000">
                            <option value="" disabled>请选择</option>
                            <option ng-repeat="app in appSystems" ng-value="{{app.id}}">{{app.name}}</option>
                        </select>
                        <label for="app"><span style="color: red">* </span>系统</label>
                    </div>

                    <!-- 模块 -->
                    <div class=" col s6 input-field">
                        <select material-select id="type" ng-model="appInfo.type" style="border-bottom: 1px solid #000">
                            <option value="" disabled>请选择</option>
                            <option  ng-repeat="op in modules" ng-value="{{op.id}}">{{op.name}}</option>
                        </select>
                        <label for="type"><span style="color: red">* </span>模块</label>
                    </div>
                </div>

                <!-- 第二行 -->
                <div class="col s12">
                    <!-- 版本号 -->
                    <div class=" col s6 p0">
                        <div class="col s12 input-field">
                            <input type="text" id="updateAppVersion" maxlength="20" ng-model="appInfo.version">
                            <label for="updateAppVersion"><span style="color: red">* </span>版本号</label>
                        </div>
                    </div>

                    <!-- 是否强制更新 -->
                    <div class=" col s6 p0">
                        <div class="input-field col s12">
                            <select material-select ng-model="appInfo.forceUpdate">
                                <option value="" disabled>请选择</option>
                                <option ng-repeat="op in forceUpdates" ng-value="{{op.id}}">{{op.name}}</option>
                            </select>
                            <label><span style="color: red">* </span>是否强制更新</label>
                        </div>
                    </div>
                </div>

                <!-- 第三行 -->
                <div class="col s12">
                    <!-- 版本序号 -->
                    <div class=" col s6 p0">
                        <div class="col s12 input-field">
                            <input type="text" id="updateAppVersionNum" maxlength="9" valid-num ng-model="appInfo.versionNum">
                            <label for="updateAppVersionNum"><span style="color: red">* </span>版本序号</label>
                        </div>
                    </div>

                    <!-- 最低支持版本序号 -->
                    <div class=" col s6 input-field">
                        <input type="text" id="updateAppMinVersionNum" maxlength="9" valid-num ng-model="appInfo.floorVersionNumber">
                        <label for="updateAppMinVersionNum"><span style="color: red">* </span>最低支持版本序号</label>
                    </div>
                </div>

                <!-- 下载地址 -->
                <div class="col s12 " style="margin-bottom:  20px;">
                    <div class="col s12 input-field">
                        <input type="text" name="url" id="updateUploadUrl" maxlength="200" ng-model="appInfo.url">
                        <label for="updateUploadUrl"><span style="color: red">* </span>下载地址</label>
                    </div>
                </div>

                <!-- 描述 -->
                <div class="col s12">
                    <div class="col s12 input-field">
                        <textarea id="remark" class="materialize-textarea" style="padding: 10px 0 0 0;" maxlength="400" ng-model="appInfo.remark"></textarea>
                        <label for="remark">描述</label>
                    </div>
                </div>
            </div>

            <!-- 分割线 -->
            <div class="divider col s12" style="margin-top: 10px;"></div>

            <!-- 取消/确认 按钮 -->
            <div class="row col right-align" style="width: 96%;margin-top: 20px;">
                <a class="btn-floating waves-effect waves-light grey btn modal-close">
                    <i class="mdi mdi-close"></i>
                </a>
                <a class="btn-floating waves-effect waves-light cyan lighten-1 btn" style="margin-left: 20px;"
                   ng-click="saveAppInfo()">
                    <i class="mdi mdi-check"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- 主画面：检索部 + 详细信息列表部 -->
<div class="app_version">
    <div class="modal-content grey-text text-darken-2">
        <div class="row no-marBottom" ul-tabs style="overflow: hidden">
            <div id="header_car" class="row tab_box">

                <!-- 主画面：检索部 -->
                <div class="storage_storeTitle">
                    <div class="row grey-text text-darken-1 valign-wrapper">
                        <div class="col s10" style="color: #000; !important">

                            <!-- 主画面：检索部 系统 -->
                            <div class=" col s4 p0">
                                <div class="input-field col s12">
                                    <select material-select watch name="type" class="type" ng-model="conditionApp">
                                        <option value="">系统</option>
                                        <option  ng-repeat="app in appSystems" ng-value="{{app.id}}">{{app.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <!-- 主画面：检索部 模块 -->
                            <div class=" col s4 p0">
                                <div class="input-field col s12">
                                    <select material-select watch ng-model="conditionType">
                                        <option value="">模块</option>
                                        <option ng-repeat="op in modules" ng-value="{{op.id}}">{{op.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <!-- 主画面：检索部 是否强制更新 -->
                            <div class=" col s4 p0">
                                <div class="input-field col s12">
                                    <select material-select watch ng-model="conditionForceUpdate">
                                        <option value="">是否强制更新</option>
                                        <option ng-repeat="op in forceUpdates" ng-value="{{op.id}}">{{op.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- 主画面：检索部 检索按钮/追加按钮 -->
                        <div class="col s2">

                            <!-- 检索 按钮 -->
                            <div class="col s6 center">
                                <a class=" btn-floating btn-large waves-light waves-effect red lighten-2  btn vc-center" style="margin-right: 10px" ng-click="searchAppSystem()">
                                    <i class="mdi mdi-magnify"></i>
                                </a>
                            </div>

                            <!-- 追加 按钮 -->
                            <div class="col s6 center">
                                <a class="btn-floating btn-large waves-light waves-effect cyan lighten-1 btn vc-center" style="margin-right: 10px" ng-click="openAddAppSystem()">
                                    <i class="mdi mdi-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 主画面：详细信息列表部 -->
                <div class="col s12">
                    <div class="col s12">
                        <div class="divider" style="background: #407BC7;height: 2px"></div>
                        <table class="bordered striped text_mid" style="table-layout:fixed;">
                            <thead class="blue-grey lighten-5">
                                <tr class="grey-text text-darken-2">
                                    <th data-field="">操作时间</th>
                                    <th data-field="">系统</th>
                                    <th data-field="">模块</th>
                                    <th data-field="">最新版本号</th>
                                    <th data-field="">强制更新</th>
                                    <th data-field="">描述</th>
                                    <th data-field="">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="appSystemItem in appSystemList" class="grey-text text-darken-1">
                                    <!-- 操作时间 -->
                                    <td>{{appSystemItem.updated_on | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <!-- 系统 -->
                                    <td>{{appSystems[appSystemItem.app - 1].name}}</td>
                                    <!-- 模块 -->
                                    <td>{{modules[appSystemItem.type - 1].name}}</td>
                                    <!-- 最新版本号 -->
                                    <td ng-bind="appSystemItem.version"></td>
                                    <!-- 强制更新 -->
                                    <td>{{forceUpdates[appSystemItem.force_update].name}}</td>
                                    <!-- 描述 -->
                                    <td ng-bind="appSystemItem.remark" class="context-ellipsis" style="width:200px"></td>
                                    <!-- 操作 -->
                                    <td class="operation vc-center">
                                        <a ng-click="openModifyAppSystem(appSystemItem)" class="cyan-text fz12" style="cursor: pointer;display: inline-block;width: 37px;height: 37px;">
                                            <i style="font-size: 1.3rem;line-height: 38px" class="mdi mdi-file-document"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="grey-text text-darken-1" ng-if="appSystemList.length == 0">
                                    <td colspan="7"><span style="letter-spacing: 2px">暂无数据</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- 上一页 / 下一页 -->
                <div style="position: relative">
                    <div class="paging_box col s12">
                        <div class="right">
                            <a class="waves-light waves-effect cyan lighten-1 btn" id="pre"  ng-click="getPrePage()" >上一页</a>
                            <a class="waves-light waves-effect cyan lighten-1 btn" id="next" ng-click="getNextPage()">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>