<!--主菜单：下载app-->
<div class="download_app">

    <!--主标题-->
    <div class="vc-center">
        <h5 class="center-align cyan-text text-lighten-1">下载app</h5>
    </div>

    <!--仓储app 财务app-->
    <div class="row" style="margin-top: 15px">
        <div class="col s12" ul-tabs>
            <ul class="tabs tabs-fixed-width tab-demo z-depth-1" ul-tabs style="font-size: 25px;font-weight: bold;overflow-x: hidden">
                <li class="tab"><a style="color: #4e84cb" href="#storage">仓储app</a></li>
                <li class="tab"><a style="color: #4e84cb" href="#finance">财务app</a></li>
            </ul>
        </div>
    </div>

    <!--仓储app二维码-->
    <div class="row" id="storage">
        <div class="col s12" style="margin-top: 50px">
            <div class="col s4 offset-s4 center">
                <img style="width: 85%" src="../assets/images/qr_code/qr_storage_app_800.png" alt="">
            </div>
        </div>
    </div>

    <!--财务app二维码-->
    <div class="row" id="finance">
        <div class="col s12" style="margin-top: 50px">
            <div class="col s4 offset-s4 center">
                <img style="width: 85%" src="../assets/images/qr_code/qr_tm_app_800.png" alt="">
            </div>
        </div>
    </div>
</div>