<!-- 主菜单：仓储管理 -> 钥匙管理 画面 -->

<!-- 主画面：详细信息列表 -->
<div class="row"  style="">
    <!-- 钥匙 详情 -->
    <div class="col s3 " ng-repeat="key in keyInfoList" style="position:relative;">

        <!-- 钥匙 明细 详情 -->
        <div class="white z-depth-2" style="margin-bottom: 25px;border:1px solid #0874FF">

            <!-- 钥匙 明细 Header -->
            <div class="valign-wrapper blue-grey lighten-5 cyan-text fz16" style="width: 100%;height: 50px;">

                <!-- 钥匙柜 名称 -->
                <div class="col s6 context-ellipsis fz18" style="width: 300px;" ng-bind="key.key_cabinet_name"></div>

                <!-- 钥匙柜 扇区 -->
                <div class="col s6 context-ellipsis" style="width: 300px;">
                    <span class="black-text">扇区：</span>{{key.area_count}}
                </div>

                <!-- 钥匙柜详细信息 Button -->
                <a class="right btn-floating  setting_shipments_btn  btn waves-effect cyan  lighten-2 waves-light" style="position: absolute;top: 25%;right: 20px;"
                   href="#" ui-sref="key_info_detail({id:key.id,name:key.key_cabinet_name,position:(key.position_count == undefined || key.position_count == null) ? '0' : key.position_count,from:'key_info'})">
                    <i class=" mdi mdi-file-document look_icon white-text  lighten-1" ></i>
                </a>
            </div>

            <!-- 钥匙 明细 Body -->
            <div class="valign-wrapper left-align fz15" style="width: 100%;height: 50px;">
                <div class="col s12  black-text text-lighten-2">
                    总存放位置： <span class="cyan-text">{{(key.position_count == undefined || key.position_count == null) ? '0' : key.position_count}}</span>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="keyInfoList.length == 0" style="position:relative;">
        <div class="vc-center grey-text fz26" style="margin-top:100px; width: 100%;height: 100px;">
            <i class="mdi mdi-alert-circle-outline" style="color: red;font-size: 30px"></i>
            <span style="margin-left: 10px;">暂无钥匙柜信息</span>

        </div>
        <div class="vc-center fz16" style="width: 100%;height: 50px;">
            请管理员在设置中增加钥匙柜！
        </div>
    </div>
</div>

