<div class="storage_store_Wrap" >
    <div class="storage_store_subject">
        <div class="row searchBoxWrap ">
            <!--<div class="col s2 valign-wrapper">-->
                <!--&lt;!&ndash;<div class="col s4 center-align">&ndash;&gt;-->
                    <!--&lt;!&ndash;仓库名称:&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<select material-select watch class="col s12  " ng-model="s_id">-->
                    <!--<option value="" selected>仓库名称</option>-->
                    <!--<option ng-repeat="el in s_storage" ng-value="el.id">{{el.storage_name}}</option>-->
                <!--</select>-->
            <!--</div>-->
            <div class="col s3 ">
                <!--<div class="row valign-wrapper">-->
                    <!--<div class="col s3-0 center-align" style="padding: 0">-->
                        <!--仓储位置:-->
                    <!--</div>-->
                    <!--<input class="col s7-0" type="text">-->
                <!--</div>-->
            </div>
            <div class="col s3 ">
                <!--<div class="row valign-wrapper">-->
                    <!--<div class="col s3-0  center-align">-->
                        <!--剩余位置:-->
                    <!--</div>-->
                    <!--<input class="col s7-0" type="text">-->
                <!--</div>-->
            </div>
            <!--<div class="col s1 offset-s2">-->
                <!--<a style="width: 100%;padding:0  1rem" class="waves-effect waves-light cyan lighten-1 btn-large" ng-click="search()">搜索</a>-->
            <!--</div>-->
        </div>
        <div class="row">
            <div class="divider"></div>
            <div class="col s12" >
                <table class=" bordered striped">
                    <thead class="grey lighten-2">
                    <tr class="grey-text text-darken-2">
                        <th data-field="">仓库名称</th>
                        <th data-field="">总车位</th>
                        <th data-field="">剩余车位</th>
                        <th data-field="">今日入库</th>
                        <th data-field="">今日出库</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="el in store_storage" ng-if="el.storage_status==1">
                        <td ng-bind="el.storage_name"></td>
                        <td >{{el.row*el.col}}</td>
                        <td ng-bind="el.row*el.col-el.balance"></td>
                        <td ng-bind="el.imports"></td>
                        <td ng-bind="el.exports"></td>
                        <td ng-if="el.storage_status==1">在用</td>
                        <td ng-if="el.storage_status==0">停用</td>
                        <td class="operation">
                            <span><a href="#" ui-sref="storage_car_map({id:el.id,form:'storageStore'})"><i class="mdi mdi-eye cyan-text lighten-1"  ></i></a></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>