<!-- 主菜单：仓储管理 -> 仓储存放（仓库详情） 画面 -->

<!-- 返回前画面 按钮 -->
<div class="storage_storeTitle vc-center ">
    <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light "
       ng-click="return()">
        <i class="mdi mdi-arrow-left-bold"></i>
    </a>
    <h4 class="center-align cyan-text text-lighten-1">仓库详情</h4>
</div>

<!-- 头部 -->
<div class="row cyan lighten-1 white-text" style="margin: 10px 0 0 0 ">
    <div class="valign-wrapper">

        <!-- 仓库 名称 -->
        <h5 class="col s2">
            <div ng-bind="storageNm" class="white-text text-darken-1 context-ellipsis" style="width: 220px;"></div>
        </h5>

        <!-- 仓库柜 扇区列表 -->
        <div class="col s3">
            <p class="col s8">
                <select material-select watch ng-model="selectedZone"
                        ng-change="getStorageAreaInfo(selectedZone);">
                    <option value="" disabled selected>请选择</option>
                    <option ng-repeat="op in zoneList" ng-value="{{op.id}}" ng-selected="op.id == selectedZone">
                        {{op.area_name}}
                    </option>
                </select>
            </p>
        </div>

        <!-- 仓库柜 总位置 / 剩余位置 -->
        <div class="col s7 white-text fz16">
            <p class="col" style="width:12%;">
                行: <span ng-bind="row"></span>
            </p>
            <p class="col" style="width:13%;">
                列: <span ng-bind="col"></span>
            </p>
            <p class="col" style="width:25%;">
                单元存车位: <span ng-bind="lot"></span>
            </p>
            <p class="col" style="width:25%;">
                总位置: {{(row == null || row == undefined) ? 0 : row * col * lot}}
            </p>
            <p class="col" style="width:25%;">
                剩余位置: <span ng-bind="leftPosition"></span>
            </p>
        </div>
    </div>
</div>

<!-- 主体 -->
<div class="" style="width: 95%;margin: 0 auto;padding-top: 20px;">

    <!-- 详细 -->
    <div ng-show="hasPosition == true" class="storageWrap" style="border:0">
        <div ng-repeat="el in storageParkingArray">

            <!-- 每行之间的余白 -->
            <div ng-show="el.lot == 1" style="padding-bottom: 30px;"></div>

            <!-- 头 -->
            <div ng-show="el.lot == 1" class="col s12 storage_list" style="background-color: #dddddd;">
                <div class="storage_row vc-center" style="border: 1px solid #cccccc; border-right:0px"></div>
                <div class="storage_row vc-center" style="border: 1px solid #cccccc; border-left: 0px"></div>
                <div class="storage_row vc-center" style="border: 1px solid #cccccc; border-left: 0px" ng-repeat="el in storageParkingCol">
                    {{el.col}}
                </div>
            </div>

            <!-- 列表 -->
            <div class="col s12 storage_list p0">
                <div class="storage_row vc-center left white-text fz20" style="background-color: #aaaaaa;border: 0px solid #cccccc;">
                   {{((lot/2|number:0) == el.lot) ? el.row : ''}}
                </div>
                <div class="storage_row vc-center left" style="background-color: #dddddd;">
                    {{characters[el.lot-1].name}}
                </div>
                <div class="storage_row vc-center left" ng-repeat="els in el.col track by $index">
                    <a href="#" ui-sref="storage_car_detail({id:els.carId,vin:els.vin,_from:'storage_store',from:'storage_store_detail'})" >
                        <i ng-show="els.carId!=0" class=" mdi mdi-car cyan-text lighten-1" ></i>
                    </a>

                    <i ng-show="els.carId==0" class=" mdi mdi-car grey-text lighten-2"></i>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="hasPosition == false" class="col s12  storage_list p0 vc-center">
        <span style="letter-spacing: 2px">暂无数据</span>
    </div>
</div>

