<div class="Storage_car" ng-controller="Storage_car_Controller" >
    <!--<div class="row BoxWrap valign-wrapper" users-tabs>-->
    <!--<div class="col s6">-->
    <!--<div class="chip users_chip active" ui-sref=".operator" >-->
    <!--<i class="mdi mdi-account"></i>-->
    <!--操作员设置-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col s6">-->
    <!--<div class="chip users_chip right" ui-sref=".admin" >-->
    <!--<i class="mdi mdi-wrench"></i>-->
    <!--管理员设置-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="row">
            <a class="waves-light waves-effect btn right"  ng-click="newStorage_car()">
                新增入库车辆
            </a>
            <div id="newStorage_car" class="modal ">
                    <div class="modal-content">
                        <h4 class="center-align">新增入库车辆</h4>
                        <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                        <!--<div class="container">-->
                             <div class="row no-marBottom" ul-tabs>
                                <div class="col s12">
                                    <ul class="tabs">
                                        <li class="tab col s6 disabled test1"><a  class="active " href="#test1">基本信息</a></li>
                                        <li  class="tab disabled col s6 test2"><a   href="#test2">车辆照片</a></li>
                                    </ul>
                                </div>
                                <div id="test1" class="col s12 tab_box">
                                    <form name="newStorage_carForm" ng-submit="submitForm(newStorage_carForm.$valid)" novalidate>
                                    <div class="row" style="margin-top: 40px">
                                        <div class="row "  >
                                            <div class="col s4 valign-wrapper" ng-class="{ 'has-error':newStorage_carForm.win.$invalid&&submitted }">
                                                <h6 class="col s4-0 min-width-2 ">
                                                    <span style="color: red">*</span>
                                                    WIN码:</h6>
                                                <input  id="win" name="win" autocomplete="off" ng-model="win" type="text"   required class=" col s6-0">
                                            </div>
                                            <div class="col s4 valign-wrapper" ng-class="{ 'has-error':newStorage_carForm.makecarName.$invalid&&submitted }" >
                                                <h6 class="col s4-0 min-width ">
                                                    制造商:</h6>
                                                <select material-select watch name="makecarName" ng-options="o.make_name for o in makecarName" class=" col s6-0" ng-change="changeMakeId(make_name.id)" ng-model="make_name" required>
                                                    <option value="" disabled selected>请选择</option>
                                                    <!--<option ng-repeat="el in makecarName" ng-value="el.id" >{{el.make_name}}</option>-->
                                                </select>
                                            </div>
                                            <div class="col s4 valign-wrapper " ng-class="{ 'has-error':newStorage_carForm.model_name.$invalid&&submitted }">
                                                <h6 class="col s4-0">
                                                    型号:</h6>
                                                <select material-select watch name="model_name" class=" col s6-0" ng-options="o.model_name for o in carModelName" ng-model="model_name" required>
                                                    <option value="" disabled selected>请选择</option>
                                                </select>
                                            </div>
                                            <!--<h5 class="col s2-0">-->
                                            <!--<span style="color: red">*</span>-->
                                            <!--电话:</h5>-->
                                            <!--<input  id="phone" name="phone" autocomplete="off" ng-model="newUserName" type="text"   required class=" col s6-0">-->
                                            <!--<div class="col s2-0 sexBox" sex-change >-->
                                            <!--<i class="mdi mdi-human-male sex" sex="1" ></i>-->
                                            <!--<i class="mdi mdi-human-female " sex="0"  ng-class="{ 'sex' : new_companyForm.Tel.$invalid&&submitted }"></i>-->
                                            <!--</div>-->
                                        </div>
                                        <div class="row" >
                                            <div class="col s4 valign-wrapper" style="position: relative" >
                                                <h6 class="col s4-0 min-width-2 ">
                                                    生产日期:</h6>
                                                <input type="text" id="create_time" name="create_time" class="datepicker" autocomplete="off" ng-model="create_time" required   date><i class="mdi dataIcon mdi-table-large"></i>
                                            </div>
                                            <div class="col s4 valign-wrapper">
                                                <h6 class="col s4-0 min-width ">
                                                    颜色:</h6>
                                                <select material-select watch name="car_color" class=" col s6-0" ng-model="car_color" required>
                                                    <option value="" disabled selected>请选择</option>
                                                    <option ng-repeat="el in color" ng-value="el.colorId" >{{el.colorName}}</option>
                                                </select>
                                            </div>
                                            <div class="col s4 valign-wrapper ">
                                                <h6 class="col s4-0 ">
                                                    发动机号:</h6>
                                                <input  id="engineNum" name="engineNum" autocomplete="off" ng-model="engineNum" type="text"   required class=" col s6-0">
                                            </div>
                                        </div>
                                        <div class="row" >
                                            <div class="col s4 valign-wrapper" ng-class="{ 'has-error':newStorage_carForm.storageName.$invalid&&submitted }">
                                                <h6 class="col s4-0 min-width-2 ">
                                                    <span style="color: red">*</span>
                                                    存放仓库:</h6>
                                                <select  material-select watch name="storageName" class=" col s6-0" ng-change="changeStorageId(storage_name.id)" ng-options="o.storage_name for o in storageName" ng-model="storage_name" required>
                                                    <option value="" disabled selected>请选择</option>
                                                </select>
                                            </div>
                                            <div class="col s8 valign-wrapper ">
                                                <div class="col s2-0 valign-wrapper min-width ">
                                                    <span style="color: red">*</span>
                                                    <h6 class="">
                                                        存放车位:</h6>
                                                </div>
                                                <div class="col s8-0 valign-wrapper" style="padding: 0" ng-class="{ 'has-error':(newStorage_carForm.row.$invalid||newStorage_carForm.col_id.$invalid)&&submitted }">
                                                    <select material-select watch name="row" class="  col s4-0" ng-change="changeStorageRow(row)"  ng-model="row" required>
                                                        <option value="" disabled selected>请选择</option>
                                                        <option ng-repeat="el in parkingArray" ng-value="el.row" >{{el.row}}</option>
                                                    </select>
                                                    <span class="col s1-0">
                                                排
                                            </span>
                                                    <select material-select watch name="col_id" class=" col s4-0" ng-model="col_id" required>
                                                        <option value="" disabled selected>请选择</option>
                                                        <option ng-repeat="el in colArr" ng-value="el.id"  ng-disabled="el.car_id"  >{{el.col}}</option>
                                                    </select>
                                                    <span class="col s1-0">
                                                列
                                            </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row"  >
                                            <!--<div class="col s6 valign-wrapper" style="position: relative">-->
                                            <!--<h6 class="col s2-0 min-width right-align">-->
                                            <!--<span style="color: red">*</span>-->
                                            <!--入库时间:</h6>-->
                                            <!--<input  id="enter_time" name="enter_time"  autocomplete="off" ng-model="enter_time" type="text"   required class="datepicker col s8-0" date><i class="mdi dataIcon mdi-table-large"></i>-->
                                            <!--</div>-->
                                            <div class="col s6 valign-wrapper " style="position: relative" ng-class="{ 'has-error':newStorage_carForm.plan_out_time.$invalid&&submitted }">
                                                <h6 class="col s2-0 min-width-2 ">
                                                    <span style="color: red">*</span>
                                                    计划出库时间:
                                                </h6>
                                                <input  id="plan_out_time" name="plan_out_time" autocomplete="off" ng-model="plan_out_time" type="text"   required class="datepicker col s8-0 " date><i class="mdi dataIcon mdi-table-large"></i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12 valign-wrapper" style="position: relative">
                                                <p class="col s1-0 min-width-2 left-align ">
                                                    <span style="color: red">*</span>
                                                    备注:</p>
                                                <p class=" col s9-0 p0">
                                                    <textarea id="remark" style="height: 100px" name="remark" class="col s12 " ng-model="remark" ></textarea>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                                    <div class="modal-footer vc-center">
                                        <button class="btn waves-light waves-effect" type="submit" name="action" >
                                            <i class="mdi mdi-trending-neutral"></i>
                                        </button>
                                        <a  class=" modal-action modal-close waves-effect waves-light materialize-red lighten-1 btn" style="margin-left: 10px" >
                                            <i class="mdi mdi-close"></i>
                                        </a>
                                    </div>
                                </form>
                                </div>
                                <div id="test2" class="col s12 tab_box">
                                    <div class="row no-marBottom">
                                        <div class="col s12 valign-wrapper " style="position: relative">
                                            <p class="col s1-0 min-width-2 left-align p0">
                                                <span style="color: red">*</span>
                                                车辆照片:</p>
                                            <div class="storage_car_picture_wrap col s9-0 p0" >
                                                <form name="uploadImageForm" class="uploadImageForm">
                                                <div class="storage_car_picture col s3 vc-center  p0 grey white-text">
                                                    <input name="image" type="file" onchange="angular.element(this).scope().uploadBrandImage(this)" max_size="4M">

                                                    <!--<input type="file" truck-upload id="img" multiple >-->
                                                    +
                                                    <!--<img  class="responsive-img" src="" alt="">-->
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                                        <div class="modal-footer vc-center">
                                            <a  class=" modal-action modal-close waves-effect waves-light materialize-red lighten-1 btn" style="margin-left: 10px" >
                                                <i class="mdi mdi-close"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                             </div>

                        <!--</div>-->
                    </div>


            </div>
        </div>
        <div class="divider" style="background: #00bcd4;height: 2px;"></div>
        <div class="col s12" >
            <table class="highlight bordered">
                <thead>
                <tr>
                    <th data-field="">入库时间</th>
                    <th data-field="">WIN码</th>
                    <th data-field="">品牌</th>
                    <th data-field="">型号</th>
                    <th data-field="">存放车库</th>
                    <th data-field="">存放位置</th>
                    <th data-field="">计划出库时间</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="el in storage_car">
                    <td ng-bind="el.enter_time|date:'yyyy-MM-dd HH:mm:ss'"></td>
                    <td  ng-bind="el.vin"></td>
                    <td ng-bind="el.make_name"></td>
                    <td ng-bind="el.model_name"></td>
                    <td ng-bind="el.storage_name"></td>
                    <td >{{el.row}}排{{el.col}}列</td>
                    <td ng-bind="el.plan_out_time|date:'yyyy-MM-dd '"></td>
                    <td class="operation">
                        <span><i class="mdi mdi-eye look_icon" ng-click="lookStorageCar(el.id)"></i></span>
                        <div id="look_StorageCar" class="modal modal-fixed-footer">
                            <form name="change_operatorForm" ng-submit="changeOperatorForm(change_operatorForm.$valid,self_car.id)" novalidate>
                                <div class="modal-content">
                                    <h4 class="center-align">仓储车辆信息</h4>
                                    <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                                    <!--<div class="container">-->
                                        <div class="row" style="margin-top: 40px">
                                            <div class="row " ng-class="{ 'has-error':operatorForm.phone.$invalid&&submitted }" >
                                                <div class="col s4 valign-wrapper " style="padding: 0">
                                                    <h6 class="col s4-0 min-width-2 " style="padding: 0">
                                                        <span style="color: red">*</span>
                                                        WIN码:</h6>
                                                    <input  id="look_win" name="look_win" autocomplete="off" ng-model="self_car.vin" type="text"   required class=" col s6-0">
                                                </div>
                                                <div class="col s4 valign-wrapper ">
                                                    <h6 class="col s4-0 min-width-2 ">
                                                        制造商:</h6>
                                                    <select material-select watch name="look_makecarName" ng-options="o.make_name as o.make_name for o in makecarName" class=" col s6-0" ng-change="changeMakeId(o.make_id)" ng-model="self_car.make_name" required>
                                                        <option value="" disabled selected>请选择</option>
                                                        <!--<option ng-repeat="el in makecarName" ng-value="el.id" >{{el.make_name}}</option>-->
                                                    </select>
                                                </div>
                                                <div class="col s4 valign-wrapper ">
                                                    <h6 class="col s4-0">
                                                        型号:</h6>
                                                    <select material-select watch name="look_model_name" class=" col s6-0" ng-options="o.model_name as o.model_name for o in carModelName" ng-model="self_car.model_name" required>
                                                        <option value="" disabled selected>请选择</option>
                                                    </select>
                                                </div>
                                                <!--<h5 class="col s2-0">-->
                                                <!--<span style="color: red">*</span>-->
                                                <!--电话:</h5>-->
                                                <!--<input  id="phone" name="phone" autocomplete="off" ng-model="newUserName" type="text"   required class=" col s6-0">-->
                                                <!--<div class="col s2-0 sexBox" sex-change >-->
                                                <!--<i class="mdi mdi-human-male sex" sex="1" ></i>-->
                                                <!--<i class="mdi mdi-human-female " sex="0"  ng-class="{ 'sex' : new_companyForm.Tel.$invalid&&submitted }"></i>-->
                                                <!--</div>-->
                                            </div>
                                            <div class="row " ng-class="{ 'has-error':operatorForm.phone.$invalid&&submitted }" >
                                                <div class="col s4 valign-wrapper p0" style="position: relative ;">
                                                    <h6 class="col s4-0 min-width-2  p0" >
                                                        生产日期:</h6>
                                                    <input type="text" id="look_create_time" name="look_create_time" class="datepicker" autocomplete="off" ng-model="look_create_time" required   date><i class="mdi dataIcon mdi-table-large"></i>
                                                </div>
                                                <div class="col s4 valign-wrapper">
                                                    <h6 class="col s4-0 min-width-2 ">
                                                        颜色:</h6>
                                                    <select material-select watch name="look_car_color" class=" col s6-0" ng-model="look_car_color" required>
                                                        <option value="" disabled selected>请选择</option>
                                                        <option ng-repeat="el in color" ng-value="el.colorId" >{{el.colorName}}</option>
                                                    </select>
                                                </div>
                                                <div class="col s4 valign-wrapper ">
                                                    <h6 class="col s4-0 min-width">
                                                        发动机号:</h6>
                                                    <input  id="" name="look_engineNum" autocomplete="off" ng-model="look_engineNum" type="text"   required class=" col s6-0">
                                                </div>
                                            </div>
                                            <div class="row " ng-class="{ 'has-error':operatorForm.phone.$invalid&&submitted }" >
                                                <div class="col s4 valign-wrapper p0" >
                                                    <h6 class="col s4-0 min-width-2 p0">
                                                        <span style="color: red">*</span>
                                                        存放仓库:</h6>
                                                    <!--<select car-select name="look_storageName" disabled class="browser-default col s6-0" ng-change="changeStorageId(storage_name.id)" ng-options="o.storage_name for o in storageName" ng-model="look_storageName" required>-->
                                                        <!--<option value="" disabled selected>请选择</option>-->
                                                    <!--</select>-->
                                                    <input  id="" disabled name="look_storageName" autocomplete="off" ng-model="look_storageName" type="text"   required class=" col s6-0">
                                                </div>
                                                <div class="col s8 valign-wrapper ">
                                                    <div class="col s2-0 valign-wrapper min-width-2 ">
                                                        <span style="color: red">*</span>
                                                        <h6 class="">
                                                            存放车位:</h6>
                                                    </div>
                                                    <div class="col s8-0 valign-wrapper p0">
                                                        <input  id="" disabled name="look_row" autocomplete="off" ng-model="look_row" type="text"   required class="col s4-0">

                                                        <!--<select car-select disabled name="look_col" class="browser-default  col s4-0" ng-model="look_col" required>-->
                                                            <!--<option value="" disabled selected>请选择</option>-->
                                                            <!--<option ng-value="1" >车管部</option>-->
                                                            <!--<option ng-value="2" >仓储部</option>-->
                                                        <!--</select>-->
                                                        <span class="col s1-0">
                                                排
                                            </span>
                                                        <input  id="" disabled name="look_col" autocomplete="off" ng-model="look_col" type="text"   required class="col s4-0">

                                                        <!--<select car-select disabled name="look_row" class="browser-default col s4-0" ng-model="look_col" required>-->
                                                            <!--<option value="" disabled selected>请选择</option>-->
                                                            <!--<option ng-value="1" >车管部</option>-->
                                                            <!--<option ng-value="2" >仓储部</option>-->
                                                        <!--</select>-->
                                                        <span class="col s1-0">
                                                列
                                            </span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row " ng-class="{ 'has-error':operatorForm.phone.$invalid&&submitted }" >
                                                <!--<div class="col s6 valign-wrapper" style="position: relative">-->
                                                    <!--<h6 class="col s4-0 min-width ">-->
                                                        <!--<span style="color: red">*</span>-->
                                                        <!--入库时间:</h6>-->
                                                    <!--<input  id="look_enter_time" name="look_enter_time"  autocomplete="off" ng-model="look_enter_time" type="text"   required class="datepicker col s6-0" date><i class="mdi dataIcon mdi-table-large"></i>-->
                                                <!--</div>-->
                                                <div class="col s6 valign-wrapper p0" style="position: relative;">
                                                    <h6 class="col s2-0 min-width-2 p0 " >
                                                        <span style="color: red">*</span>
                                                        计划出库时间:</h6>
                                                    <input  id="look_plan_out_time" name="look_plan_out_time" autocomplete="off" ng-model="look_plan_out_time" type="text"   required class="datepicker col s8-0" date><i class="mdi dataIcon mdi-table-large"></i>
                                                </div>
                                                <div class="col s6 valign-wrapper" style="position: relative">
                                                    <a class="btn waves-effect waves-light" ng-click="out_storage()" style="margin-right: 10px">立即出库</a>
                                                    <a class="btn waves-effect waves-light" ng-click="move_box()">移位</a>
                                                </div>
                                            </div>
                                            <div class="row valign-wrapper move_box" flag="true">
                                                <div class="col s12 valign-wrapper">
                                                    <div class="col s3-0">
                                                        选择移动的位置:
                                                    </div>
                                                        <select car-select name="look_row" class="browser-default col s2-0" ng-model="look_row" required>
                                                            <option value="" disabled selected>请选择</option>
                                                            <option ng-value="1" >车管部</option>
                                                            <option ng-value="2" >仓储部</option>
                                                        </select>
                                                    <div class="col s0-5">
                                                        排
                                                    </div>
                                                        <select car-select name="look_row" class="browser-default col s2-0" ng-model="look_row" required>
                                                            <option value="" disabled selected>请选择</option>
                                                            <option ng-value="1" >车管部</option>
                                                            <option ng-value="2" >仓储部</option>
                                                        </select>
                                                    <div class="col s0-5">
                                                        位
                                                    </div>
                                                    <div class="col s2-0  right-align ">
                                                        <i class="mdi mdi-check"></i>
                                                        <i class="mdi mdi-close" ng-click="close_move_box()"></i>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">

                                                <div class="col s12 valign-wrapper p0" style="position: relative;">
                                                    <p class="col s1-0 min-width-2 left-align p0" >
                                                        <span style="color: red">*</span>
                                                        操作记录:</p>
                                                    <p class=" col s9-0 p0" >
                                                        <span class="col s12 p0">
                                                            <span>2017.04.12</span>
                                                            <span>入库</span>
                                                            <span>
                                                                停发位置：
                                                            </span>
                                                            <span>
                                                                b-13
                                                            </span>
                                                            <span>
                                                                操作员：
                                                            </span>
                                                            <span>
                                                                王大锤
                                                            </span>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col s12 valign-wrapper p0" style="position: relative">
                                                    <p class="col s1-0 min-width-2 left-align p0">
                                                        <span style="color: red">*</span>
                                                        备注:</p>
                                                    <p class=" col s9-0 p0" >
                                                        <textarea id="look_remark" style="height: 100px" name="remark" class="col s12" ng-model="remark"></textarea>

                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12 valign-wrapper p0" style="position: relative">
                                                    <p class="col s1-0 min-width-2 left-align p0">
                                                        <span style="color: red">*</span>
                                                        车辆照片:</p>
                                                    <div class=" col s9-0 p0" >
                                                        <div class="storage_car_picture col s3 vc-center grey white-text">
                                                            <span>+</span>
                                                            <!--<img  class="responsive-img" src="" alt="">-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    <!--</div>-->

                                </div>
                                <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                                <div class="modal-footer vc-center">
                                    <button class="btn waves-light waves-effect" type="submit" name="action" >
                                        <i class="mdi mdi-check"></i>
                                    </button>
                                    <a  class=" modal-action modal-close waves-effect waves-light materialize-red lighten-1 btn" style="margin-left: 10px" >
                                        <i class="mdi mdi-close"></i>
                                    </a>
                                </div>
                            </form>
                        </div>
                        <span><i class="mdi mdi-lock-open" ng-click="outStorageCar()"></i></span>
                        <span><i class="mdi mdi-close" ng-click="changeStorageCar()"></i></span>
                        <div id="change_storageCar" class="modal">
                            <div class="modal-content">
                                <div class="row">
                                    <h5 class="col s12">该车辆要转移到：</h5>
                                </div>
                                <div class="row ">

                                </div>
                            </div>

                        </div>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>