<!-- 主菜单：车辆设置 -->
<div class="setting_truckWrap ">
    <div class="row">

        <!-- 标题：车辆品牌设置 -->
        <div class="row valign-wrapper">
            <h5 class="col s12 cyan-text lighten-1  center-align">
                车辆品牌设置
            </h5>
        </div>

        <!-- 分割线 -->
        <div class="row">
            <div class="divider"></div>
        </div>

        <!-- 主体： -->
        <div style="width: 75%;margin: 0 auto">

            <!-- 增加品牌 区域 -->
            <div class="row addBrand">

                <!-- 增加品牌 按钮 -->
                <a href=""
                   class=" col s2 offset-s10  btn waves-effect cyan lighten-1 waves-light vc-center open_car_brand "
                   ng-click="openBrand($event)">+增加品牌</a>

                <!-- 增加品牌 画面 -->
                <form name="addBrandFrom" ng-click="addBrand(addBrandFrom.$valid)" novalidate>
                    <div class="col s12 z-depth-2 white car_Brand_box "
                         style="padding: 0.75rem 0;display: none">

                        <!-- 品牌名称 标题 -->
                        <div class="col s1 vc-center" style="height: 45px">
                            <h6 class=" bold cyan-text text-lighten-1" style="min-width: 88px;margin-left: 10px">
                                品牌名称:</h6>
                        </div>

                        <!-- 品牌名称 输入区 -->
                        <input class="col s3 Brand_text" name="brandText" id="brandText" type="text" autocomplete="off"
                               ng-model="b_txt" required>

                        <!-- 增加品牌 确认/取消 按钮 -->
                        <div class="col s2  add_Brand_Icon">
                            <a class="  btn-floating waves-effect waves-light red lighten-2  btn"
                               ng-click="closeBrand()">
                                <i class="mdi mdi-close add_brand"></i>
                            </a>
                            <button class="btn-floating waves-effect waves-light cyan  lighten-1 btn" type="submit"
                                    name="action">
                                <i class="mdi mdi-check add_brand"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- 车辆品牌 详细列表 区域 -->
            <div class="row">
                <ul class="collapsible setting_car Brand_box" data-collapsible="accordion" collapsible>

                    <!-- 车辆品牌 遍历 -->
                    <li ng-repeat="el in brand">

                        <!-- 车辆品牌 详细列表 标题栏 -->
                        <div class="collapsible-header grey-text text-darken-1 row no-mp">

                            <!-- 车辆品牌 名称 编辑用 -->
                            <div class="amend_brand_box amend_brand_box{{$index}} col s12 p0"
                                 ng-click="stopPropagate($event)">
                                <form name="amend_brandForm">
                                    <div class="col s6 valign-wrapper p0">
                                        <!-- 小汽车 图标 -->
                                        <i class="mdi mdi-car cyan-text text-lighten-1 "></i>
                                        <!-- 车辆品牌 名称 编辑框 -->
                                        <input type="text" class="cyan-text lighten-1" style="height: 30px"
                                               ng-model="el.make_name">
                                        <!-- 车辆品牌 名称 编辑 取消 按钮 -->
                                        <a class="  btn-floating btn-small waves-effect waves-light red lighten-2  btn"
                                           style="width: 35px;height: 30px;line-height: 30px;margin-right: 10px"
                                           ng-click="hideCarMakerUpt($index)">
                                            <i class="mdi mdi-close add_brand"
                                               style="width: 100%;line-height: 30px"></i>
                                        </a>
                                        <!-- 车辆品牌 名称 编辑 确认 按钮 -->
                                        <button class="btn-floating waves-effect waves-light cyan  lighten-1 btn"
                                                style="width: 35px;height: 30px;line-height: 30px"
                                                ng-click="updateCarBrand(amend_brandForm.$valid,el.id,el.make_name,$index)"
                                                name="action">
                                            <i class="mdi mdi-check add_brand"
                                               style="width: 100%;line-height: 30px"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <!-- 车辆品牌 名称 显示用 -->
                            <div class="brand_box brand_box{{$index}}" flag="true"
                                 ng-click="openCarModel($event,el.id)">
                                <i class="mdi mdi-car cyan-text text-lighten-1"></i>{{el.make_name}}
                            </div>

                            <!-- 车辆品牌 名称 编辑 按钮 -->
                            <i ng-click="showCarMakerUpt($event,$index)" class="amend_brand_make mdi mdi-pencil"></i>
                        </div>

                        <!-- 车辆品牌 详细列表 主体内容(初期为隐藏) -->
                        <div class="collapsible-body" style="padding: 0">

                            <!-- （车辆品牌 -> 增加类型）区域 -->
                            <div class="" style="padding: 1rem;overflow: hidden">
                                <div class="add_model_box add_model_box{{$index}} col s12 p0"
                                     ng-click="amend_model_box($event)">

                                    <!-- （车辆品牌 -> 增加类型）按钮 -->
                                    <a href=""
                                       class=" col s2 offset-s10  btn waves-effect cyan lighten-1 waves-light vc-center open_car_brand "
                                       ng-click="showAddCarModelBox($event,$index)">+增加类型</a>

                                    <!-- （车辆品牌 -> 增加类型）画面 -->
                                    <div class="add_model_wrap add_model_wrap{{$index}} col white s12"
                                         style="display: none">
                                        <form name="add_modelForm" novalidate>
                                            <div class="col s6 valign-wrapper p0 vc-center add_model_box"
                                                 ng-class="{'has-error':add_modelForm.add_car_model.$invalid&&submitted}">

                                                <!-- （车辆品牌 -> 增加类型）画面 标题：型号名称 -->
                                                <h6 class="col s3 bold cyan-text lighten-1" style="min-width: 90px">
                                                    型号名称:</h6>

                                                <!-- （车辆品牌 -> 增加类型）画面 型号名称 输入区 -->
                                                <input type="text" class="cyan-text lighten-1"
                                                       ng-model="$parent.add_car_model_text"
                                                       id="add_car_model" autocomplete="off" name="add_car_model"
                                                       required>

                                                <!-- （车辆品牌 -> 增加类型）画面 取消 按钮 -->
                                                <a class="  btn-floating btn-small waves-effect waves-light red lighten-2  btn"
                                                   style="width: 35px;height: 28px;line-height: 28px;margin-right: 10px"
                                                   ng-click="hideAddCarModelBox($index)">
                                                    <i class="mdi mdi-close " style="width: 100%;line-height: 28px"></i>
                                                </a>

                                                <!-- （车辆品牌 -> 增加类型）画面 确认 按钮 -->
                                                <button class="btn-floating waves-effect waves-light cyan  lighten-1 btn"
                                                        style="width: 35px;height: 28px;line-height: 28px;"
                                                        ng-click="addCarModel(add_modelForm.$valid,el.id,$index)"
                                                        name="action">
                                                    <i class="mdi mdi-check add_brand"
                                                       style="width: 100%;line-height: 28px"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- 分割线 -->
                            <div class="divider"></div>

                            <!-- （车辆品牌 -> 品牌类型）详细画面 -->
                            <div style="padding: 1rem;overflow: hidden">
                                <div class="col s12 p0">

                                    <!-- （车辆品牌 -> 品牌类型）遍历 -->
                                    <div ng-repeat="el in brand_model" class="col s4 " style=" padding:1rem;">
                                        <div class="col s12  car_model_panel valign-wrapper"
                                             ng-class="{'no_amend_model':el.model_status==0}">

                                            <!-- （车辆品牌 -> 品牌类型）品牌类型名 -->
                                            <input type="text"
                                                   class="car_model_name cyan-text text-lighten-1  car_model_name{{$index}} col s5"
                                                   ng-model="el.model_name" readonly>

                                            <!-- （车辆品牌 -> 品牌类型）品牌类型名 编辑画面 取消/确定 按钮 -->
                                            <div class="amend_car_model_box{{$index}} col s3"
                                                 style="display: none;cursor: pointer">
                                                <i class="mdi red-text text-darken-2 mdi-close col s6 "
                                                   ng-click="hideCarModel($index)"></i>
                                                <i class="mdi cyan-text text-lighten-1 mdi-check col s6 "
                                                   ng-click="updateCarModel(el.id,el.model_name,$index)"></i>
                                            </div>

                                            <!-- （车辆品牌 -> 品牌类型）品牌类型名 显示画面 编辑 按钮 -->
                                            <i class="mdi grey-text mdi-pencil mdi-pencil{{$index}} col s1"
                                               ng-if="el.model_status==1" style="cursor: pointer"
                                               ng-click="showCarModel($index,$event)"></i>

                                            <!-- （车辆品牌 -> 品牌类型）品牌类型 状态开关 -->
                                            <div class="col s3">
                                                <div class="switch">
                                                    <label>
                                                        <input type="checkbox" ng-checked="el.model_status==1"
                                                               ng-click="updateCarModelStatus(el.id,el.model_status,el.make_id)">
                                                        <span class="lever"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>