<div class="storage_store_Wrap" ng-controller="storage_storeController" >
    <div class="storage_store_subject">
        <div class="row searchBoxWrap ">
            <div class="col s3 valign-wrapper">
                <div class="col s4 center-align">
                    仓库名称:
                </div>
                <select material-select watch class="col s8  " ng-model="s_type">
                    <option value="" disabled selected>请选择</option>
                    <option value="1">自营</option>
                    <option value="2">供方</option>
                    <option value="3">外协</option>
                    <option value="4">承包</option>
                </select>
            </div>
            <div class="col s3 ">
                <div class="row valign-wrapper">
                    <div class="col s3-0 center-align" style="padding: 0">
                        仓储位置:
                    </div>
                    <input class="col s7-0" type="text">
                </div>
            </div>
            <div class="col s3 ">
                <div class="row valign-wrapper">
                    <div class="col s3-0  center-align">
                        剩余位置:
                    </div>
                    <input class="col s7-0" type="text">
                </div>
            </div>
            <div class="col s1 offset-s2">
                <a style="width: 100%;padding:0  1rem" class="waves-effect waves-light cyan lighten-1 btn-large" ng-click="search()">搜索</a>
            </div>
        </div>
        <div class="row">
            <div class="divider"></div>
            <div class="col s12" >
                <table class=" bordered striped">
                    <thead class="grey lighten-2">
                    <tr>
                        <th data-field="">仓库名称</th>
                        <th data-field="">总车位</th>
                        <th data-field="">剩余车位</th>
                        <th data-field="">今日入库</th>
                        <th data-field="">今日出库</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="el in store_storage">
                        <td ng-bind="el.storage_name"></td>
                        <td >{{el.row*el.col}}</td>
                        <td ng-bind="el.row*el.col-el.balance"></td>
                        <td ng-bind="el.imports"></td>
                        <td ng-bind="el.exports"></td>
                        <td ng-if="el.storage_status==1">在用</td>
                        <td ng-if="el.storage_status==0">停用</td>
                        <td class="operation">
                            <span><a href="#" ui-sref="storage_car_map({id:el.id,form:'storageStore'})"><i class="mdi mdi-eye cyan-text lighten-1"  ></i></a></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>