<div class="storage_store_Wrap" ng-controller="storage_store_Controller" >
    <div class="storage_store_subject">
        <div class="row searchBoxWrap ">
            <div class="col s3 valign-wrapper">
                <div class="col s3 center-align">
                    仓库名称:
                </div>
                <select material-select watch class="col s9  " ng-model="s_type">
                    <option value="" disabled selected>请选择</option>
                    <option value="1">自营</option>
                    <option value="2">供方</option>
                    <option value="3">外协</option>
                    <option value="4">承包</option>
                </select>
            </div>
            <div class="col s3 ">
                <div class="row valign-wrapper">
                    <div class="col s3-0 center-align" style="padding: 0">
                        仓储位置:
                    </div>
                    <input class="col s7-0" type="text">
                </div>
            </div>
            <div class="col s3 ">
                <div class="row valign-wrapper">
                    <div class="col s3-0  center-align">
                        剩余位置:
                    </div>
                    <input class="col s7-0" type="text">
                </div>
            </div>
            <div class="col s1 offset-s2">
                <a style="width: 100%;padding:0  1rem" class="waves-effect waves-light btn-large" ng-click="search()">搜索</a>
            </div>
        </div>
        <div class="row">
            <div class="divider"></div>
            <div class="col s12" >
                <table class="highlight bordered">
                    <thead>
                    <tr>
                        <th data-field="">仓库名称</th>
                        <th data-field="">总车位</th>
                        <th data-field="">剩余车位</th>
                        <th data-field="">今日入库</th>
                        <th data-field="">今日出库</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="el in store_storage">
                        <td ng-bind="el.storage_name"></td>
                        <td >{{el.row*el.col}}</td>
                        <td ng-bind="el.row*el.col-el.balance"></td>
                        <td ng-bind="el.imports"></td>
                        <td ng-bind="el.exports"></td>
                        <td ng-if="el.storage_status==1">在用</td>
                        <td ng-if="el.storage_status==0">停用</td>
                        <td class="operation">
                            <span><i class="mdi mdi-eye"  ng-click="LookGarage(el.id,el.storage_name,el.row,el.col,el.balance,el.imports,el.exports)"></i></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div  class="LookGarage" id="LookGarage" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div class="storage_storeTitle vc-center">
                    <a class="storage_goback_btn btn waves-effect waves-light " ng-click="return()">
                        返回
                    </a>
                    <h4>车库仓储信息</h4>
                </div>
                <div class="divider"></div>
                <div class="row" style="padding: 0.75rem 0;margin: 0">
                    <div class="row">
                        <p class="col s12"><span>仓库名称:</span><span ng-bind="self_store_storage_name"></span></p>
                    </div>
                        <p class="col s3">
                            <span>车位:</span>
                            <span class="red-text" ng-bind="self_store_storage_row"></span>
                            <span>排</span>
                        </p>
                        <p class="col s3">
                            <span>每排</span>
                            <span class="red-text" ng-bind="self_store_storage_col">5</span>
                            <span>车位</span>
                        </p>
                        <p class="col s3">
                            <span>总车位:</span>
                            <span class="red-text">{{self_store_storage_row*self_store_storage_col}}</span>
                        </p>
                        <p class="col s3">
                            <span>剩余车位:</span>
                            <span class="red-text" ng-bind="self_store_storage_pCount">5</span>
                        </p>
                </div>
                <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                <div class="row">
                    <div class=" col s12 garageWrapTitle vc-center">
                        <div class="col s8">
                            <div class="col s4">
                                停放车辆
                                <i class="mdi mdi-car blue-text"></i>
                            </div>
                            <div class="col s4">
                                临近出库车辆
                                <i class=" mdi mdi-car red-text"></i>
                            </div>
                            <div class="col s4">
                                未停放车辆
                                <i class=" mdi mdi-car "></i>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="col s6">
                                今日入库车辆
                                <span class="red-text" ng-bind="self_store_storage_imports"></span>
                            </div>
                            <div class=" col s6">
                                今日出库车辆
                                <span class="red-text" ng-bind="self_store_storage_exports"></span>
                            </div>
                            <!--<div class="">-->
                            <!--今日入库车辆-->
                            <!--<span></span>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="garageWrap_storage">
                        <div class="garageBox row " style="display: inline">

                            <div class=" col s12 garage_list p0" >
                                <div class="garage_row vc-center left"></div>
                                <div class="garage_col vc-center left" ng-repeat="el in ageParkingCol">
                                    {{el.col}}
                                    <!--<i ng-if="getTime(els.plan_time)-newTime<'1000*60*60*24*5'" ng-class="{ 'red-text':newStorage_carForm.win.$invalid&&submitted }" class="red-text mdi mdi-car"></i>-->
                                </div>
                            </div>
                            <div class="col s12  garage_list p0"  ng-repeat="el in garageParkingArray" >

                                <div class="garage_row vc-center left">{{$index+1}}</div>
                                <!--<div class="left" style="display: flex">-->
                                    <div class="garage_row vc-center left" ng-repeat="els in el.col track by $index ">
                                        <i ng-show="els.carId!=0&&els.plan_time==true" class=" mdi mdi-car red-text"></i>
                                        <i ng-show="els.carId!=0&&els.plan_time==false" class=" mdi mdi-car blue-text"></i>
                                        <i ng-show="els.carId==0" class=" mdi mdi-car" ng-click="new_garage_parking(els.storage_name,els.storage_id,el.row,els.col,els.id)"></i>
                                        <!--<i ng-if="getTime(els.plan_time)-newTime<'1000*60*60*24*5'" ng-class="{ 'red-text':newStorage_carForm.win.$invalid&&submitted }" class="red-text mdi mdi-car"></i>-->
                                    </div>
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div id="newStorage_car" class="modal ">
                <div class="modal-content">
                    <h4 class="center-align">新增入库车辆</h4>
                    <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                    <!--<div class="container">-->
                    <div class="row no-marBottom" ul-tabs>
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col s6 disabled test1"><a  class="active " href="#test1">基本信息</a></li>
                                <li  class="tab disabled col s6 test2"><a   href="#test2">车辆照片</a></li>
                            </ul>
                        </div>
                        <div id="test1" class="col s12 tab_box">
                            <form name="newStorage_carForm" ng-submit="submitForm(newStorage_carForm.$valid)" novalidate>
                                <div class="row" style="margin-top: 40px">
                                    <div class="row "  >
                                        <div class="col s4 valign-wrapper" ng-class="{ 'has-error':newStorage_carForm.win.$invalid&&submitted }">
                                            <h6 class="col s4-0 min-width-2 ">
                                                <span style="color: red">*</span>
                                                WIN码:</h6>
                                            <input  id="win" name="win" autocomplete="off" ng-model="win" type="text"   required class=" col s6-0">
                                        </div>
                                        <div class="col s4 valign-wrapper" ng-class="{ 'has-error':newStorage_carForm.makecarName.$invalid&&submitted }" >
                                            <h6 class="col s4-0 min-width ">
                                                制造商:</h6>
                                            <select material-select watch name="makecarName" ng-options="o.make_name for o in makecarName" class=" col s6-0" ng-change="changeMakeId(make_name.id)" ng-model="make_name" required>
                                                <option value="" disabled selected>请选择</option>
                                                <!--<option ng-repeat="el in makecarName" ng-value="el.id" >{{el.make_name}}</option>-->
                                            </select>
                                        </div>
                                        <div class="col s4 valign-wrapper " ng-class="{ 'has-error':newStorage_carForm.model_name.$invalid&&submitted }">
                                            <h6 class="col s4-0">
                                                型号:</h6>
                                            <select material-select watch name="model_name" class=" col s6-0" ng-options="o.model_name for o in carModelName" ng-model="model_name" required>
                                                <option value="" disabled selected>请选择</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row" >
                                        <div class="col s4 valign-wrapper" style="position: relative" >
                                            <h6 class="col s4-0 min-width-2 ">
                                                生产日期:</h6>
                                            <input type="text" id="create_time" name="create_time" class="datepicker" autocomplete="off" ng-model="create_time" required   date><i class="mdi dataIcon mdi-table-large"></i>
                                        </div>
                                        <div class="col s4 valign-wrapper">
                                            <h6 class="col s4-0 min-width ">
                                                颜色:</h6>
                                            <select material-select watch name="car_color" class=" col s6-0" ng-model="car_color" required>
                                                <option value="" disabled selected>请选择</option>
                                                <option ng-repeat="el in color" ng-value="el.colorId" >{{el.colorName}}</option>
                                            </select>
                                        </div>
                                        <div class="col s4 valign-wrapper ">
                                            <h6 class="col s4-0 ">
                                                发动机号:</h6>
                                            <input  id="engineNum" name="engineNum" autocomplete="off" ng-model="engineNum" type="text"   required class=" col s6-0">
                                        </div>
                                    </div>
                                    <div class="row" >
                                        <div class="col s4 valign-wrapper" ng-class="{ 'has-error':newStorage_carForm.storageName.$invalid&&submitted }">
                                            <h6 class="col s4-0 min-width-2 ">
                                                <span style="color: red">*</span>
                                                存放仓库:</h6>
                                            <input  disabled name="storageName" autocomplete="off" ng-model="private_storageName" type="text"   required class=" col s6-0">

                                        </div>
                                        <div class="col s8 valign-wrapper ">
                                            <div class="col s2-0 valign-wrapper min-width ">
                                                <span style="color: red">*</span>
                                                <h6 class="">
                                                    存放车位:</h6>
                                            </div>
                                            <div class="col s8-0 valign-wrapper" style="padding: 0" ng-class="{ 'has-error':(newStorage_carForm.row.$invalid||newStorage_carForm.col_id.$invalid)&&submitted }">
                                                <input  disabled name="row" autocomplete="off" ng-model="private_row" type="text"   required class=" col s4-0">
                                                <span class="col s1-0">
                                                排
                                            </span>
                                                <input  disabled name="col" autocomplete="off" ng-model="private_col" type="text"   required class=" col s4-0">

                                                <span class="col s1-0">
                                                列
                                            </span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row"  >
                                        <!--<div class="col s6 valign-wrapper" style="position: relative">-->
                                        <!--<h6 class="col s2-0 min-width right-align">-->
                                        <!--<span style="color: red">*</span>-->
                                        <!--入库时间:</h6>-->
                                        <!--<input  id="enter_time" name="enter_time"  autocomplete="off" ng-model="enter_time" type="text"   required class="datepicker col s8-0" date><i class="mdi dataIcon mdi-table-large"></i>-->
                                        <!--</div>-->
                                        <div class="col s6 valign-wrapper " style="position: relative" ng-class="{ 'has-error':newStorage_carForm.plan_out_time.$invalid&&submitted }">
                                            <h6 class="col s2-0 min-width-2 ">
                                                <span style="color: red">*</span>
                                                计划出库时间:
                                            </h6>
                                            <input  id="plan_out_time" name="plan_out_time" autocomplete="off" ng-model="plan_out_time" type="text"   required class="datepicker col s8-0 " date><i class="mdi dataIcon mdi-table-large"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 valign-wrapper" style="position: relative">
                                            <p class="col s1-0 min-width-2 left-align ">
                                                <span style="color: red">*</span>
                                                备注:</p>
                                            <p class=" col s9-0 p0">
                                                <textarea id="remark" style="height: 100px" name="remark" class="col s12 " ng-model="remark" ></textarea>

                                            </p>
                                        </div>
                                    </div>
                                            </div>
                                            <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                                            <div class="modal-footer vc-center">
                                                <button class="btn waves-light waves-effect" type="submit" name="action" >
                                                    <i class="mdi mdi-trending-neutral"></i>
                                                </button>
                                                <a  class=" modal-action modal-close waves-effect waves-light materialize-red lighten-1 btn" style="margin-left: 10px" >
                                                    <i class="mdi mdi-close"></i>
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="test2" class="col s12 tab_box">
                                        <div class="row no-marBottom">
                                            <div class="col s12 valign-wrapper " style="position: relative">
                                                <p class="col s1-0 min-width-2 left-align p0">
                                                    <span style="color: red">*</span>
                                                    车辆照片:</p>
                                                <div class="storage_car_picture_wrap col s9-0 p0" >
                                                    <form name="uploadImageForm" class="uploadImageForm">
                                                        <div class="storage_car_picture col s3 vc-center  p0 grey white-text">
                                                            <input name="image" type="file" onchange="angular.element(this).scope().uploadBrandImage(this)" max_size="4M">

                                                            <!--<input type="file" truck-upload id="img" multiple >-->
                                                            +
                                                            <!--<img  class="responsive-img" src="" alt="">-->
                                            </div>
                                            <div ng-repeat="el in imgArr" class="storage_car_picture col s3 vc-center  p0 grey white-text">
                                                <img ng-src="{{el.src}}" class="responsive-img">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="divider" style="background: #00bcd4;height: 2px;"></div>
                                <div class="modal-footer vc-center">
                                    <a  class=" modal-action modal-close waves-effect waves-light materialize-red lighten-1 btn" style="margin-left: 10px" >
                                        <i class="mdi mdi-close"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    </div>
</div>