<!-- 主菜单：仓储管理 -> 订单管理(订单详情) 画面 -->

<!-- 返回前画面 按钮 -->
<div class="" style="position: relative">
    <a class="storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light" ng-click="return()">
        <i class="mdi mdi-arrow-left-bold"></i>
    </a>
    <h4 class="center-align cyan-text text-lighten-1">订单详情</h4>
</div>

<!-- 分割线 -->
<div class="row">
    <div class="divider" style="background: #00bcd4;height: 2px"></div>
</div>

<!-- 订单编号 -->
<div class="row cyan-text" style="width: 95%;margin: 0 auto;">
    <div class="col s12">
        <div class="col s6">
            订单编号：
        </div>
        <div class="col s6 right-align">
            xxxxx
        </div>
    </div>
</div>


<!-- 车辆信息 -->
<div class="row blue-grey lighten-5" style="width: 95%;border:1px solid #bdbdbd;margin-top: 10px;">
    <!-- header -->
    <div class="col s12 lighten-1 cyan-text vc-center" style="height:50px;">
        <div class="col s12">
            车辆信息
        </div>
    </div>

    <!-- body -->
    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
        <div class="col s3">
            委托方：
        </div>
        <div class="col s3">
            VIN码：
        </div>
        <div class="col s3">
            车型：
        </div>
        <div class="col s3">
            颜色：
        </div>
    </div>
</div>

<!-- 存储信息 -->
<div class="row blue-grey lighten-5" style="width: 95%;border:1px solid #bdbdbd;margin-top: 20px;">
    <!-- header -->
    <div class="col s12 lighten-1 cyan-text vc-center" style="height:50px;">
        <div class="col s12">
            存储信息
        </div>
    </div>

    <!-- body -->
    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
        <div class="input-field col s4">
            入库时间：
        </div>
        <div class="input-field col s4">
            出库时间：
        </div>
        <div class="input-field col s4">
            合计天数：
        </div>
    </div>

    <div class="col s12 white">
        <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;"></div>
    </div>

    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:60px;">
        <div class="col s4">
            预计支付(美元)：
        </div>
        <div class="col s4">
        </div>
        <div class="col s4">
            实际应付(美元)：
        </div>
    </div>
</div>

<!-- 关联仓储订单 -->
<div ng-show="true" class="row blue-grey lighten-5" style="width: 95%;border:1px solid #bdbdbd;margin-top: 20px;">
    <!-- header -->
    <div class="col s12 lighten-1 cyan-text vc-center" style="height:50px;">
        <div class="col s6">
            关联仓储订单
        </div>
        <div class="col s6 right-align">
            <!--<button class="cyan white-text ">查看关联的仓储订单</button>-->
            <a ng-click="updateStorageInfo()" style="width: 220px;" class="waves-light waves-effect cyan lighten-1 btn">查看关联的仓储订单</a>
        </div>
    </div>

    <!-- body -->
    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
        <div class="col s4">
            预计支付(美元)：
        </div>
        <div class="col s4">
        </div>
        <div class="col s4">
            实际应付(美元)：
        </div>
    </div>
</div>


<!-- 支付编号 -->
<div class="row blue-grey lighten-5" style="width: 95%;border:1px solid #bdbdbd;margin-top: 20px;">
    <!-- header -->
    <div class="col s12 lighten-1 cyan-text vc-center" style="height:50px;">
        <div class="col s12">
            支付编号：
        </div>
    </div>

    <!-- body -->
    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
        <div class="input-field col s4">
            支付方式：
        </div>
        <div class="input-field col s4">
            编号：
        </div>
        <div class="input-field col s4">
            支付金额(美元)：
        </div>
    </div>

    <div class="col s12 white">
        <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;"></div>
    </div>

    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
        <div class="col s12">
            支付描述：
        </div>
    </div>

    <div class="col s12 white">
        <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 2px;"></div>
    </div>

    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:40px;">
        <div class="col s6">
            操作员：
        </div>
        <div class="col s6 right-align">
            支付时间：
        </div>
    </div>

    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:40px;">
        <div class="col s12 red-text">
            * 若修改支付信息，请到支付详情页面执行相关操作！
        </div>
    </div>
</div>

<!-- 显示画面【关联仓储订单】 模态框 -->
<div class="row" style="margin: 0">
    <div id="xxxDiv" class="modal" style="width: 45%;height: 520px">
        <div class="modal-content center fz20" style="font-weight: 500;padding: 0">

            <!-- 显示画面【钥匙信息】 Header -->
            <div class="row col s12 vc-center cyan"
                 style="color: white;letter-spacing:1px;font-weight: bold;height: 50px;">
                <p>钥匙信息</p>
            </div>


            <div class="row col" style="width: 95%; margin: 30px 0px 0px 10px;">

                <div class="col s12">
                    <!-- 钥匙 钥匙柜名称 -->
                    <div class="col s6 left-align cyan-text fz30 context-ellipsis" style="width: 460px;">
                        <i class="mdi mdi-key-variant lighten-1"></i>
                        <span style="position: relative; left: 20px;" ng-bind="keyCabinetNm"></span>
                    </div>

                    <!-- 钥匙 扇区位置 -->
                    <div class="col s6 right-align">
                        <div class="col cyan-text right-align context-ellipsis" style="width: 52%;">{{keyInfo.zoneNm}}
                        </div>
                        <div class="col black-text" style="width: 14.6666666666%;">扇区</div>
                        <div class="col s2 cyan-text right-align">{{keyInfo.row}} <span class="black-text">排</span>
                        </div>
                        <div class="col s2 cyan-text right-align">{{keyInfo.col}} <span class="black-text">列</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 显示画面【钥匙信息】 Body -->
            <div class="row col s11" style="padding:0 ;margin: 10px 0px 10px 40px ; border: 1px solid #cccccc">
                <div style="margin: 0 auto">

                    <!-- 钥匙 车辆信息 -->
                    <div class="vc-center col s12 left-align cyan-text fz20 blue-grey lighten-4"
                         style="height:50px ; border-bottom:2px solid #cccccc">
                        <span style="position: absolute; left: 55px;">车辆信息</span>
                    </div>

                    <!-- 钥匙 vin 制造商 型号 -->
                    <div class="vc-center col s12 left-align black-text fz14" style="height:50px ;">
                        <div class="col s4 left-align context-ellipsis">
                            <span>VIN码：{{keyInfo.carVin}}</span>
                        </div>
                        <div class="col s4 left-align context-ellipsis">
                            <span>制造商：{{keyInfo.carMaker}}</span>
                        </div>
                        <div class="col s4 left-align context-ellipsis">
                            <span>型号：{{keyInfo.carModel}}</span>
                        </div>
                    </div>

                    <div class="col s12"
                         style="border-top: #cccccc 1px dashed; overflow: hidden;width:95%; margin-left: 20px;height: 1px"></div>

                    <!-- 钥匙 生产日期 -->
                    <div class="vc-center col s12 left-align black-text fz14" style="height:50px ;">
                        <div class="col s4 left-align context-ellipsis">
                            <span>生产日期：{{keyInfo.carProDate|date:'yyyy-MM-dd hh:mm:ss'}}</span>
                        </div>
                        <div class="col s4 left-align context-ellipsis">
                            <span>颜色：{{keyInfo.carColor}}</span>
                        </div>
                        <div class="col s4 left-align context-ellipsis">
                            <span>发动机号：{{keyInfo.carEngineNum}}</span>
                        </div>
                    </div>

                    <div class="col s12"
                         style="border-top: #cccccc 1px dashed; overflow: hidden;width:95%; margin-left: 20px;height: 1px;"></div>

                    <!-- 钥匙 存放位置 -->
                    <div class="vc-center col s12 left-align black-text fz14" style="height:50px;">
                        <div class="col s4 left-align context-ellipsis">
                            <span>存放位置：{{keyInfo.carPosition}}</span>
                        </div>
                        <div class="col s4 left-align context-ellipsis">
                            <span>入库时间：{{keyInfo.carEnterTime |date:'yyyy-MM-dd hh:mm:ss'}}</span>
                        </div>
                        <div class="col s4 left-align context-ellipsis">
                            <span>计划出库时间：{{keyInfo.carPlanOutTime |date:'yyyy-MM-dd hh:mm:ss'}}</span>
                        </div>
                    </div>

                    <div class="col s12"
                         style="border-top: #cccccc 1px dashed; overflow: hidden;width:95%; margin-left: 20px;height: 1px"></div>

                    <!-- 钥匙 委托方 -->
                    <div class="vc-center col s12 left-align black-text fz14" style="height:50px ;">
                        <div class="col s4 left-align context-ellipsis">
                            <span>委托方：{{(keyInfo.carEntrust == undefined || keyInfo.carEntrust == null) ? '未知' :keyInfo.carEntrust}}</span>
                        </div>
                        <div class="col s4 left-align context-ellipsis">
                            <span>车辆估值(美元)：<span class="red-text">{{keyInfo.carValuation | currency }}</span></span>
                            <!--<span>车辆估值(美元)：<span class="red-text">{{keyInfo.carValuation | number }}</span></span>-->
                            <!--<span>车辆估值(美元)：<span class="red-text">{{keyInfo.carValuation | number:1 }}</span></span>-->
                        </div>
                        <div class="col s4 left-align context-ellipsis">
                            <span>是否MSO车辆：{{keyInfo.carMsoStatus}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col right-align" style="width: 96%;margin-top: 20px;">
                <button class="btn-floating modal-action modal-close waves-effect waves-light cyan lighten-1 btn">
                    <i class="mdi mdi-check add_brand"></i>
                </button>
            </div>
        </div>

    </div>
</div>
