<!--车辆移位模态框-->
<div id="change_storageCar" class="modal" style="width: 90%;height: 70%;">
    <div class="modal-content">
        <h4 class="center-align">车辆移位</h4>
        <!-- 头部 -->
        <div class="row cyan lighten-1 white-text" style="margin: 10px 0 0 0 ">
            <div class="valign-wrapper">
                <!-- 仓库 名称 -->
                <h5 class="col s2">
                    <div ng-bind="storageInfo.storage_name" class="white-text text-darken-1 context-ellipsis"></div>
                </h5>
                <!-- 仓库柜 扇区列表 -->
                <div class="col s3" style="width: 50%;">
                    <p class="col s8 left-align">
                        <select material-select watch ng-model="selectedZone"
                                ng-change="getStorageAreaInfo(selectedZone);" class="center">
                            <!--<option value="" disabled>请选择</option>-->
                            <option ng-repeat="op in zoneList"  ng-value="{{op.id}}" ng-selected="op.id == selectedZone">
                                {{op.area_name}}
                            </option>
                        </select>
                    </p>
                </div>

                <!-- 仓库柜 总位置 / 剩余位置 -->
                <div class="col s7 white-text fz16">
                    <p class="col" style="width:12%;">
                        行: <span ng-bind="row"></span>
                    </p>
                    <p class="col" style="width:13%;">
                        列: <span ng-bind="col"></span>
                    </p>
                    <p class="col" style="width:25%;">
                        单元存车位: <span ng-bind="lot"></span>
                    </p>
                    <p class="col" style="width:25%;">
                        总位置: {{(row == null || row == undefined) ? 0 : row * col * lot}}
                    </p>
                    <p class="col" style="width:25%;">
                        剩余位置: <span ng-bind="leftPosition"></span>
                    </p>
                </div>
            </div>
        </div>

        <!-- 主体 -->
        <div class="" style="width: 95%;margin: 0 auto;padding-top: 20px;">

            <!-- 详细 -->
            <div ng-show="hasPosition == true" class="storageWrap" style="border:0">
                <div ng-repeat="el in storageParkingArray">

                    <!-- 每行之间的余白 -->
                    <div ng-show="el.lot == 1" style="padding-bottom: 30px;"></div>

                    <!-- 头 -->
                    <div ng-show="el.lot == 1" class="col s12 storage_list">
                        <div class="storage_row vc-center" style="border: 1px solid #cccccc; border-right:0px"></div>
                        <div class="storage_row vc-center" style="border: 1px solid #cccccc; border-left: 0px"></div>
                        <div class="storage_row vc-center" style="border: 1px solid #cccccc; border-left: 0px" ng-repeat="el in storageParkingCol">
                            {{el.col}}
                        </div>
                    </div>

                    <!-- 列表 -->
                    <div class="col s12 storage_list">
                        <div class="storage_row vc-center left white-text fz20" style="background-color: #aaaaaa;border: 0px solid #cccccc;">{{(el.lot == 1 ? el.row : '')}}</div>
                        <div class="storage_row vc-center left" style="background-color: #dddddd;">
                            {{characters[el.lot-1].name}}
                        </div>
                        <div class="storage_row vc-center left" ng-repeat="els in el.col track by $index" ng-class="{'present_place':els.carId==moveCarId}">
                            <i ng-show="els.carId!=0" class=" mdi mdi-car cyan-text lighten-1" ></i>
                            <i ng-show="els.carId==0" class=" mdi mdi-car grey-text lighten-2" ng-click="getCarInfo(els.id,el.row,els.col,el.lot)"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="hasPosition == false" class="col s12  storage_list  vc-center">
                <span style="letter-spacing: 2px">暂无数据</span>
            </div>
        </div>
    </div>
</div>
<!--仓储车辆信息详情-->
<div id="look_StorageCar" >
    <div class="modal-content grey-text text-darken-2">

        <!--标题头：仓储车辆信息-->
        <div class="storage_storeTitle vc-center ">

            <!--返回按钮-->
            <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="return()">
                <i class="mdi mdi-arrow-left-bold"></i>
            </a>

            <!--标题-->
            <h4 class="center-align cyan-text text-lighten-1">仓储车辆信息</h4>
        </div>

        <!--按键切换以及详情  基本信息   车辆照片-->
        <div class="row no-marBottom" ul-tabs>
            <div class="col s12 p0">

                <!--按键切换  基本信息   车辆照片-->
                <ul class="tabWrap grey lighten-4 ">
                    <li class="tab col s4 look_msg     vc-center"  ng-click="lookMsg()">基本信息</li>
                    <li class="tab col s4 look_car_img vc-center"  ng-click="lookCarImg()">车辆照片</li>
                    <li class="tab col s4 look_car_key vc-center"  ng-click="lookCarKey()">钥匙存放</li>
                </ul>
            </div>

            <!--基本信息的详细信息-->
            <div id="lookMsg" class="col s12 tab_box" style="width: 95%; margin:0 2% ">
                <form name="change_newStorage_carForm" style="color:#616161"  novalidate>
                    <div class="row" style="margin-top: 20px;">
                        <div class="row">
                            <div class="col s4 valign-wrapper " style="padding: 0" ng-class="{ 'has-error':change_newStorage_carForm.look_win.$invalid&&submitted }">
                                <div class="input-field col s12">
                                    <input  id="look_win" name="look_win" autocomplete="off" ng-model="self_car.vin" type="text" disabled   required >
                                    <label for="look_win" ><span style="color: red">*</span>VIN</label>
                                </div>
                            </div>
                            <div class="col s4 valign-wrapper ">
                                <div class="input-field col s12">
                                    <select material-select watch  id="look_makecarName"   ng-change="changeMakeId(self_car.make_id)" ng-model="self_car.make_id" >
                                        <option value="" disabled selected>请选择</option>
                                        <option ng-repeat="el in makecarName" ng-value="el.id" >{{el.make_name}}</option>
                                    </select>
                                    <label for="look_makecarName" ><span style="color: red;margin-right: 5px">*</span>制造商</label>
                                </div>
                            </div>
                            <div class="col s4 valign-wrapper ">
                                <div class="input-field col s12">
                                    <select material-select watch name="look_model_name" id="look_model_name"   ng-model="self_car.model_id"  >
                                        <option value="" disabled selected>请选择</option>
                                        <option  ng-repeat="el in carModelName" ng-value="el.id">{{el.model_name}}</option>
                                    </select>
                                    <label for="look_model_name" ><span style="color: red;margin-right: 5px">*</span>型号</label>
                                </div>
                            </div>
                        </div>
                        <div class="row "  >
                            <div class="col s4 valign-wrapper p0" style="position: relative ;">
                                <div class="input-field col s12">
                                    <input type="text" id="look_create_time" maxlength="4" valid-num ng-model="look_create_time">
                                    <label for="look_create_time" >年份</label>
                                </div>
                            </div>
                            <div class="col s4 valign-wrapper">
                                <div class="input-field col s12">
                                    <select material-select watch id="look_car_color" name="look_car_color" class="" ng-model="self_car.colour" >
                                        <option value="" disabled selected>请选择</option>
                                        <option ng-repeat="el in color" ng-value="el.colorId" >{{el.colorName}}</option>
                                    </select>
                                    <label for="look_car_color" >颜色</label>
                                </div>
                            </div>
                            <div class="col s4 valign-wrapper ">
                                <div class="input-field col s12">
                                    <input  id="look_engineNum" name="look_engineNum" autocomplete="off" ng-model="self_car.engine_num" type="text"    >
                                    <label for="look_engineNum" >发动机号</label>
                                </div>
                            </div>
                        </div>
                        <div ng-if="self_car.rel_status==1" class="row ">
                            <div class="col s4 valign-wrapper p0" >
                                <div class="input-field col s12">
                                    <input  id="look_storageName"  name="look_storageName"  autocomplete="off" disabled ng-model="look_storageName" class=" red-text text-lighten-2" type="text"   required >
                                    <label for="look_storageName" ><span style="color: red">*</span>存放位置</label>
                                </div>
                            </div>
                            <div class="col s4 valign-wrapper ">
                                <div class="input-field col s12">
                                    <input  id="look_enter_time" form-date name="look_enter_time" autocomplete="off" disabled ng-model="self_car.enter_time" type="text"   required class="datepicker " date><i class="mdi dataIcon mdi-table-large"></i>
                                    <label for="look_enter_time" ><span style="color: red">*</span> 入库时间</label>
                                </div>

                            </div>
                            <div class="col s4 valign-wrapper ">
                                <div class="input-field col s12">
                                    <input  id="look_plan_out_time" form-date name="look_plan_out_time" autocomplete="off" ng-model="self_car.plan_out_time" type="text"   required class="datepicker " date><i class="mdi dataIcon mdi-table-large"></i>
                                    <label for="look_plan_out_time" ><span style="color: red">*</span>计划出库时间</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <!--委托方-->
                            <div class="input-field col s4">
                                <select material-select watch id="entrustId" name="entrustId" ng-model="self_car.entrust_id" >
                                    <option ng-value="" disabled selected>请选择</option>
                                    <option ng-repeat="el in getEntrust"  ng-value="el.id" >{{el.short_name}}</option>
                                </select>
                                <label for="entrustId"><span style="color: red;margin-right: 5px">*</span>委托方</label>
                            </div>
                            <!--车辆估值-->
                            <div class="input-field col s4">
                                <input type="text" id="carValuation" valid-money maxlength="8" ng-model="self_car.valuation">
                                <label for="carValuation"><span style="color: red;margin-right: 5px">*</span>车辆估值(美元)</label>
                            </div>
                            <!--MSO车辆-->
                            <div class="input-field col s2">
                                <select material-select watch id="MSO" name="MSO"  ng-model="self_car.mso_status" >
                                    <option ng-value="" disabled selected>请选择</option>
                                    <option ng-value="2">是</option>
                                    <option ng-value="1">否</option>
                                </select>
                                <label for="MSO"><span style="color: red;margin-right: 5px">*</span>是否MSO车辆</label>
                            </div>
                            <!--是否金融车辆-->
                            <div class="input-field col s2">
                                <select material-select watch ng-model="self_car.purchase_type" id="purchase_type">
                                    <option value="" disabled selected>请选择</option>
                                    <option ng-repeat="el in purchaseTypes" ng-value="el.id">{{el.name}}</option>
                                </select>
                                <label for="purchase_type"><span style="color: red;margin-right: 5px">*</span>是否金融车</label>
                            </div>
                        </div>
                        <div class="row">
                            <p class="col s12 min-width-2 left-align" style="color: #4e84cb" >备注:</p>
                            <div class="col s12 valign-wrapper " style="position: relative">
                                <p class=" col s12 p0" >
                                    <textarea id="look_remark" style="height: 100px" name="remark" class="col s12" ng-model="self_car.remark"></textarea>
                                </p>
                            </div>
                        </div>
                        <div class="row" style="height: 100px;overflow-y: auto">
                            <p class="col s12  left-align " style="color: #4e84cb" >操作记录:</p>
                            <div ng-repeat="el in comment" class="col s12 valign-wrapper " style="position: relative">
                                <p class=" col s12 p0" >
                                    <span class="col s12 p0">
                                        <span ng-bind="el.timez|formdate"></span>
                                        <span>
                                            操作内容：
                                        </span>
                                        <span ng-bind="el.content">

                                        </span>
                                        <span>
                                            操作员：
                                        </span>
                                        <span ng-bind="el.name">
                                            王大锤
                                        </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="divider grey lighten-1" style="height: 2px;"></div>
                    <div class="modal-footer  right-align">
                        <div  style="margin-top: 20px;" ng-show="self_car.rel_status==1">
                            <button class="btn-floating btn-large mr-10 btn waves-light waves-effect cyan lighten-1"  type="submit" name="action"  ng-click="submitForm(change_newStorage_carForm.$valid,self_car.id,self_car.r_id)">
                                <i class="mdi mdi-check"></i>
                            </button>
                            <a class="btn btn-large btn-floating mr-10 waves-light waves-effect yellow darken-3" ng-click="changeStorageCar(self_car.storage_id,self_car.area_id,self_car.id)">
                                <i class="mdi mdi-rotate-left"></i>
                            </a>
                            <a class="btn btn-floating  btn-large waves-light waves-effect red lighten-2" ng-click="outStorage(self_car.r_id,self_car.p_id,self_car.storage_id,self_car.id)">
                                <i class="mdi mdi-logout "></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>

            <!--车辆相片的详细信息-->
            <div id="lookCarImg" class="col s12 tab_box">

                <ul class="collapsible" data-collapsible="accordion" collapsible>
                    <li>
                        <div class="collapsible-header" ng-click="getCarImage('carImage')">车辆照片</div>
                        <div class="collapsible-body">
                            <div class="row no-marBottom">
                                <div class="col s12 valign-wrapper " >
                                    <div class="storage_car_picture_wrap col s12 p0" >
                                        <form name="uploadImageForm" class="uploadImageForm">
                                            <div class="storage_car_picture col vc-center p0 white-text cyan lighten-1" style="width:19%;">
                                                <input name="image" type="file" onchange="angular.element(this).scope().uploadImage(this, 'carImage')" max_size="4M">
                                                <i class="mdi mdi-instagram"></i>
                                            </div>
                                            <ul id="lookCarImage">
                                                <li ng-repeat="el in car_imageBox" ng-mouseenter="show=true" ng-mouseleave="show=false"  ng-click="showImgByViewer('carImage')"
                                                    class="storage_car_picture col vc-center p0 grey white-text" style="width:19%;">
                                                    <img ng-src="{{el.src}}"  class="responsive-img">
                                                    <b class="img_close vc-center" ng-click="deleteImg(el.record_id,el.src,'carImage')"><i class="mdi mdi-close"></i></b>
                                                    <p class="img_date white-text center-align" ng-show="show" ng-cloak>{{el.user}}上传于{{el.time|date:'yyyy-MM-dd HH:mm:ss'}}</p>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" ng-click="getCarImage('storageImage')">仓储照片</div>
                        <div class="collapsible-body">
                            <div class="row no-marBottom">
                                <div class="col s12 valign-wrapper " >
                                    <div class="storage_car_picture_wrap col s12 p0" >
                                        <form name="uploadImageForm" class="uploadImageForm">
                                            <div class="storage_car_picture col vc-center p0 white-text cyan lighten-1" style="width:19%;">
                                                <input name="image" type="file" onchange="angular.element(this).scope().uploadImage(this, 'storageImage')" max_size="4M">
                                                <i class="mdi mdi-instagram"></i>
                                            </div>
                                            <ul id="lookStorageImage">
                                                <li ng-repeat="el in storage_imageBox" ng-mouseenter="show=true" ng-mouseleave="show=false"  ng-click="showImgByViewer('storageImage')"
                                                    class="storage_car_picture col vc-center p0 grey white-text" style="width:19%;">
                                                    <img ng-src="{{el.src}}"  class="responsive-img">
                                                    <b class="img_close vc-center" ng-click="deleteImg(el.record_id,el.src,'storageImage')"><i class="mdi mdi-close"></i></b>
                                                    <p class="img_date white-text center-align" ng-show="show" ng-cloak>{{el.user}}上传于{{el.time|date:'yyyy-MM-dd HH:mm:ss'}}</p>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="collapsible-header" ng-click="getCarImage('transImage')">海运照片</div>
                        <div class="collapsible-body">
                            <div class="row no-marBottom">
                                <div class="col s12 valign-wrapper " >
                                    <div class="storage_car_picture_wrap col s12 p0" >
                                        <form name="uploadImageForm" class="uploadImageForm">
                                            <div class="storage_car_picture col vc-center p0 white-text cyan lighten-1" style="width:19%;">
                                                <input name="image" type="file" onchange="angular.element(this).scope().uploadImage(this, 'transImage')" max_size="4M">
                                                <i class="mdi mdi-instagram"></i>
                                            </div>
                                            <ul id="lookTransImage">
                                                <li ng-repeat="el in trans_imageBox" ng-mouseenter="show=true" ng-mouseleave="show=false"  ng-click="showImgByViewer('transImage')"
                                                    class="storage_car_picture col vc-center p0 grey white-text" style="width:19%;">
                                                    <img ng-src="{{el.src}}"  class="responsive-img">
                                                    <b class="img_close vc-center" ng-click="deleteImg(el.record_id,el.src,'transImage')"><i class="mdi mdi-close"></i></b>
                                                    <p class="img_date white-text center-align" ng-show="show" ng-cloak>{{el.user}}上传于{{el.time|date:'yyyy-MM-dd HH:mm:ss'}}</p>
                                                </li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--钥匙存放的详细信息-->
            <div id="lookCarKey" class="col s12 tab_box" style="width: 70%; margin:0 15% " >
                <div ng-if="self_car.rel_status==1">
                    <div class="cyan row  p0 storage_position" style="height: 70px;width: 100%;padding-bottom: 5px;margin-top: 35px">
                        <div class="col s4" >
                            <div class="row input-field  white-text">
                                <select  material-select watch ng-model="getCarKeyCabinet" ng-change="changeCarKeyCabinet(getCarKeyCabinet)" required>
                                    <option value="" disabled selected style="padding-left: 5px;">请选择钥匙柜</option>
                                    <option ng-repeat="el in keyCabinetNameList"  ng-value="el.id" >{{el.key_cabinet_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="row input-field  white-text" >
                                <select material-select watch ng-model="getCarKeyCabinetArea"  ng-change="changeCarKeyCabinetArea(getCarKeyCabinetArea)" required>
                                    <option value="" disabled  selected>请选择扇区</option>
                                    <option ng-repeat="el in carKeyCabinetAreaList"  ng-value="el.id" >{{el.area_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="valign-wrapper cyan white-text right fz20" style="margin-top: 25px;margin-right:25px">
                                <span  ng-bind="keyCabinetRow"></span>
                                <span>排</span>
                                <span  ng-bind="keyCabinetCol"></span>
                                <span>列</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="flag==true">
                        <div ng-if="show==false" disabled></div>
                        <div ng-if="show==true" class="garageWrap">
                            <div class="garageBox">
                                <div class=" col s12 garage_list p0" >
                                    <div class="garage_row vc-center left"></div>
                                    <div class="garage_row vc-center left" ng-repeat="el in carKeyCabinetParkingCol">
                                        {{el.col}}
                                    </div>
                                </div>
                                <div class="col s12  garage_list p0"  ng-repeat="el in carKeyCabinetParkingArray" >
                                    <div class="garage_row vc-center left">{{$index+1}}</div>
                                    <div class="garage_row vc-center left" ng-repeat="els in el.col track by $index" ng-class="{'present_place':els.carId==keyCabinetId}">
                                        <i ng-show="els.carId!=0" class=" mdi  mdi-key-variant cyan-text lighten-1" ng-click="noMoveCarKey(els.id,el.row,els.col)"></i>
                                        <i ng-show="els.carId==0" class=" mdi mdi-key-variant grey-text lighten-2" ng-click="moveCarKey(els.id,el.row,els.col)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="flag==false">
                        <div class="row fz20 vc-center" style="height: 300px;">
                            <i class="mdi mdi-alert-circle-outline" style="color: red;font-size: 30px"></i>
                            <span style="color: grey">该钥匙不在仓库中！</span>
                        </div>
                        <div class="divider"></div>
                    </div>
                </div>
               <div ng-if="self_car.rel_status==2">
                   <div class="row fz20 vc-center" style="height: 500px;">
                       <i class="mdi mdi-alert-circle-outline" style="color: red;font-size: 30px"></i>
                       <span style="color: grey">该钥匙不在仓库中！</span>
                   </div>
                   <div class="divider"></div>
                   <button class="btn btn-floating waves-light waves-effect  cyan lighten-1" ng-click="return()" name="action" style="margin-left: 80%;margin-top: 25px">
                       <i class="mdi mdi-check"></i>
                   </button>
               </div>
            </div>
        </div>
    </div>
</div>