<!--仓储车辆信息详情-->
<div id="look_StorageCar" >
    <div class="modal-content grey-text text-darken-2">

        <!--标题头：仓储车辆信息-->
        <div class="storage_storeTitle vc-center ">

            <!--返回按钮-->
            <a class=" storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light " ng-click="return()">
                <i class="mdi mdi-arrow-left-bold"></i>
            </a>

            <!--标题-->
            <h4 class="center-align cyan-text text-lighten-1">仓储车辆信息</h4>
        </div>

        <!--按键切换以及详情  基本信息   车辆照片-->
        <div class="row no-marBottom" ul-tabs>
            <div class="col s12 p0">

                <!--按键切换  基本信息   车辆照片-->
                <ul class="tabWrap grey lighten-4 ">
                    <li class="tab col s4 look_msg     vc-center"  ng-click="lookMsg()">基本信息</li>
                    <li class="tab col s4 look_car_img vc-center"  ng-click="lookCarImg()">车辆照片</li>
                    <li class="tab col s4 look_car_key vc-center"  ng-click="lookCarKey()">钥匙存放</li>
                </ul>
            </div>

            <!--基本信息的详细信息-->
            <div id="lookMsg" class="col s12 tab_box" style="width: 95%; margin:0 2% ">
                <form name="change_newStorage_carForm" style="color:#616161"  novalidate>
                    <div class="row" style="margin-top: 20px;">
                        <div class="row">
                            <div class="col s4 valign-wrapper " style="padding: 0" ng-class="{ 'has-error':change_newStorage_carForm.look_win.$invalid&&submitted }">
                                <div class="input-field col s12">
                                    <input  id="look_win" name="look_win" autocomplete="off" ng-model="self_car.vin" type="text" disabled   required >
                                    <label for="look_win" ><span style="color: red">*</span>VIN码</label>
                                </div>
                            </div>
                            <div class="col s4 valign-wrapper ">
                                <div class="input-field col s12">
                                    <select material-select watch  id="look_makecarName"   ng-change="changeMakeId(self_car.make_id)" ng-model="self_car.make_id" >
                                        <option value="" disabled selected>请选择</option>
                                        <option ng-repeat="el in makecarName" ng-value="el.id" >{{el.make_name}}</option>
                                    </select>
                                    <label for="look_makecarName" >制造商</label>
                                </div>
                            </div>
                            <div class="col s4 valign-wrapper ">
                                <div class="input-field col s12">
                                    <select material-select watch name="look_model_name" id="look_model_name"   ng-model="self_car.model_id"  >
                                        <option value="" disabled selected>请选择</option>
                                        <option  ng-repeat="el in carModelName" ng-value="el.id">{{el.model_name}}</option>
                                    </select>
                                    <label for="look_model_name" >型号</label>
                                </div>
                            </div>
                        </div>
                        <div class="row "  >
                            <div class="col s4 valign-wrapper p0" style="position: relative ;">
                                <div class="input-field col s12">
                                    <input type="text" id="look_create_time" form-date   name="look_create_time" class="datepicker" autocomplete="off" ng-model="look_create_time"    date><i class="mdi dataIcon mdi-table-large"></i>
                                    <label for="look_create_time" >生产日期</label>
                                </div>
                            </div>
                            <div class="col s4 valign-wrapper">
                                <div class="input-field col s12">
                                    <select material-select watch id="look_car_color" name="look_car_color" class="" ng-model="self_car.colour" >
                                        <option value="" disabled selected>请选择</option>
                                        <option ng-repeat="el in color" ng-value="el.colorId" >{{el.colorName}}</option>
                                    </select>
                                    <label for="look_car_color" >颜色</label>
                                </div>
                            </div>
                            <div class="col s4 valign-wrapper ">
                                <div class="input-field col s12">
                                    <input  id="look_engineNum" name="look_engineNum" autocomplete="off" ng-model="self_car.engine_num" type="text"    >
                                    <label for="look_engineNum" >发动机号</label>
                                </div>
                            </div>
                        </div>
                        <div ng-if="self_car.rel_status==1" class="row ">
                            <div class="col s4 valign-wrapper p0" >
                                <div class="input-field col s12">
                                    <input  id="look_storageName"  name="look_storageName"  autocomplete="off" disabled ng-model="look_storageName" class=" red-text text-lighten-2" type="text"   required >
                                    <label for="look_storageName" ><span style="color: red">*</span>存放位置</label>
                                </div>
                            </div>
                            <div class="col s4 valign-wrapper ">
                                <div class="input-field col s12">
                                    <input  id="look_enter_time" form-date name="look_enter_time" autocomplete="off" disabled ng-model="self_car.enter_time" type="text"   required class="datepicker " date><i class="mdi dataIcon mdi-table-large"></i>
                                    <label for="look_enter_time" ><span style="color: red">*</span> 入库时间</label>
                                </div>

                            </div>
                            <div class="col s4 valign-wrapper ">
                                <div class="input-field col s12">
                                    <input  id="look_plan_out_time" form-date name="look_plan_out_time" autocomplete="off" ng-model="self_car.plan_out_time" type="text"   required class="datepicker " date><i class="mdi dataIcon mdi-table-large"></i>
                                    <label for="look_plan_out_time" ><span style="color: red">*</span>计划出库时间</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <!--委托方-->
                            <div class="input-field col s4">
                                <select material-select watch id="entrustId" name="entrustId" ng-model="self_car.entrust_id" >
                                    <option ng-value="" disabled selected>请选择</option>
                                    <option ng-repeat="el in getEntrust"  ng-value="el.id" >{{el.short_name}}</option>
                                </select>
                                <label for="entrustId">委托方</label>
                            </div>
                            <!--车辆估值-->
                            <div class="input-field col s4">
                                <input  id="carValuation" name="carValuation"  ng-model="self_car.valuation" type="number"    >
                                <label for="carValuation">车辆估值(美元)</label>
                            </div>
                            <!--MSO车辆-->
                            <div class="input-field col s4">
                                <select material-select watch id="MSO" name="MSO"  ng-model="self_car.mso_status" >
                                    <option ng-value="" disabled selected>请选择</option>
                                    <option ng-value="2">是</option>
                                    <option ng-value="1">否</option>
                                </select>
                                <label for="MSO">是否MSO车辆</label>
                            </div>
                        </div>
                        <div class="row">
                            <p class="col s12 min-width-2 left-align" style="color: #26c6da" ><span style="color: red">*</span>备注:</p>
                            <div class="col s12 valign-wrapper " style="position: relative">
                                <p class=" col s12 p0" >
                                    <textarea id="look_remark" style="height: 100px" name="remark" class="col s12" ng-model="self_car.remark"></textarea>
                                </p>
                            </div>
                        </div>
                        <div class="row" style="height: 100px;overflow-y: auto">
                            <p class="col s12  left-align " style="color: #26c6da" ><span style="color: red">*</span>操作记录:</p>
                            <div ng-repeat="el in comment" class="col s12 valign-wrapper " style="position: relative">
                                <p class=" col s12 p0" >
                                    <span class="col s12 p0">
                                        <span ng-bind="el.timez|formdate"></span>
                                        <span>
                                            操作内容：
                                        </span>
                                        <span ng-bind="el.content">

                                        </span>
                                        <span>
                                            操作员：
                                        </span>
                                        <span ng-bind="el.name">
                                            王大锤
                                        </span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="divider grey lighten-1" style="height: 2px;"></div>
                    <div class="modal-footer  right-align">
                        <div  style="margin-top: 20px;" ng-show="self_car.rel_status==1">
                            <button class="btn-floating btn-large mr-10 btn waves-light waves-effect cyan lighten-1"  type="submit" name="action"  ng-click="submitForm(change_newStorage_carForm.$valid,self_car.id,self_car.r_id)">
                                <i class="mdi mdi-check"></i>
                            </button>
                            <a class="btn btn-large btn-floating mr-10 waves-light waves-effect yellow darken-3" ng-click="changeStorageCar(self_car.storage_id,self_car.id,self_car.row,self_car.col)">
                                <i class="mdi mdi-rotate-left"></i>
                            </a>
                            <div id="change_storageCar" class="modal ">
                                <form name="look_garageForm" >
                                    <div class="modal-content">
                                        <h4 class="center-align">车辆移位</h4>
                                        <div class="divider"></div>
                                        <div class=" col s12 garageWrapTitle vc-center">
                                            <div class="col s8">
                                                <div class="col s4">停放车辆
                                                    <i class="mdi mdi-car cyan-text lighten-1"></i>
                                                </div>
                                                <div class="col s4">临近出库车辆
                                                    <i class=" mdi mdi-car red-text accent-1"></i>
                                                </div>
                                                <div class="col s4">未停放车辆
                                                    <i class=" mdi mdi-car  grey-text lighten-1 "></i>
                                                </div>
                                            </div>
                                            <div class="col s4">
                                                <div class="col s6">
                                                    当前位置
                                                    <span class="red-text" ng-bind="now_row"></span>
                                                    <span>排</span>
                                                    <span class="red-text" ng-bind="now_col"></span>
                                                    <span>列</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="garageWrap">
                                                <div class="garageBox ">
                                                    <div class=" col s12 garage_list p0" >
                                                        <div class="garage_row vc-center left"></div>
                                                        <div class="garage_row vc-center left" ng-repeat="el in ageParkingCol">
                                                            {{el.col}}
                                                        </div>
                                                    </div>
                                                    <div class="col s12  garage_list p0"  ng-repeat="el in garageParkingArray" >
                                                        <div class="garage_row vc-center left">{{$index+1}}</div>
                                                        <div class="garage_row vc-center left" ng-repeat="els in el.col track by $index" ng-class="{'present_place':el.row==now_row&&els.col==now_col}">
                                                            <i ng-show="els.carId!=0&&els.plan_time==true" class=" mdi mdi-car red-text accent-1 "></i>
                                                            <i ng-show="els.carId!=0&&els.plan_time==false" class=" mdi mdi-car cyan-text lighten-1"></i>
                                                            <i ng-show="els.carId==0" class=" mdi mdi-car grey-text lighten-2 " ng-click="moveParking(els.id,el.row,els.col)"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <a class="btn btn-floating  btn-large waves-light waves-effect red lighten-2" ng-click="outStorage(self_car.r_id,self_car.p_id,self_car.storage_id,self_car.id)">
                                <i class="mdi mdi-logout "></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>

            <!--车辆相片的详细信息-->
            <div id="lookCarImg" class="col s12 tab_box">
                <div class="row no-marBottom">
                    <div class="col s12 valign-wrapper " >
                        <div class="storage_car_picture_wrap col s12 p0" >
                            <form name="uploadImageForm" class="uploadImageForm">
                                <div class="storage_car_picture col s2 vc-center  p0  white-text cyan lighten-1">
                                    <input name="image" type="file" onchange="angular.element(this).scope().uploadBrandImage(this)" max_size="4M">
                                    <i class="mdi mdi-instagram"></i>
                                </div>
                                <ul id="lookImg" >
                                    <li ng-repeat="el in storage_imageBox" ng-mouseenter="show=true" ng-mouseleave="show=false"  ng-click="renderFinish()" class="storage_car_picture col s2 vc-center  p0 grey white-text">
                                        <img ng-src="{{el.src}}"  class="responsive-img">
                                        <b class="img_close vc-center" ng-click="deleteImg(el.record_id,el.src)"><i class="mdi mdi-close"></i></b>
                                        <p class="img_date white-text center-align" ng-show="show" ng-cloak>{{el.user}}上传于{{el.time|date:'yyyy-MM-dd hh:mm:ss'}}</p>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--钥匙存放的详细信息-->
            <div id="lookCarKey" class="col s12 tab_box" style="width: 70%; margin:0 15% " >
                <div ng-if="self_car.rel_status==1">
                    <div class="cyan row  p0 storage_position" style="height: 70px;width: 100%;padding-bottom: 5px;margin-top: 35px">
                        <div class="col s4" >
                            <div class="row input-field  white-text">
                                <select  material-select watch ng-model="getCarKeyCabinet" ng-change="changeCarKeyCabinet(getCarKeyCabinet)" required>
                                    <option value="" disabled selected style="padding-left: 5px;">请选择钥匙柜</option>
                                    <option ng-repeat="el in keyCabinetNameList"  ng-value="el.id" >{{el.key_cabinet_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="row input-field  white-text" >
                                <select material-select watch ng-model="getCarKeyCabinetArea"  ng-change="changeCarKeyCabinetArea(getCarKeyCabinetArea)" required>
                                    <option value="" disabled  selected>请选择扇区</option>
                                    <option ng-repeat="el in carKeyCabinetAreaList"  ng-value="el.id" >{{el.area_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col s4">
                            <div class="valign-wrapper cyan white-text right fz20" style="margin-top: 25px;margin-right:25px">
                                <span  ng-bind="keyCabinetRow"></span>
                                <span>排</span>
                                <span  ng-bind="keyCabinetCol"></span>
                                <span>列</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="flag==true">
                        <div ng-if="show==false" disabled></div>
                        <div ng-if="show==true" class="garageWrap">
                            <div class="garageBox">
                                <div class=" col s12 garage_list p0" >
                                    <div class="garage_row vc-center left"></div>
                                    <div class="garage_row vc-center left" ng-repeat="el in carKeyCabinetParkingCol">
                                        {{el.col}}
                                    </div>
                                </div>
                                <div class="col s12  garage_list p0"  ng-repeat="el in carKeyCabinetParkingArray" >
                                    <div class="garage_row vc-center left">{{$index+1}}</div>
                                    <div class="garage_row vc-center left" ng-repeat="els in el.col track by $index" ng-class="{'present_place':els.carId==keyCabinetId}">
                                        <i ng-show="els.carId!=0" class=" mdi  mdi-key-variant cyan-text lighten-1" ng-click="noMoveCarKey(els.id,el.row,els.col)"></i>
                                        <i ng-show="els.carId==0" class=" mdi mdi-key-variant grey-text lighten-2" ng-click="moveCarKey(els.id,el.row,els.col)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="flag==false">
                        <div class="row fz20 vc-center" style="height: 300px;">
                            <i class="mdi mdi-alert-circle-outline" style="color: red;font-size: 30px"></i>
                            <span style="color: grey">该钥匙不在仓库中！</span>
                        </div>
                        <div class="divider"></div>
                    </div>
                </div>
               <div ng-if="self_car.rel_status==2">
                   <div class="row fz20 vc-center" style="height: 500px;">
                       <i class="mdi mdi-alert-circle-outline" style="color: red;font-size: 30px"></i>
                       <span style="color: grey">该钥匙不在仓库中！</span>
                   </div>
                   <div class="divider"></div>
                   <button class="btn btn-floating waves-light waves-effect  cyan lighten-1" ng-click="return()" name="action" style="margin-left: 80%;margin-top: 25px">
                       <i class="mdi mdi-check"></i>
                   </button>
               </div>
            </div>
        </div>
    </div>
</div>