<!-- 主菜单：仓储管理 -> 订单管理(订单详情) 画面 -->

<!-- 返回前画面 按钮 -->
<div class="" style="position: relative">
    <a class="storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light" ng-click="return()">
        <i class="mdi mdi-arrow-left-bold"></i>
    </a>
    <h4 class="center-align cyan-text text-lighten-1">订单详情</h4>
</div>

<!-- 分割线 -->
<div class="row">
    <div class="divider" style="background: #00bcd4;height: 2px"></div>
</div>

<!-- 订单编号 -->
<div class="row cyan-text" style="width: 95%;margin: 0 auto;">
    <div class="col s12">
        <div class="col s6">
            订单编号：
        </div>
        <div class="col s6 right-align" ng-class="{'red-text':orderInfo.orderStatus == 1}">
            {{payStatusList[orderInfo.orderStatus-1].name}}
        </div>
    </div>
</div>


<!-- 车辆信息 -->
<div class="row blue-grey lighten-5" style="width: 95%;border:1px solid #bdbdbd;margin-top: 10px;">
    <!-- header -->
    <div class="col s12 lighten-1 cyan-text vc-center" style="height:50px;">
        <div class="col s12">
            车辆信息
        </div>
    </div>
    <!-- body -->
    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
        <div class="col s3 cyan-text">
            委托方：{{orderInfo.entrustName}}
        </div>
        <div class="col s3">
            VIN码：{{orderInfo.vin}}
        </div>
        <div class="col s3">
            车型：{{orderInfo.makeName}}/{{orderInfo.modelName}}
        </div>
        <div class="col s3">
            颜色：{{orderInfo.color}}
        </div>
    </div>
</div>

<!-- 仓储信息 -->
<div class="row blue-grey lighten-5" style="width: 95%;border:1px solid #bdbdbd;margin-top: 20px;">
    <!-- header -->
    <div class="col s12 lighten-1 cyan-text vc-center" style="height:50px;">
        <div class="col s12">
            仓储信息
        </div>
    </div>

    <!-- body -->
    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
        <div class="input-field col s4">
            入库时间：{{orderInfo.enterTime |date:'yyyy-MM-dd hh:mm:ss'}}
        </div>
        <div class="input-field col s4">
            出库时间：{{orderInfo.realOutTime |date:'yyyy-MM-dd hh:mm:ss'}}
        </div>
        <div class="input-field col s4">
            合计天数：{{orderInfo.dayCount}}
        </div>
    </div>

    <div class="col s12 white">
        <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;"></div>
    </div>

    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:60px;">
        <div class="col s4">
            预计支付(美元)：<span class="red-text">{{orderInfo.planFee | currency}}</span>
        </div>
        <div class="col s4">
        </div>
        <div class="col s4">
            实际应付(美元)：<span class="red-text">{{orderInfo.actualFee | currency}}</span>
        </div>
    </div>
</div>

<!-- [修改价格] [支付] 按钮 -->
<div ng-show="orderInfo.orderStatus==1" class="row" style="width: 95%;margin-top: 20px;">

    <!-- body -->
    <div class="col s12 lighten-1 vc-center fz15" style="height:50px;">
        <div class="col s6 right-align">
            <a ng-click="openChangePriceDiv()" style="width: 150px;" class="waves-light waves-effect amber darken-2 btn">修改价格</a>
        </div>
        <div class="col s6 left-align">
            <a ng-click="openPaymentInfoDiv()" style="width: 150px;" class="waves-light waves-effect cyan lighten-1 btn">支付</a>
        </div>
    </div>
</div>

<!-- 关联仓储订单 -->
<div ng-show="orderInfo.orderStatus==2 && relOrderList.length > 0" class="row blue-grey lighten-5" style="width: 95%;border:1px solid #bdbdbd;margin-top: 20px;">
    <!-- header -->
    <div class="col s12 lighten-1 cyan-text vc-center" style="height:50px;">
        <div class="col s6">
            关联仓储订单
        </div>
        <div class="col s6 right-align">
            <a ng-click="openAssociatedOrder()" style="width: 220px;" class="waves-light waves-effect cyan lighten-1 btn">查看关联的仓储订单</a>
        </div>
    </div>

    <!-- body -->
    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
        <div class="col s4">
            预计支付(美元)：<span style="color: red">{{totalPlanFee | currency}}</span>

        </div>
        <div class="col s4">
        </div>
        <div class="col s4">
            实际应付(美元)：<span style="color: red">{{totalActualFee | currency}}</span>
        </div>
    </div>
</div>


<!-- 支付编号 -->
<div ng-show="orderInfo.orderStatus==2" class="row blue-grey lighten-5" style="width: 95%;border:1px solid #bdbdbd;margin-top: 20px;">
    <!-- header -->
    <div class="col s12 lighten-1 cyan-text vc-center" style="height:50px;">
        <div class="col s12">
            支付编号：{{paymentInfo.id}}
        </div>
    </div>

    <!-- body -->
    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
        <div class="input-field col s4">
            支付方式：{{paymentMethodList[paymentInfo.paymentType-1].name}}
        </div>
        <div class="input-field col s4">
            编号：{{paymentInfo.number}}
        </div>
        <div class="input-field col s4">
            支付金额(美元)：<span style="color: red">{{paymentInfo.paymentMoney | currency}}</span>
        </div>
    </div>

    <div class="col s12 white">
        <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;"></div>
    </div>

    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
        <div class="col s12">
            支付描述：{{paymentInfo.remark}}
        </div>
    </div>

    <div class="col s12 white">
        <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 2px;"></div>
    </div>

    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:40px;">
        <div class="col s6">
            操作员：{{paymentInfo.paymentUserName}}
        </div>
        <div class="col s6 right-align">
            支付时间：{{paymentInfo.paymentEndDate | date:'yyyy-MM-dd HH:mm:ss'}}
        </div>
    </div>

    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:40px;">
        <div class="col s12 red-text">
            * 若修改支付信息，请到支付详情页面执行相关操作！
        </div>
    </div>
</div>

<!-- 画面【关联仓储订单】 模态框 -->
<div class="row" style="margin: 0">
    <div id="associatedOrderInfoDiv" class="modal" style="width: 45%;height: 520px">
        <div class="modal-content center fz20" style="font-weight: 500;padding: 0">

            <!-- 显示画面【关联仓储订单】 Header -->
            <div class="col s12 vc-center cyan"
                 style="color: white;letter-spacing:1px;font-weight: bold;height: 50px;">
                <p>关联仓储订单</p>
            </div>

            <!-- 显示画面【钥匙信息】 Body -->
            <div class="row col s12" style="height: 322px;">
                <!-- 下部分：检索结果显示区域 -->
                <div class="col s12">
                    <table class="bordered fz14">
                        <thead>
                        <tr class="grey-text text-darken-2">
                            <th data-field="">订单编号</th>
                            <th data-field="">VIN码</th>
                            <th data-field="">车型</th>
                            <th data-field="">入库时间</th>
                            <th data-field="">出库时间</th>
                            <th data-field="">合计天数</th>
                            <th data-field="">预计支付<br><span style="margin-left: 12px;font-size: 12px;">(美元)</span></th>
                            <th data-field="">实际支付<br><span style="margin-left: 12px;font-size: 12px;">(美元)</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="el in relOrderList" class="grey-text text-darken-1">
                            <!-- 订单编号 -->
                            <td>{{el.id}}</td>
                            <!-- VIN码 -->
                            <td ng-bind="el.vin"></td>
                            <!-- 车型 -->
                            <td>{{el.make_name==null ? '未知' : el.make_name}}/{{el.model_name==null ? '未知' : el.model_name}}</td>
                            <!-- 入库时间 -->
                            <td ng-bind="el.enter_time|date:'yyyy-MM-dd HH:mm:ss'"></td>
                            <!-- 出库时间-->
                            <td ng-bind="el.real_out_time|date:'yyyy-MM-dd HH:mm:ss'"></td>
                            <!-- 合计天数 -->
                            <td>{{el.day_count}}</td>
                            <!-- 预计支付(美元) -->
                            <td>{{el.plan_fee | currency}}</td>
                            <!-- 实际支付(美元) -->
                            <td><span style="color: red">{{el.actual_fee | currency}}</span></td>
                        </tr>
                        <tr class="grey-text text-darken-1" ng-if="orderList.length == 0">
                            <td colspan="11" style="letter-spacing: 2px;text-align: center;">暂无数据</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col s12 lighten-1 blue-grey-text vc-center fz13" style="height:40px;">
                <div class="col s6 left-align">
                    预计支付(美元)：<span style="color: red">{{totalPlanFee | currency}}</span>
                </div>
                <div class="col s6 right-align">
                    实际应付(美元)：<span style="color: red">{{totalActualFee | currency}}</span>
                </div>
            </div>

            <div class="divider col s12" style="margin-top: 5px;"></div>

            <div class="row col right-align" style="width: 96%;margin-top: 20px;">
                <button class="btn-floating modal-action modal-close waves-effect waves-light cyan lighten-1 btn">
                    <i class="mdi mdi-check add_brand"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 画面【支付信息】 模态框 -->
<div class="row" style="margin: 0">
    <div id="paymentInfoDiv" class="modal" style="width: 45%;height: 600px" ng-class="{ 'payment-height':otherOrderList}" >
        <div class="modal-content center fz20" style="font-weight: 500;padding: 0">

            <!-- 显示画面【支付信息】 Header -->
            <div class="col s12 vc-center cyan"
                 style="color: white;letter-spacing:1px;font-weight: bold;height: 50px;">
                <p>支付信息</p>
            </div>

            <!-- 仓储信息 -->
            <div class="col s12 vc-center">

                <div class="blue-grey lighten-5" style="width: 95%;border:1px solid #bdbdbd;margin-top: 20px;">
                    <!-- header -->
                    <div class="col s12 lighten-1 cyan-text vc-center fz16" style="height:40px;">
                        <div class="col s12 left-align">
                            仓储信息
                        </div>
                    </div>

                    <!-- body -->
                    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:40px;">
                        <div class="col s4 left-align">
                            入库时间：{{orderInfo.enterTime |date:'yyyy-MM-dd hh:mm:ss'}}
                        </div>
                        <div class="col s4 left-align">
                            出库时间：{{orderInfo.realOutTime |date:'yyyy-MM-dd hh:mm:ss'}}
                        </div>
                        <div class="col s4 left-align">
                            合计天数：{{orderInfo.dayCount}}
                        </div>
                    </div>

                    <div class="col s12 white">
                        <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 5px;"></div>
                    </div>

                    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
                        <div class="col s4 left-align">
                            预计支付(美元)：<span class="red-text">{{orderInfo.planFee | currency}}</span>
                        </div>
                        <div class="col s4">
                        </div>
                        <div class="col s4 left-align">
                            实际应付(美元)：<span class="red-text">{{orderInfo.actualFee | currency}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 关联其他订单 区域 -->
            <div ng-show="!otherOrderList" class="row col right-align fz15" style="width: 96%;margin-top: 20px;">
                <div class="col s12 right-align">
                    <a ng-click="openOtherOrderList()" style="width: 220px;" class="waves-light waves-effect cyan lighten-1 btn">关联其他订单</a>
                </div>
            </div>

            <div ng-show="otherOrderList" class="row">
                <div class="col s12 left-align cyan-text fz16" style="margin-top:20px; padding-left: 50px;">
                        关联订单
                </div>
                <div class="col" style="width:98%;">
                    <div class="divider s11 center" style="width:98%; margin-left: 20px;margin-right: 10px;margin-top: 10px;"></div>
                </div>
            </div>

            <div ng-show="otherOrderList" class="col s12 vc-center" >

                <!-- 显示画面【】 Body -->
                <div class="col s12">
                    <!-- 下部分：检索结果显示区域 -->
                    <div class="row col s12" style="height:200px;overflow-y: auto;">
                        <table class="bordered fz13">
                            <thead>
                            <tr class="grey-text text-darken-2">
                                <th data-field="">
                                    <input type="checkbox" id="orderChk" class="filled-in" ng-checked="isSelectedAllRelOrder()" ng-click="selectAllRelOrder($event)"/>
                                    <label for="orderChk"></label>
                                </th>
                                <th data-field="">订单编号</th>
                                <th data-field="">VIN码</th>
                                <th data-field="">车型</th>
                                <th data-field="">入库时间</th>
                                <th data-field="">出库时间</th>
                                <th data-field="">合计天数</th>
                                <th data-field="">预计支付(美元)</span></th>
                                <th data-field="">实际支付(美元)</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="el in relOrderList" class="grey-text text-darken-1">
                                <!-- 订单编号 -->
                                <td>
                                    <input type="checkbox" id="{{el.id}}" class="filled-in" ng-checked="isRelOrderSelected(el.id)" ng-click="clickRelOrder($event,el.id,el.plan_fee,el.actual_fee)" />
                                    <label for="{{el.id}}"></label>
                                </td>
                                <!-- 订单编号 -->
                                <td>{{el.id}}</td>
                                <!-- VIN码 -->
                                <td ng-bind="el.vin"></td>
                                <!-- 车型 -->
                                <td>{{el.make_name==null ? '未知' : el.make_name}}/{{el.model_name==null ? '未知' : el.model_name}}</td>
                                <!-- 入库时间 -->
                                <td ng-bind="el.enter_time|date:'yyyy-MM-dd HH:mm:ss'"></td>
                                <!-- 出库时间-->
                                <td ng-bind="el.real_out_time|date:'yyyy-MM-dd HH:mm:ss'"></td>
                                <!-- 合计天数 -->
                                <td>{{el.day_count}}</td>
                                <!-- 预计支付(美元) -->
                                <td>{{el.plan_fee | currency}}</td>
                                <!-- 实际支付(美元) -->
                                <td><span style="color: red">{{el.actual_fee | currency}}</span></td>
                            </tr>
                            <tr class="grey-text text-darken-1" ng-if="orderList.length == 0">
                                <td colspan="9" style="letter-spacing: 2px;text-align: center;">暂无数据</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div ng-show="otherOrderList" class="col s11 lighten-1 blue-grey-text vc-center fz13" style="margin-left:30px;height:30px;">
                <div class="col s6 left-align">
                    预计支付(美元)：<span style="color: red">{{totalPlanFee | currency}}</span>
                </div>
                <div class="col s6 right-align">
                    实际应付(美元)：<span style="color: red">{{totalActualFee | currency}}</span>
                </div>
            </div>

            <!-- 支付信息 -->
            <div class="col s12 vc-center">
                <div class="row blue-grey lighten-5" style="width: 95%;border:1px solid #bdbdbd;margin-top: 20px;">
                    <!-- header -->
                    <div class="col s12 lighten-1 cyan-text vc-center fz16" style="height:50px;">
                        <div class="col s9 left-align">
                            支付信息
                        </div>
                        <div class="col s3 left-align">
                            委托方：{{orderInfo.entrustName}}
                        </div>
                    </div>

                    <!-- body -->
                    <div class="col s12 lighten-1 white grey-text vc-center">
                        <div class="input-field col s4 left-align">
                            <select material-select watch ng-model="paymentInfo.paymentType">
                                <option value="" selected>支付方式</option>
                                <option ng-repeat="el in paymentMethodList" ng-value="el.id">{{el.name}}</option>
                            </select>
                        </div>
                        <div class="input-field col s4 left-align">
                            <input type="text" id="invoiceNoText" ng-model="paymentInfo.number">
                            <label for="invoiceNoText">票号</label>
                        </div>
                        <div class="input-field col s4 left-align">
                            <input type="text" id="paymentText" ng-model="paymentInfo.paymentMoney">
                            <label for="paymentText">付款金额(美元)</label>
                        </div>
                    </div>

                    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="padding-bottom: 20px;">
                        <div class="input-field col s12 left-align">
                            <input type="text" id="paymentMemoText" ng-model="paymentInfo.remark">
                            <label for="paymentMemoText">支付描述</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col right-align fz15" style="width: 96%;margin-top: 10px;">
                <!-- 取消 按钮 -->
                <div class="col s6 right-align">
                    <a style="width: 150px;" class="modal-action modal-close waves-light waves-effect grey lighten-1 btn">取消</a>
                </div>
                <!-- 支付 按钮 -->
                <div class="col s6 left-align">
                    <a ng-click="orderPayment()" style="width: 150px;" class="waves-light waves-effect cyan lighten-1 btn">支付</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 画面【修改价格】 模态框 -->
<div class="row" style="margin: 0">
    <div id="changePriceDiv" class="modal" style="width: 45%;height: 520px">
        <div class="modal-content center fz20" style="font-weight: 500;padding: 0;">

            <!-- 显示画面【修改价格】 Header -->
            <div class="row col s12 vc-center cyan"
                 style="color: white;letter-spacing:1px;font-weight: bold;height: 50px;">
                <p>修改价格</p>
            </div>

            <!-- 显示画面【钥匙信息】 Body -->
            <div class="row col s11"
                 style="padding:0 ;margin: 10px 0px 10px 40px ; border: 1px solid #cccccc;  background-color: #F5F5F5">
                <div style="margin: 0 auto;">

                    <!-- 钥匙 车辆信息 -->
                    <div class="vc-center col s12 left-align cyan-text fz20 lighten-4"
                         style="height:60px;">
                        <div class="col s12 left-align context-ellipsis">
                            <span>委托方：{{orderInfo.entrustName}}</span>
                        </div>
                    </div>

                    <div class="vc-center col s12">
                        <div class="divider s12 center" style="width:100%; margin-left: 10px;margin-right: 10px;"></div>
                    </div>

                    <!-- 钥匙 vin 制造商 型号 -->
                    <div class="vc-center col s12 left-align black-text fz14" style="height:50px ;">
                        <div class="col s6 left-align context-ellipsis">
                            <span>VIN：{{orderInfo.vin}}</span>
                        </div>
                        <div class="col s6 left-align context-ellipsis">
                            <span>车型：{{orderInfo.makeName==null ? '未知' : orderInfo.makeName}}/{{orderInfo.modelName==null ? '未知' : orderInfo.modelName}}</span>
                        </div>
                    </div>

                    <!--<div class="vc-center col s12">-->
                    <!--<div class="divider s12 center" style="width:100%; margin-left: 10px;margin-right: 10px;"></div>-->
                    <!--</div>-->
                    <div class="vc-center col s12">
                        <div style="border-top: #cccccc 1px dashed; overflow: hidden;width:100%; margin-left: 10px;margin-right: 10px;height: 1px"></div>
                    </div>

                    <!-- 钥匙 存放位置 -->
                    <div class="vc-center col s12 left-align black-text fz14" style="height:50px;">
                        <div class="col s6 left-align context-ellipsis">
                            <span>入库时间：{{orderInfo.enterTime |date:'yyyy-MM-dd hh:mm:ss'}}</span>
                        </div>
                        <div class="col s6 left-align context-ellipsis">
                            <span>出库时间：{{orderInfo.realOutTime |date:'yyyy-MM-dd hh:mm:ss'}}</span>
                        </div>
                    </div>

                    <div class="vc-center col s12">
                        <div class="divider s12 center" style="width:100%; margin-left: 10px;margin-right: 10px;"></div>
                    </div>

                    <!-- 钥匙 委托方 -->
                    <div class="vc-center col s12 left-align black-text fz14" style="height:60px ;">
                        <div class="col s12 left-align context-ellipsis">
                            预计支付：<span class="red-text fz18">{{orderInfo.planFee | currency}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12">
                <!-- 实际应付 -->
                <div class="col s11 input-field" style="margin-left: 30px;">
                    <input type="text" id="actualFeeText" maxlength="8" valid-money ng-model="orderInfo.actualFee">
                    <label for="actualFeeText"><span style="color: red">* </span>实际应付：</label>
                </div>
            </div>

            <div class="divider col s12" style="margin-top: 50px;"></div>

            <div class="row col right-align" style="width: 96%;margin-top: 20px;">
                <a class="btn-floating waves-effect waves-light grey btn modal-close">
                    <i class="mdi mdi-close add_brand"></i>
                </a>

                <a class="btn-floating waves-effect waves-light cyan lighten-1 btn" style="margin-left: 20px;" ng-click="updateOrder()">
                    <i class="mdi mdi-check add_brand"></i>
                </a>
            </div>
        </div>
    </div>
</div>
