<!-- 主菜单：仓储管理 -> 订单管理(订单详情) 画面 -->

<!-- 返回前画面 按钮 -->
<div class="" style="position: relative">
    <a class="storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light" ng-click="return()">
        <i class="mdi mdi-arrow-left-bold"></i>
    </a>
    <h4 class="center-align cyan-text text-lighten-1">海运订单详情</h4>
</div>

<!-- 分割线 -->
<div class="row">
    <div class="divider" style="background: #407BC7;height: 2px"></div>
</div>

<!-- 车辆信息 -->
<div class="row blue-grey lighten-5" style="width: 80%;border:1px solid #bdbdbd;margin-top: 10px;">
    <!-- header -->
    <div class="col s12 lighten-1 cyan-text vc-center" style="height:50px;">
        <div class="col s12">
            当前车辆
        </div>
    </div>
    <!-- body -->
    <div class="col s12 lighten-1 white grey-text vc-center" style="height:50px;">
        <div class="col s4">
            VIN：{{paymentInfo.vin}}
        </div>
        <div class="col s4">
            制造商：{{paymentInfo.make_name}}
        </div>
        <div class="col s4">
            品牌：{{paymentInfo.model_name}}
        </div>
    </div>
    <div class="col s12 white">
        <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;"></div>
    </div>
    <div class="col s12 lighten-1 white grey-text vc-center" style="height:50px;">
        <div class="col s4">
            年份：{{paymentInfo.pro_date}}
        </div>
        <div class="col s4">
            车价(美元)：<span style="color: red">{{paymentInfo.valuation |number:2}}</span>
        </div>
        <div class="col s4">
            委托方：{{paymentInfo.short_name}}
        </div>
    </div>
</div>

<!-- 支付编号 -->
<div class="row blue-grey lighten-5" style="width: 80%;border:1px solid #bdbdbd;margin-top: 40px;">
    <!-- header -->
    <div class="col s12 lighten-1 cyan-text vc-center" style="height:50px;">
        <div class="col s6">
            订单编号：{{paymentInfo.id}}
        </div>
        <div class="col s6 right-align">
            <span ng-class="{'red-text':paymentInfo.order_status == 1}">{{payStatus[paymentInfo.order_status-1].name}}</span> /
            <span ng-class="{'red-text':paymentInfo.invoice_status == 1}">{{invoiceStatus[paymentInfo.invoice_status-1].name}}</span>
        </div>
    </div>

    <!-- body -->
    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
        <div class="input-field col s3">
            始发港口：{{paymentInfo.start_port_name}}
        </div>
        <div class="input-field col s3">
            目的港口：{{paymentInfo.end_port_name}}
        </div>
        <div class="input-field col s3">
            预计开船日期：{{paymentInfo.start_ship_date | date:'yyyy-MM-dd' }}
        </div>
        <div class="input-field col s3">
            实际开船日期：{{paymentInfo.actual_start_date | date:'yyyy-MM-dd' }}
        </div>
    </div>
    <div class="col s12 white">
        <div class="s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;border: 1px dotted #ccc"></div>
    </div>
    <!-- body -->
    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
        <div class="input-field col s3">
            船公司：{{paymentInfo.ship_company_name}}
        </div>
        <div class="input-field col s3">
            船名：{{paymentInfo.ship_name}}
        </div>
        <div class="input-field col s3">
            预计到港日期：{{paymentInfo.end_ship_date | date:'yyyy-MM-dd'}}
        </div>
        <div class="input-field col s3">
            实际到港日期：{{paymentInfo.actual_end_date | date:'yyyy-MM-dd'}}
        </div>
    </div>
    <div class="col s12 white">
        <div class="s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;border: 1px dotted #ccc"></div>
    </div>
    <!-- body -->
    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
        <div class="input-field col s3">
            货柜：{{paymentInfo.container}}
        </div>
        <div class="input-field col s3">
            booking：{{paymentInfo.booking}}
        </div>
        <div class="input-field col s3">
            封签：{{paymentInfo.tab}}
        </div>
        <div class="input-field col s3">
            费用(美元):<span class="red-text">{{paymentInfo.total_fee | currency}}</span>
            <i ng-show="paymentInfo.order_status == 1" class="cyan-text mdi mdi-pencil" style="position: absolute;right:20px;bottom:3px;font-size:20px;line-height: 20px;cursor: pointer" ng-click="showEditShipFeeDiv('new')"></i>
            <i ng-show="paymentInfo.order_status != 1" class="cyan-text mdi mdi-eye"    style="position: absolute;right:20px;bottom:3px;font-size:20px;line-height: 20px;cursor: pointer" ng-click="showEditShipFeeDiv('edit')"></i>
        </div>
    </div>

    <!-- 支付状态为：已支付 时，显示下列内容：支付编号，支付时间 -->
    <div ng-if="paymentInfo.order_status !== 1" class="col s12 white">
        <div class="s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;border: 1px dotted #ccc"></div>
    </div>
    <div ng-if="paymentInfo.order_status !== 1" class="col s12 lighten-1 white grey-text vc-center fz13"  style="height:50px;">
        <div class="input-field col s6 cyan-text">
            支付编号：{{paymentList.id}}
        </div>
        <div class="input-field col s6 right-align">
            支付时间：{{paymentList.created_on |date:'yyyy-MM-dd HH:mm:ss'}}
        </div>
    </div>

    <!-- 发票状态为：已开票 时，显示下列内容：开票编号，开票时间 -->
    <div ng-if="paymentInfo.invoice_status == 2" class="col s12 white">
        <div class="s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;border: 1px dotted #ccc"></div>
    </div>
    <div ng-if="paymentInfo.invoice_status == 2" class="col s12 lighten-1 white grey-text vc-center fz13"  style="height:50px;">
        <div class="input-field col s6 cyan-text">
            发票编号：{{invoiceList.invoice_num}}
        </div>
        <div class="input-field col s6 right-align">
            开票时间：{{invoiceList.created_on |date:'yyyy-MM-dd HH:mm:ss'}}
        </div>
    </div>


    <div class="col s12 white">
        <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;"></div>
    </div>
    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:40px;">
        <div class="col s6">
            操作员：{{paymentInfo.ship_trans_user_name}}
        </div>
        <div class="col s6 right-align">
            生成时间：{{paymentInfo.ship_trans_created_date | date:'yyyy-MM-dd HH:mm:ss'}}
        </div>
    </div>
</div>

<!-- 模态画面【海运费用】 模态框 -->
<div id="editShipFeeDiv" class="modal modal-fixed-footer row" style="max-height: 496px;">

    <!-- Header -->
    <div class="modal_title center-align cyan white-text">海运费用</div>

    <!-- Body -->
    <div class="modal-content" style="max-height: 390px;">

        <!-- 显示画面【海运费用】 Body -->
        <div class="col" style="width:95%; margin-left: 20px;">
            <!-- 未支付 -->
            <div ng-show="newShipTransFee.pageType=='new'">
                <!-- 选择付费项目 -->
                <div class="col input-field" style="width:30%;margin-top: 20px;margin-bottom: 10px;">
                    <select material-select watch ng-model="newShipTransFee.type">
                        <option value="" disabled>Item</option>
                        <option ng-repeat="el in shipTransFeeTypes" ng-value="el.id">{{el.name}}</option>
                    </select>
                </div>

                <!-- 数量 -->
                <div class="col input-field" style="width:30%;margin-top: 20px;">
                    <input id="qtyText" type="text" valid-num maxlength="8" ng-model="newShipTransFee.qty">
                    <label for="qtyText">Qty</label>
                </div>

                <!-- 金额(美元) -->
                <div class="col input-field" style="width:30%;margin-top: 20px;">
                    <input id="feeText" type="text" valid-money maxlength="8" ng-model="newShipTransFee.fee">
                    <label for="feeText"><span class="red-text">*</span>Amount</label>
                </div>

                <!-- 备注 -->
                <div class="col input-field" style="width:90%;margin-bottom: 20px">
                    <input id="remarkText" type="text" maxlength="200" ng-model="newShipTransFee.remark">
                    <label for="remarkText">备注</label>
                </div>

                <div class="col right-align" style="width:10%;">
                    <a class="btn-floating waves-effect waves-light btn cyan " style="width:38px;height:38px;" ng-click="addShipTransOrderFeeRel()">
                        <i class="mdi mdi-plus"></i>
                    </a>
                </div>

                <!-- 分割线 -->
                <div ng-show="shipTransOrderFeeRelList.length > 0" class="col s12">
                    <div class="divider col s12" style="height: 2px; background-color: #c2c0c2;margin-top: 10px;margin-bottom: 10px;"></div>
                </div>

                <!-- 头部信息 -->
                <div ng-show="shipTransOrderFeeRelList.length > 0" class="col s12">
                    <!-- 类别 -->
                    <div class="col left-align" style="width:25%;">Item</div>
                    <!-- 数量 -->
                    <div class="col right-align" style="width:10%;">Qty</div>
                    <!-- 费用(美元) -->
                    <div class="col right-align" style="width:15%;">Amount</div>
                    <!-- 备注 -->
                    <div class="col center-align" style="width:40%;">备注</div>
                    <!-- 操作按钮 -->
                    <div class="col right-align" style="width:10%;"></div>
                </div>

                <!-- 分割线 -->
                <div ng-show="shipTransOrderFeeRelList.length > 0" class="col s12">
                    <div class="divider col s12" style="height: 2px; background-color: #c2c0c2;margin-top: 10px;margin-bottom: 10px;"></div>
                </div>

                <div ng-repeat="el in shipTransOrderFeeRelList" class="row grey-text text-darken-1" style="height:30px">

                    <!-- 类别 -->
                    <div class="col left-align" style="width:25%;">
                        {{shipTransFeeTypes[el.pay_type - 1].name}}
                    </div>

                    <!-- 数量 -->
                    <div class="col right-align" style="width:10%;">
                        <input type="text" class="right-align" style="height: 30px" ng-model="el.qty">
                    </div>

                    <!-- 费用(美元) -->
                    <div class="col right-align" style="width:15%;">
                        <input type="text" class="right-align red-text" valid-money maxlength="8" style="height: 30px" ng-model="el.pay_money">
                    </div>

                    <!-- 备注 -->
                    <div class="col right-align context-ellipsis" style="width:40%;">
                        <input type="text" style="height: 30px" ng-model="el.remark">
                    </div>

                    <!-- 操作按钮 -->
                    <div class="col right-align" style="width:10%;">
                        <div class="col s6 right-align">
                            <i class="mdi mdi-check look_icon cyan-text lighten-1" style="cursor: pointer" ng-click="updShipTransOrderFeeRel(el)"></i>
                        </div>
                        <div class="col s6 right-align">
                            <i class="mdi mdi-close look_icon red-text lighten-1" style="cursor: pointer" ng-click="delShipTransOrderFeeRel(el.id)"></i>
                        </div>
                    </div>

                    <!-- 分割线 -->
                    <div class="col s12">
                        <div class="divider col s12" style="background-color: #c2c0c2;margin-top: 2px;margin-bottom: 10px;"></div>
                    </div>
                </div>
            </div>

            <!-- 已支付（read only） -->
            <div ng-show="newShipTransFee.pageType!='new'">

                <!-- 分割线 -->
                <div ng-show="shipTransOrderFeeRelList.length > 0" class="col s12">
                    <div class="divider col s12" style="height: 2px; background-color: #c2c0c2;margin-top: 10px;margin-bottom: 10px;"></div>
                </div>

                <!-- 头部信息 -->
                <div ng-show="shipTransOrderFeeRelList.length > 0" class="col s12">
                    <!-- 类别 -->
                    <div class="col left-align" style="width:25%;">Item</div>
                    <!-- 数量 -->
                    <div class="col right-align" style="width:10%;">Qty</div>
                    <!-- 费用(美元) -->
                    <div class="col right-align" style="width:15%;">Amount</div>
                    <!-- 备注 -->
                    <div class="col center-align" style="width:50%;">备注</div>
                </div>

                <!-- 分割线 -->
                <div ng-show="shipTransOrderFeeRelList.length > 0" class="col s12">
                    <div class="divider col s12" style="height: 2px; background-color: #c2c0c2;margin-top: 10px;margin-bottom: 10px;"></div>
                </div>

                <div ng-repeat="el in shipTransOrderFeeRelList" class="row grey-text text-darken-1" style="height:30px">

                    <!-- 类别 -->
                    <div class="col left-align" style="width:25%;">
                        {{shipTransFeeTypes[el.pay_type - 1].name}}
                    </div>

                    <!-- 数量 -->
                    <div class="col right-align" style="width:10%;">
                        {{el.qty| number}}
                    </div>

                    <!-- 费用(美元) -->
                    <div class="col right-align red-text" style="width:15%;">
                        {{el.pay_money| currency}}
                    </div>

                    <!-- 备注 -->
                    <div class="col right-align context-ellipsis" style="width:50%;">
                        {{el.remark}}
                    </div>

                    <!-- 分割线 -->
                    <div class="col s12">
                        <div class="divider col s12" style="background-color: #c2c0c2;margin-top: 10px;margin-bottom: 10px;"></div>
                    </div>
                </div>
            </div>

            <!-- 合计费用(美元) -->
            <div class="col s12 right-align" style="margin-top: 5px;">
                合计费用(美元)：<span class="red-text">{{newShipTransFee.totalFee | currency}}</span>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <div class="modal-footer right-align">
        <a class="btn-floating waves-effect waves-light btn cyan lighten-1 modal-close" style="width:38px;height:38px; margin-right: 50px;">
            <i class="mdi mdi-check"></i>
        </a>
    </div>
</div>