<!--海运 --  订单管理-->
<div class="sea_transport_order">

    <!-- 上部分：检索条件输入区域 -->
    <div class="row col s12">
        <!-- 左侧：输入区 -->
        <div class="col s10">

            <!-- 行1 -->

            <!-- VIN -->
            <div class="input-field col" style="width:20%;">
                <input type="text" id="orderVIN" ng-model="conditionOrderVIN">
                <label for="orderVIN"> VIN</label>
            </div>
            <!-- 制造商 -->
            <div class="input-field col" style="width:20%;">
                <select material-select watch ng-model="conditionMakeId"
                        ng-change="changeMakerId(conditionMakeId)">
                    <option value="" selected>制造商</option>
                    <option ng-repeat="el in carMakerList" ng-value="el.id">{{el.make_name}}</option>
                </select>
            </div>
            <!-- 型号 -->
            <div class="input-field col" style="width:20%;">
                <select material-select watch ng-model="conditionModelId">
                    <option value="" selected>型号</option>
                    <option ng-repeat="el in carModelList" ng-value="el.id">{{el.model_name}}</option>
                </select>
            </div>
            <!-- 委托方 -->
            <div class="input-field col" style="width:20%;">
                <select id="entrustSelect" style="width: 100%">
                    <option value=""></option>
                    <option ng-repeat="el in entrustList" ng-value="el.id">{{el.short_name}}</option>
                </select>
                <!--<input type="text" id="entrustId" ng-model="conditionEntrust">
                <label for="entrustId">委托方</label>-->
            </div>
            <!-- 支付状态 -->
            <div class="input-field col" style="width:20%;">
                <select material-select watch ng-model="conditionPayStatus">
                    <option value="" selected>支付状态</option>
                    <option ng-repeat="el in payStatusList" ng-value="el.id">{{el.name}}</option>
                </select>
            </div>

            <!-- 行2 -->

            <!-- 船公司 -->
            <div class="input-field col" style="width:20%;">
                <select material-select watch ng-model="conditionShipCompanyId">
                    <option value="">船公司</option>
                    <option ng-repeat="el in shippingCoList" ng-value="el.id">{{el.ship_company_name}}</option>
                </select>
            </div>
            <!-- 船名-->
            <div class="input-field col" style="width:20%;">
                <input type="text" id="shipNameText" ng-model="conditionShipName">
                <label for="shipNameText">船名</label>
            </div>
            <!-- 货柜 -->
            <div class="input-field col" style="width:20%;">
                <input type="text" id="counterText" ng-model="conditionContainer">
                <label for="counterText">货柜</label>
            </div>
            <!-- 始发港口 -->
            <div class="input-field col" style="width:20%;">
                <select material-select watch ng-model="conditionStartPortId">
                    <option value="">始发港口</option>
                    <option ng-repeat="el in portList" ng-value="el.id">{{el.port_name}}</option>
                </select>
            </div>
            <!-- 目的港口 -->
            <div class="input-field col" style="width:20%;">
                <select material-select watch ng-model="conditionEndPortId">
                    <option value="">目的港口</option>
                    <option ng-repeat="el in portList" ng-value="el.id">{{el.port_name}}</option>
                </select>
            </div>

            <!-- 行3 -->

            <!-- 预计开船日期(始) -->
            <div class="input-field col" style="width:20%;">
                <input type="text" id="sailTimeStart" ng-model="conditionStartShipDateStart" class="datepicker" date><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="sailTimeStart">预计开船日期(始)</label>
            </div>
            <!-- 预计开船日期(终)-->
            <div class="input-field col" style="width:20%;">
                <input id="sailTimeEnd" type="text" ng-model="conditionStartShipDateEnd" class="datepicker" date><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="sailTimeEnd">预计开船日期(终)</label>
            </div>
            <!-- 预计到港日期(始) -->
            <div class="input-field col" style="width:20%;">
                <input id="arrivalTimeStart" type="text" ng-model="conditionEndShipDateStart" class="datepicker" date><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="arrivalTimeStart">预计到港日期(始)</label>
            </div>
            <!--预计到港日期(终)-->
            <div class="input-field col" style="width:20%;">
                <input id="arrivalTimeEnd" type="text" ng-model="conditionEndShipDateEnd" class="datepicker" date><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="arrivalTimeEnd">预计到港日期(终)</label>
            </div>
            <!-- booking -->
            <div class="input-field col" style="width:20%;">
                <input type="text" id="bookingText" ng-model="conditionBooking">
                <label for="bookingText">booking</label>
            </div>

            <!-- 行4 -->
            <!-- 实际开船日期 -->
            <div class="input-field col" style="width: 20%;">
                <input type="text" id="actualStartDateStartText" ng-model="condActualStartDateStart" class="datepicker" date><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="actualStartDateStartText">实际开船日期(始)</label>
            </div>
            <div class="input-field col" style="width: 20%;">
                <input id="actualStartDateEndText" type="text" ng-model="condActualStartDateEnd" class="datepicker" date><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="actualStartDateEndText">实际开船日期(终)</label>
            </div>

            <!-- 实际到港日期 -->
            <div class="input-field col" style="width: 20%;">
                <input id="actualEndDateStartText" type="text" ng-model="condActualEndDateStart" class="datepicker" date><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="actualEndDateStartText">实际到港日期(始)</label>
            </div>
            <div class="input-field col" style="width: 20%;">
                <input id="actualEndDateEndText" type="text" ng-model="condActualEndDateEnd" class="datepicker" date><i
                    class="mdi dataIcon mdi-table-large"></i>
                <label for="actualEndDateEndText">实际到港日期(终)</label>
            </div>
        </div>

        <!-- 右侧：按钮区 -->
        <div class="col s2" style="margin-top:70px;">
            <!--查询按钮-->
            <div class="col s6 center">
                <a class="btn-floating btn-large waves-light waves-effect red lighten-2  btn " ng-click="queryOrderList()">
                    <i class="mdi mdi-magnify"></i>
                </a>
            </div>

            <!--下载按钮-->
            <div class="col s6 center">
                <a class="btn-floating btn-large waves-light waves-effect btn vc-center" style="margin-right: 10px;background-color: #fea353;" ng-click="export()">
                    <i class="mdi mdi-cloud-download"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- 下部分：检索结果显示区域 -->
    <div class="col s12">
        <div class="divider" style="background: #4e84cb;height: 2px;"></div>
        <table class=" bordered striped centered">
            <thead class="blue-grey lighten-5">
            <tr class="grey-text text-darken-2">
                <th data-field="">订单编号</th>
                <th data-field="">VIN</th>
                <th data-field="">制造商</th>
                <th data-field="">型号</th>
                <th data-field="">始发港口</th>
                <th data-field="">目的港口</th>
                <th data-field="">船公司</th>
                <th data-field="">货柜</th>
                <th data-field="">费用(美元)</th>
                <th data-field="">预计开船日期</th>
                <th data-field="">实际开船日期</th>
                <th data-field="">委托方</th>
                <th data-field="">支付状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr  class="grey-text text-darken-1" ng-repeat="el in orderList">
                <!-- 订单编号 -->
                <td ng-bind="el.id"></td>
                <!--VIN-->
                <td ng-bind="el.vin"></td>
                <!--制造商-->
                <td ng-bind="el.make_name"></td>
                <!--型号-->
                <td ng-bind="el.model_name"></td>
                <!--始发港口-->
                <td ng-bind="el.start_port_name"></td>
                <!--目的港口-->
                <td ng-bind="el.end_port_name"></td>
                <!--船公司-->
                <td ng-bind="el.ship_company_name"></td>
                <!--货柜-->
                <td  ng-bind="el.container"></td>
                <!--费用(美元)-->
                <td class="red-text" ng-bind="el.total_fee"></td>
                <!--预计开船日期-->
                <td ng-bind="el.start_ship_date|date:'yyyy-MM-dd'"></td>
                <!--实际开船日期-->
                <td ng-bind="el.actual_start_date|date:'yyyy-MM-dd'"></td>
                <!--委托方-->
                <td>{{el.short_name}}</td>
                <!--支付状态-->
                <td ng-if="el.order_status==1" class="red-text">{{payStatusList[el.order_status-1].name}}</td>
                <td ng-if="el.order_status==2" class="grey-text">{{payStatusList[el.order_status-1].name}}</td>
                <!--操作-->
                <td class="operation col s12">
                    <!--<span class="s6 left-align">
                        <i class="mdi  mdi-delete-forever look_icon red-text lighten-1"
                           ng-click="deletePriceOrder(el.ship_trans_id,el.car_id)">
                        </i>
                    </span>-->
                    <span class="s12">
                        <a href="#" ui-sref="sea_transport_order_detail({id:el.id,from:'sea_transport_order'})" class=""><i
                                class="mdi mdi-file-outline look_icon cyan-text lighten-1  "></i>
                        </a>
                    </span>

                </td>
            </tr>
            <tr class="grey-text text-darken-1" ng-if="orderList.length == 0">
                <td colspan="14" style="letter-spacing: 2px;text-align: center;">暂无数据</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- 上下页按钮 -->
    <div class="paging_box col s12">
        <div class="right">
            <a class="waves-light waves-effect cyan lighten-1 btn  " id="pre" ng-click="preBtn()">
                上一页
            </a>
            <a class="waves-light waves-effect cyan lighten-1 btn " id="next" ng-click="nextBtn()">
                下一页
            </a>
        </div>
    </div>




</div>