<!-- 主菜单：仓储管理 -> 订单管理(订单详情) 画面 -->

<!-- 返回前画面 按钮 -->
<div class="" style="position: relative">
    <a class="storage_goback_btn btn-floating btn waves-effect cyan lighten-1 waves-light" ng-click="return()">
        <i class="mdi mdi-arrow-left-bold"></i>
    </a>
    <h4 class="center-align cyan-text text-lighten-1">海运订单详情</h4>
</div>

<!-- 分割线 -->
<div class="row">
    <div class="divider" style="background: #407BC7;height: 2px"></div>
</div>

<!-- 车辆信息 -->
<div class="row blue-grey lighten-5" style="width: 95%;border:1px solid #bdbdbd;margin-top: 10px;">
    <!-- header -->
    <div class="col s12 lighten-1 cyan-text vc-center" style="height:50px;">
        <div class="col s12">
            当前车辆
        </div>
    </div>
    <!-- body -->
    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
        <div class="col s4">
            VIN码：{{orderInfo.entrustName}}
        </div>
        <div class="col s4">
            制造商：{{orderInfo.vin}}
        </div>
        <div class="col s4">
            品牌：{{orderInfo.makeName}}/{{orderInfo.modelName}}
        </div>
    </div>
    <div class="col s12 white">
        <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;"></div>
    </div>
    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
        <div class="col s4">
            车辆年份：{{orderInfo.color}}
        </div>
        <div class="col s4">
            车价(美元)：<span style="color: red">{{orderInfo.entrustName}}</span>
        </div>
        <div class="col s4">
            委托方：{{orderInfo.vin}}
        </div>
    </div>
</div>



<!-- 支付编号 -->
<div ng-show="orderInfo.orderStatus==2" class="row blue-grey lighten-5" style="width: 95%;border:1px solid #bdbdbd;margin-top: 20px;">
    <!-- header -->
    <div class="col s12 lighten-1 cyan-text vc-center" style="height:50px;">
        <div class="col s6">
            支付编号：{{paymentInfo.id}}
        </div>
        <div class="col s6 right-align" ng-class="{'red-text':orderInfo.orderStatus == 1}">
            {{payStatusList[orderInfo.orderStatus-1].name}}
        </div>
    </div>

    <!-- body -->
    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
        <div class="input-field col s4">
            始发港口：{{paymentMethodList[paymentInfo.paymentType-1].name}}
        </div>
        <div class="input-field col s4">
            目的港口：{{paymentInfo.number}}
        </div>
        <div class="input-field col s4">
            开船日期：{{paymentInfo.paymentMoney | currency}}
        </div>
    </div>
    <div class="col s12 white">
        <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;"></div>
    </div>
    <!-- body -->
    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
        <div class="input-field col s4">
            船公司：{{paymentMethodList[paymentInfo.paymentType-1].name}}
        </div>
        <div class="input-field col s4">
            船名：{{paymentInfo.number}}
        </div>
        <div class="input-field col s4">
            到港日期：{{paymentInfo.paymentMoney | currency}}
        </div>
    </div>
    <div class="col s12 white">
        <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;"></div>
    </div>
    <!-- body -->
    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:50px;">
        <div class="input-field col s4">
            货柜：{{paymentMethodList[paymentInfo.paymentType-1].name}}
        </div>
        <div class="input-field col s4">
            booking：{{paymentInfo.number}}
        </div>
        <div class="input-field col s4">
            封签：{{paymentInfo.paymentMoney | currency}}
        </div>
    </div>

    <div class="col s12 white">
        <div class="divider s12 center" style="width:98%; margin-left: 10px;margin-right: 10px;margin-top: 10px;"></div>
    </div>


    <div class="col s12 lighten-1 white grey-text vc-center fz13" style="height:40px;">
        <div class="col s6">
            操作员：{{paymentInfo.paymentUserName}}
        </div>
        <div class="col s6 right-align">
            生成时间：{{paymentInfo.paymentEndDate | date:'yyyy-MM-dd HH:mm:ss'}}
        </div>
    </div>

</div>



<!-- 画面【修改价格】 模态框 -->
<div class="row" style="margin: 0">
    <div id="changePriceDiv" class="modal" style="width: 45%;height: 520px">
        <div class="modal-content center fz20" style="font-weight: 500;padding: 0;">

            <!-- 显示画面【修改价格】 Header -->
            <div class="row col s12 vc-center cyan"
                 style="color: white;letter-spacing:1px;font-weight: bold;height: 50px;">
                <p>修改价格</p>
            </div>

            <!-- 显示画面【钥匙信息】 Body -->
            <div class="row col s11"
                 style="padding:0 ;margin: 10px 0px 10px 40px ; border: 1px solid #cccccc;  background-color: #F5F5F5">
                <div style="margin: 0 auto;">

                    <!-- 钥匙 车辆信息 -->
                    <div class="vc-center col s12 left-align cyan-text fz20 lighten-4"
                         style="height:60px;">
                        <div class="col s12 left-align context-ellipsis">
                            <span>委托方：{{orderInfo.entrustName}}</span>
                        </div>
                    </div>

                    <div class="vc-center col s12">
                        <div class="divider s12 center" style="width:100%; margin-left: 10px;margin-right: 10px;"></div>
                    </div>

                    <!-- 钥匙 vin 制造商 型号 -->
                    <div class="vc-center col s12 left-align black-text fz14" style="height:50px ;">
                        <div class="col s6 left-align context-ellipsis">
                            <span>VIN：{{orderInfo.vin}}</span>
                        </div>
                        <div class="col s6 left-align context-ellipsis">
                            <span>车型：{{orderInfo.makeName==null ? '未知' : orderInfo.makeName}}/{{orderInfo.modelName==null ? '未知' : orderInfo.modelName}}</span>
                        </div>
                    </div>

                    <!--<div class="vc-center col s12">-->
                    <!--<div class="divider s12 center" style="width:100%; margin-left: 10px;margin-right: 10px;"></div>-->
                    <!--</div>-->
                    <div class="vc-center col s12">
                        <div style="border-top: #cccccc 1px dashed; overflow: hidden;width:100%; margin-left: 10px;margin-right: 10px;height: 1px"></div>
                    </div>

                    <!-- 钥匙 存放位置 -->
                    <div class="vc-center col s12 left-align black-text fz14" style="height:50px;">
                        <div class="col s6 left-align context-ellipsis">
                            <span>入库时间：{{orderInfo.enterTime |date:'yyyy-MM-dd hh:mm:ss'}}</span>
                        </div>
                        <div class="col s6 left-align context-ellipsis">
                            <span>出库时间：{{orderInfo.realOutTime |date:'yyyy-MM-dd hh:mm:ss'}}</span>
                        </div>
                    </div>

                    <div class="vc-center col s12">
                        <div class="divider s12 center" style="width:100%; margin-left: 10px;margin-right: 10px;"></div>
                    </div>

                    <!-- 钥匙 委托方 -->
                    <div class="vc-center col s12 left-align black-text fz14" style="height:60px ;">
                        <div class="col s12 left-align context-ellipsis">
                            预计支付：<span class="red-text fz18">{{orderInfo.planFee | currency}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12">
                <!-- 实际应付 -->
                <div class="col s11 input-field" style="margin-left: 30px;">
                    <input type="text" id="actualFeeText" maxlength="8" valid-money ng-model="modifyActualFee">
                    <label for="actualFeeText"><span style="color: red">* </span>实际应付：</label>
                </div>
            </div>

            <div class="divider col s12" style="margin-top: 50px;"></div>

            <div class="row col right-align" style="width: 96%;margin-top: 20px;">
                <a class="btn-floating waves-effect waves-light grey btn modal-close">
                    <i class="mdi mdi-close add_brand"></i>
                </a>

                <a class="btn-floating waves-effect waves-light cyan lighten-1 btn" style="margin-left: 20px;" ng-click="updateOrder()">
                    <i class="mdi mdi-check add_brand"></i>
                </a>
            </div>
        </div>
    </div>
</div>
