<!--主菜单: 海运管理 -> 海运日历 -->
<div class="ship_trans_calendar">
    <div class="" style="width: 90%; margin: 0 auto">
        <div class="row">
            <!--日历-->
            <div class="col s12 white p0 z-depth-1">
                <!--的选择-->
                <div style="height: 50px;padding-left:20px" class="red lighten-2">
                </div>

                <!--日历-->
                <div id="calendar" class="" style="padding: 0 12px" calendar></div>
                <div style="height: 76px"></div>
            </div>
        </div>
    </div>
</div>

