<div class="PublicTabs row  grey lighten-4">
    <div class="col s3 vc-center center-align active basic" data-url="/view/car/addTruck/basic.html" ><b>基本信息</b></div>
    <div class="col s3 vc-center center-align" data-url="/view/car/addTruck/car_inspection.html" ><b>车检</b></div>
    <div class="col s3 vc-center center-align" data-url="/view/car/addTruck/car_insurance.html" ><b>车保</b></div>
    <div class="col s3 vc-center center-align" data-url="/view/car/addTruck/remark.html"><b>备注</b></div>
</div>